@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using Vista.Helpers;
@inject NavigationManager navigationManager
@page "/"

<style>
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(6, 1fr); */
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "img img img"
        "img img img"
        "img img img"
        "n0 n1 n2"
        "n0 n3 n3"
        "n4 n3 n3"
        "n5 n5 n6"
        "n7 n8 n6";
        max-width: 960px;
        min-width: 300px;
        gap: 10px;
        height: 100vh;
        margin: 10px;
    }

    .imgCont{
        grid-area: img;
        min-width: 300px;
    }

    .imgBomberos{
        width: 100%;
        object-fit:cover;
        min-width: 300px;
        border-radius: 10px;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    article{
        border-radius: 10px;
        background: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        overflow: hidden;
    }
    .art1{
        grid-area: n0;
    }
    .art2{
        grid-area: n1;
        background: #fff;
        padding: 18px;
        margin-left: 0;
    }

    .art2 h1{
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
    .art2 span{
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
    }

    .art3{
        grid-area: n2;
        background: #262626;
        padding: 18px;
        margin-left: 0;
    }

    .art3 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: white;
    }

    .art3 span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        color: white;
    }

    .art4 {
        grid-area: n3;
    }

    .art5 {
        grid-area: n4;
        display: flex;
        background: #ffe7ba;
        position: relative;
    }

    .art6 {
        grid-area: n5;
    }

    .art7 {
        grid-area: n6;
    }

    .art8 {
        grid-area: n7;
    }

    #mapDiv div:focus-visible{
        border: none!important;
        outline: none!important;
    }

    /* seccion Bomberos */

    .bomberosArt{
        height: 100%;
        position: relative;
    }

        .imgBomberos2 {
            filter: brightness(0.5);
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .bomberosArt h1{
            position: absolute;
            left: 0;
            top: 0;
            padding: 15px;
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 45px;
            font-weight: 900;
            margin-top: 28px;
        }

        .btnCont{
            position: absolute;
            left: 1em;
            top: 7.5em;
            display: flex;
            width: 100%;
            gap: 10px;
        }

        .bomberosArt button {
            border-radius: 50%;
            padding: .3em;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* .bomberosArt button:hover {
            filter: invert(1);
        } */
        .bomberosArt i{
            color: black;
        }

        button{
            border: none;
            outline: none;
        }

    .ant-popover-inner{
        border-radius: 6px!important;
    }

    .ant-popover-inner-content{
        padding: 3px!important;
    }

        .ant-popover-inner-content p{
            font-weight: 600!important;
            font-family: 'Inter', sans-serif!important;
        }

    /* seccion Herramientas */

    .btnContA5{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

        .btnContA5 button{
            border-radius: 50%;
            padding: .3em;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            margin-top: 2em;
        }

        .art5-Title {
            font-size: 1.5em;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px 0 0 16px;
            font-weight: 700;
            font-family: 'Inter', sans-serif;
        }

    .art4{
        background: #ad2102;
        display: flex;
        
    }

    .art4 button{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 42px;
        margin: 3px;
    }

    .art4-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between;
    }
</style>

<div class="gridContainer">
    <div class="imgCont">
        <img class="imgBomberos" src="imagenes/bombeross.jpg"/> 
    </div>
    
    <article class="art1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d409.06599683140723!2d-60.018304051505964!3d-34.89319762296309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bea549b89c92c3%3A0xf5d09238b61d6e33!2sBomberos%20de%20Chivilcoy!5e0!3m2!1ses-419!2sar!4v1688997377809!5m2!1ses-419!2sar"  style="border:0!important;outline: 0!important;width: 100%; height: 100%;border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
    <a @onclick="@(() => { navigationManager.NavigateTo("/Bomberos/Legajo"); })" style="border-radius: 10px;">
        <article class="art2">
            <h1>LEGAJO</h1>
            <i class="fa-solid fa-user icoSelected" style="color: #263040;padding-right: 6px;"></i>
            <span>Visite su legajo</span>
        </article>
    </a>
    <a @onclick="@(() => { navigationManager.NavigateTo("/Licencias-Detalles"); })" style="border-radius: 10px;">
        <article class="art3">
            <h1>LICENCIAS</h1>
            <i class="fa-solid fa-file-signature" style="color: white;padding-right: 6px;"></i>
            <span>Ver las licencias</span>
        </article>
    </a>
    <article class="art4">
        <div class="art4-cont">
            <div>
                <div>
                    @* incendios *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-comercio"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4e" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-forestales"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4f" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-industriales"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4g" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-vehiculares"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/materiales-peligrosos"); })">
                            <i class="fa-solid fa-circle-radiation"></i>
                        </button>
                    </Popover>
                    <br />
                    <Popover ContentTemplate="@art4h" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-establecimientoEducativo"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4i" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-HospitalesClinicas"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4j" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-establecimientoPublico"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4k" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-viviendas"); })">
                            <i class="fa-sharp fa-solid fa-fire"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/factores-climaticos"); })">
                            <i class="fa-sharp fa-solid fa-cloud-bolt"></i>
                        </button>
                    </Popover>
                </div>
                <div>
                    @* rescates *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4n" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/rescates-persona"); })">
                            <i class="fa-solid fa-fire-extinguisher"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4o" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/rescates-animal"); })">
                            <i class="fa-solid fa-fire-extinguisher"></i>
                        </button>
                    </Popover>
                    @* servicios *@
                    <Popover ContentTemplate="@art4l" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/serviciosRepresentacion"); })">
                            <i class="fa-solid fa-helmet-safety"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4m" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/serviciosPrevencion"); })">
                            <i class="fa-solid fa-helmet-safety"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/accidentes"); })">
                            <i class="fa-solid fa-person-falling-burst"></i>
                        </button>
                    </Popover>
                </div>
            </div>
            <div style="display: flex; justify-content: flex-start; width: 100%;">
                <h2 style="font-size: 1.5rem;padding: 0;position: inherit;color: white;margin-left: 5px;">
                    CARGAR SALIDAS
                </h2>
            </div>
        </div>
        <img src="imagenes/bombero-removebg.png" />
    </article>
    <article class="art5">
        <h1 class="art5-Title" style="padding: 10px 0 0 8px;">HERRAMIENTAS</h1>
        <div class="btnContA5">
            <Popover OverlayClassName="myPopover" ContentTemplate="@art5a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Brigadas"); })">
                    <i class="fa-solid fa-users-gear"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Comunicacion"); })">
                    <i class="fa-solid fa-walkie-talkie"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Deposito"); })">
                    <i class="fa-solid fa-file-signature"></i>
                </button>
            </Popover>
        </div>
        <img src="imagenes/herramientas.png" style="margin-right: -26px;" />
    </article>
    <article class="art6" style="background: #22075e;">
        <div style="display: flex;padding: 20px;align-items: center;justify-content: space-evenly;height: 100%;">
            <h1 style="color: white;">REPORTES</h1>
            <style>
                .art6 button{ 
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                }
            </style>
            <Popover ContentTemplate="@art6a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialSalidas"); })">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialBomberos"); })">
                    <i class="fa-solid fa-users-gear"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/Reportes_Choferes"); })">
                    <i class="fa-solid fa-id-card"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialMoviles"); })">
                    <i class="fa-solid fa-truck-droplet icoSelected"></i>
                </button>
            </Popover>
        </div>
    </article>
    <article class="art7">
        <div class="bomberosArt">
            <img class="imgBomberos2" src="imagenes/bomberosGrid.jpg"/>
            <h1>BOMBEROS</h1>
            <div class="btnCont">
                <Popover ContentTemplate="@art7a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos"); })">
                        <i class="fa-solid fa-user-large"></i>
                    </button>
                </Popover>
                <Popover ContentTemplate="@art7b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/retirados"); })">
                        <i class="fa-solid fa-user-large-slash"></i>
                    </button>
                </Popover>
                <Popover ContentTemplate="@art7c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/sancionados"); })">
                        <i class="fa-solid fa-user-xmark"></i>
                    </button>
                </Popover>
                <Popover ContentTemplate="@art7d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/ascenso"); })">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </Popover>
            </div>
        </div>
    </article>
    <a @onclick="@(() => { navigationManager.NavigateTo("/moviles"); })" style="border-radius: 10px;">
        <article class="art8">
            <div class="bomberosArt" style="height: 112px;">
                <img class="imgBomberos2" style="filter: brightness(0.6);" src="imagenes/moviles.jpg" />
                <h1 style="font-size: 33px;margin-top: 0;">MOVILES</h1>
                <i style="position: absolute;left: 17px;top: 53px;color: white;" class="fa-solid fa-truck-droplet icoSelected"></i>
                <p style="position: absolute;left: 38px;top: 48px;color: white;font-family: 'Inter', sans-serif;font-size: 15px;">Ver moviles</p>
            </div>
        </article>
    </a>
    <a @onclick="@(() => { navigationManager.NavigateTo("/embarcaciones"); })" style="border-radius: 10px;">
        <article class="art9">
            <div class="bomberosArt" style="height: 112px;">
                <img class="imgBomberos2" style="filter: brightness(0.5);" src="imagenes/embarcacion.jpg" />
                <h1 style="font-size: 33px;margin-top: 0;">EMBARCACIONES</h1>
                <i style="position: absolute;left: 17px;top: 53px;color: white;" class="fa-sharp fa-solid fa-ship"></i>
                <p style="position: absolute;left: 38px;top: 48px;color: white;font-family: 'Inter', sans-serif;font-size: 15px;">Ver embarcaciones</p>
            </div>
        </article>
    </a>
</div>

@code {
    // art 4
    private RenderFragment art4a =
    @<div>
        <p>Materiales peligrosos</p>
    </div>;

    private RenderFragment art4b =
    @<div>
        <p>Factores climaticos</p>
    </div>;

    private RenderFragment art4c =
    @<div>
        <p>Accidentes</p>
    </div>;
    private RenderFragment art4d =
    @<div>
        <p>Incendio comercial</p>
    </div>;

    private RenderFragment art4e =
    @<div>
        <p>Incendio forestal</p>
    </div>;

    private RenderFragment art4f =
    @<div>
        <p>Incendio industrial</p>
    </div>;
    private RenderFragment art4g =
    @<div>
        <p>Incendio vehicular</p>
    </div>;

    private RenderFragment art4h =
    @<div>
        <p>Incendio est. educativo</p>
    </div>;

    private RenderFragment art4i =
    @<div>
        <p>Incendio hostiptales / clinicas</p>
    </div>;
    private RenderFragment art4j =
    @<div>
        <p>Incendio est. publico</p>
    </div>;

    private RenderFragment art4k =
    @<div>
        <p>Incendio viviendas</p>
    </div>;

    private RenderFragment art4l =
    @<div>
        <p>Servicio representacion</p>
    </div>;
    private RenderFragment art4m =
    @<div>
        <p>Servicio prevencion</p>
    </div>;

    private RenderFragment art4n =
    @<div>
        <p>Rescate persona</p>
    </div>;

    private RenderFragment art4o =
    @<div>
        <p>Rescate animal</p>
    </div>;

    // art 5
    private RenderFragment art5a =
    @<div>
        <p>Brigadas</p>
    </div>;

    private RenderFragment art5b =
    @<div>
        <p>Comunicacion</p>
    </div>;

    private RenderFragment art5c =
    @<div>
        <p>Deposito</p>
    </div>;
    
    // art 6
    private RenderFragment art6a =
    @<div>
        <p>Salidas</p>
    </div>;
    private RenderFragment art6b =
    @<div>
        <p>Bomberos</p>
    </div>;
    private RenderFragment art6c =
    @<div>
        <p>Choferes</p>
    </div>;
    private RenderFragment art6d =
    @<div>
        <p>Moviles</p>
    </div>;

    // art 7
    private RenderFragment art7a =
    @<div>
        <p>Activos</p>
    </div>;
    private RenderFragment art7b =
    @<div>
        <p>Retirados</p>
    </div>;
    private RenderFragment art7c =
    @<div>
        <p>Sancionados</p>
    </div>;
    private RenderFragment art7d =
    @<div>
        <p>Ascensos</p>
    </div>;
}