@*Este es el Index*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using Vista.Helpers;
@inject NavigationManager navigationManager
@page "/"

<style>
    /* Grid Container
            Las demas clases y elementos se encuentran dentro de este
            Por tanto tener en cuenta al cambiar alguna propiedad relacionada con tamaño o posicion */

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(6, 1fr); */
        grid-auto-rows: minmax(17%, auto);
        grid-template-areas:
            "img img img"
            "img img img"
            "img img img"
            "n0 n1 n2"
            "n0 n3 n3"
            "n4 n3 n3"
            "n5 n5 n6"
            "n7 n8 n6"
            "n9 n9 n10"
            "n9 n9 n10";
        max-width: 75.27%;
        min-width: 44.06%;
        gap: 0.73%;
        height: 100vh;
        margin-left: 0.73%;
        margin-top: 1.3%;
    }

    .background-container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
    }

    /* Componentes */

    article {
        border-radius: 1vw;
        background: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        overflow: hidden;
    }


    button {
        border: none;
        outline: none;
    }

    .ant-popover-inner {
        border-radius: 6px !important;
    }

    .ant-popover-inner-content {
        padding: 3px !important;
    }

        .ant-popover-inner-content p {
            font-weight: 600 !important;
            font-family: 'Inter', sans-serif !important;
        }

    /* Clases de imagenes */

    .imgCont {
        grid-area: img;
        min-width: 300px;
    }

    .imgBomberos {
        width: 100%;
        object-fit: cover;
        min-width: 300px;
        border-radius: 10px;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .imgBomberos2 {
        filter: brightness(0.5);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .FONDO_DE_PANTALLA {
        width: 100%;
        object-fit: cover;
        min-width: 300px;
        border-radius: 10px;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    /* Clases de Buttons */

    .btnCont {
        position: absolute;
        left: 1em;
        top: 7.5em;
        display: flex;
        width: 100%;
        gap: 10px;
    }

    /* Clases Art */

    .art1 {
        grid-area: n0;
    }

    .art2 {
        grid-area: n1;
        background: #3b509f;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
        color: white;
    }

    .art3 {
        grid-area: n2;
        background: #663737;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
    }

    .art3-PERSONAL {
        grid-area: n2;
        background: #663737;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
    }

    .art4 {
/*         background-image: url('https://i.imgur.com/ZN7adhk.jpeg'); */        
/*         background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        grid-area: n3;
        width: 100%;
        height: 100%;
        background-color:#A63636
    }

    .art5 {
        grid-area: n4;
        display: flex;
        background: #a44e33;
        position: relative;
    }

    .art6 {
        grid-area: n5;
        background-color: #D5955C !important;
    }

    .art7 {
        grid-area: n6;
    }

    .art8 {
        grid-area: n7;
        background: #eaa969;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
        color: white !important;
    }

    .art9 {
        width: 100%;
        height: 100%;
    }

    .art11 {
        width: 100%;
        max-height: 50%;
        grid-area: n9;
        background-color: #5e2626 !important
    }

    /* Componentes dentro de Art */

    .art2 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        font-size: 3vw;
    }

    .art2 span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 1vw;
    }

    .art3 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 3vw;
    }

    .art3 span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        color: white;
        font-size: 1vw;
    }

    .art3-PERSONAL h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 3vw;
    }

    .art3-PERSONAL span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        color: white;
        font-size: 1vw;
    }

    .art4 button {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vw;
        width: 3vw;
        margin: 3px;
        font-size: 1vw;
    }

    .art4-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between;
    }

    .art6 h1 {
        font-size: 3vw;
    }

    /* Modulo Bomberos */

    .bomberosArt {
        height: 100%;
        position: relative;
        font-size: 1vw;
    }

        .bomberosArt h1 {
            position: absolute;
            left: 0;
            top: 0;
            padding: 15px;
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 2.5vw;
            font-weight: 900;
        }

        .bomberosArt button {
            border-radius: 50%;
            padding: .3em;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bomberosArt i {
            color: black;
        }

    /* Modulo Departamentos */

    .btnContA5 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

        .btnContA5 button {
            border-radius: 50%;
            padding: .3em;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            margin-top: 2em;
            height: 3vw;
            width: 3vw;
            font-size: 1vw;
        }

    .art5-Title {
        font-size: 1.5vw;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px 0 0 16px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    /* Otros */

    #mapDiv div:focus-visible {
        border: none !important;
        outline: none !important;
    }

    .custom-icon {
        font-size: 15.75px; /* Ajusta el tamaño del ícono */
        line-height: 14px; /* Asegura que el ícono esté centrado verticalmente */
        display: inline-block; /* Permite especificar dimensiones */
        width: 15.75px; /* Ajusta el ancho del contenedor del ícono */
        height: 14px; /* Ajusta la altura del contenedor del ícono */
        text-align: center; /* Centra el ícono horizontalmente */
        color: white; /* Cambia el color del ícono según tus necesidades */
        position: absolute; /* Mantiene la posición */
        left: 17px; /* Ajusta la posición horizontal */
        top: 53px; /* Ajusta la posición vertical */
    }
</style>

<div class="background-container">
    <div class="imgCont">
        <img class="FONDO_DE_PANTALLA" src="~/Imagenes/FONDO_DE_PANTALLA (1).jpg" />
    </div>
    @* BOMBEROS *@ 
    <a @onclick="@(() => { navigationManager.NavigateTo("/Bomberos/Legajo"); })" style="border-radius: 10px;">
        <article class="art2">
            <h1 style="color: white;">LEGAJO</h1>
            <i class="fa-solid fa-user icoSelected" style="color: white;padding-right: 6px;"></i>
            <span>Visite su legajo</span>
        </article>
    </a>
    <a @onclick="@(() => { navigationManager.NavigateTo("/Licencias-Detalles"); })" style="border-radius: 10px;">
        <article class="art3">
            <h1>LICENCIAS</h1>
            <i class="fa-solid fa-file-signature" style="color: white;padding-right: 6px;"></i>
            <span>Ver las licencias</span>
        </article>
    </a>
    <article class="art4">
        <div class="art4-cont">
            <div>
                <div>
                    @* Incendios en comercio *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-comercio"); })">
                            <i class="fa-sharp fa-solid fa-store"></i>
                        </button>
                    </Popover>

                    @* Incendios forestales *@
                    <Popover ContentTemplate="@art4e" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-forestales"); })">
                            <i class="fa-sharp fa-solid fa-tree"></i>
                        </button>
                    </Popover>

                    @* Incendios industriales *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4f" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-industriales"); })">
                            <i class="fa-sharp fa-solid fa-industry"></i>
                        </button>
                    </Popover>

                    @* Incendios vehiculares *@
                    <Popover ContentTemplate="@art4g" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-vehiculares"); })">
                            <i class="fa-sharp fa-solid fa-car"></i>
                        </button>
                    </Popover>

                    @* Materiales peligrosos *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/materiales-peligrosos"); })">
                            <i class="fa-solid fa-circle-radiation"></i>
                        </button>
                    </Popover>

                    <br />

                    @* Incendios en establecimientos educativos *@
                    <Popover ContentTemplate="@art4h" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-establecimientoEducativo"); })">
                            <i class="fa-sharp fa-solid fa-school"></i>
                        </button>
                    </Popover>

                    @* Incendios en hospitales y clínicas *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4i" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-HospitalesClinicas"); })">
                            <i class="fa-sharp fa-solid fa-hospital"></i>
                        </button>
                    </Popover>

                    @* Incendios en establecimientos públicos *@
                    <Popover ContentTemplate="@art4j" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-establecimientoPublico"); })">
                            <i class="fa-sharp fa-solid fa-building"></i>
                        </button>
                    </Popover>

                    @* Incendios en viviendas *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4k" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios-viviendas"); })">
                            <i class="fa-sharp fa-solid fa-house"></i>
                        </button>
                    </Popover>

                    @* Factores climáticos *@
                    <Popover ContentTemplate="@art4b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/factores-climaticos"); })">
                            <i class="fa-sharp fa-solid fa-cloud-bolt"></i>
                        </button>
                    </Popover>
                </div>
                <div>
                    @* Rescates *@
                    <Popover OverlayClassName="myPopover" ContentTemplate="@art4n" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/rescates-persona"); })">
                            <i class="fa-sharp fa-solid fa-person"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4o" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/rescates-animal"); })">
                            <i class="fa-sharp fa-solid fa-paw"></i>
                        </button>
                    </Popover>

                    @* Servicios *@
                    <Popover ContentTemplate="@art4l" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/serviciosRepresentacion"); })">
                            <i class="fa-sharp fa-solid fa-people-group"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4m" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/serviciosPrevencion"); })">
                            <i class="fa-sharp fa-solid fa-shield-alt"></i>
                        </button>
                    </Popover>
                    <Popover ContentTemplate="@art4c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                        <button @onclick="@(() => { navigationManager.NavigateTo("/salidas/accidentes"); })">
                            <i class="fa-solid fa-person-falling-burst"></i>
                        </button>
                    </Popover>
                </div>
            </div>
            <div style="display: flex; justify-content: flex-start; width: 100%;">
                <h2 style="font-size: 2.5vw;padding: 0;position: inherit;color: white;margin-left: 5px;">
                    CARGAR SALIDAS
                </h2>
            </div>
        </div>
    </article>
    @* DEPARTAMENTOS *@
    <article class="art5">
        <h1 class="art5-Title" style="padding: 10px 0 0 8px; color:white !important;">DEPARTAMENTOS</h1>
        <div class="btnContA5">
            <Popover OverlayClassName="myPopover" ContentTemplate="@art5a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Brigadas"); })">
                    <i class="fa-solid fa-users"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Comunicacion"); })">
                    <i class="fa-solid fa-walkie-talkie"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Deposito"); })">
                    <i class="fa-solid fa-warehouse"></i>
                </button>
            </Popover>
        </div>
@*         <img src="imagenes/herramientas.png" style="margin-right: -26px;" />
 *@    </article>

    @* REPORTES *@
    <article class="art6" style="background: #2988B4;">
        <div style="display: flex;padding-top: 0.6%;padding-left:1.46%;align-items: center;justify-content: space-evenly;height: 100%;">
            <h1 style="color: white;">REPORTES</h1>
            <style>
                .art6 button {
                    border-radius: 50%;
                    width: 2.5vw;
                    height: 2.5vw;
                    font-size: 1vw;
                }
            </style>
            <Popover ContentTemplate="@art6a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialSalidas"); })">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialBomberos"); })">
                    <i class="fa-solid fa-user-clock"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/Reportes_Choferes"); })">
                    <i class="fa-solid fa-id-card"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialMoviles"); })">
                    <img src="imagenes/icons/fire_truck.svg"
                         alt="Camión de Bomberos"
                         style="width: 1.5em; height: 1.5em; vertical-align: middle; filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(0) contrast(1);" />
                </button>
            </Popover>
        </div>
    </article>
    @* PERSONAL/BOMBEROS *@
        <a @onclick="@(() => { navigationManager.NavigateTo("/bomberos"); })" style="border-radius: 10px;">
        <article class="art3-PERSONAL">
            <h1>PERSONAL</h1>
            <i class="fa-solid fa-people-group" style="color: white;padding-right: 6px;"></i>
            <span>Ver el personal</span>
        </article>
        </a>    
        @* UNIDADES *@
    <a @onclick="@(() => { navigationManager.NavigateTo("/unidades"); })" style="border-radius: 10px;">
        <article class="art8">
            <h1 style="color:white !important;">UNIDADES</h1>
            <i class="fa-solid fa-file-signature" style="color: white;padding-right: 6px;"></i>
            <span>Ver las unidades</span>
        </article>
    </a>

    @* FIRMAS *@
    <a @onclick="@(() => { navigationManager.NavigateTo("/incidentes-vehiculos"); })" style="border-radius: 10px;">
        <article class="art9" style="background-color:#2b4f7d">
            <div class="bomberosArt">
                <h1>FIRMAS</h1>
                <i style="position: absolute;left: 5%;top: 50%;color: white;" class="fa-solid fa-scroll"></i>
                <p style="position: absolute;left: 13%;top: 45%;color: white;font-family: 'Inter', sans-serif;font-size: 1.2vw;">Ver firmas</p>
            </div>
        </article>
    </a>

    @* ETICA *@
    <article class="art11" style="background-color:#952929;margin-bottom: 15% !important;margin-top: -21% !important">
        <div style="display: flex;padding: 5%;justify-content: space-evenly;height: 100%;">
            <h1 style="color: white; font-size: 3vw;">ÉTICA</h1>
            <style>
                .art11 button {
                    border-radius: 50%;
                    width: 2.5vw;
                    height: 2.5vw;
                    font-size: 1vw;
                }
            </style>
            <div style="gap: 10px;justify-content: center;display: flex;margin-top: 3% !important;">
                <Popover ContentTemplate="@art7c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/sancionados"); })">
                        <i class="fa-solid fa-user-xmark"></i>
                    </button>
                </Popover>
                <Popover ContentTemplate="@art7d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/ascenso"); })">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </Popover>
            </div>
        </div>
    </article>
</div>

@code {
    // art 4
    private RenderFragment art4a =
    @<div>
        <p>Materiales peligrosos</p>
    </div>;

    private RenderFragment art4b =
    @<div>
        <p>Factores climáticos</p>
    </div>;

    private RenderFragment art4c =
    @<div>
        <p>Accidentes</p>
    </div>;
    private RenderFragment art4d =
    @<div>
        <p>Incendio comercial</p>
    </div>;

    private RenderFragment art4e =
    @<div>
        <p>Incendio forestal</p>
    </div>;

    private RenderFragment art4f =
    @<div>
        <p>Incendio industrial</p>
    </div>;
    private RenderFragment art4g =
    @<div>
        <p>Incendio vehicular</p>
    </div>;

    private RenderFragment art4h =
    @<div>
        <p>Incendio en establecimiento educativo</p>
    </div>;

    private RenderFragment art4i =
    @<div>
        <p>Incendio hospitales / clínicas</p>
    </div>;
    private RenderFragment art4j =
    @<div>
        <p>Incendio en establecimiento público</p>
    </div>;

    private RenderFragment art4k =
    @<div>
        <p>Incendio viviendas</p>
    </div>;

    private RenderFragment art4l =
    @<div>
        <p>Servicio de representación</p>
    </div>;
    private RenderFragment art4m =
    @<div>
        <p>Servicio de prevención</p>
    </div>;

    private RenderFragment art4n =
    @<div>
        <p>Rescate persona</p>
    </div>;

    private RenderFragment art4o =
    @<div>
        <p>Rescate animal</p>
    </div>;


    // art 5
    private RenderFragment art5a =
    @<div>
        <p>Brigadas</p>
    </div>;

    private RenderFragment art5b =
    @<div>
        <p>Comunicacion</p>
    </div>;

    private RenderFragment art5c =
    @<div>
        <p>Deposito</p>
    </div>;

    // art 6
    private RenderFragment art6a =
    @<div>
        <p>Salidas</p>
    </div>;
    private RenderFragment art6b =
    @<div>
        <p>Bomberos</p>
    </div>;
    private RenderFragment art6c =
    @<div>
        <p>Choferes</p>
    </div>;
    private RenderFragment art6d =
    @<div>
        <p>Moviles</p>
    </div>;

    // art 7
    private RenderFragment art7a =
    @<div>
        <p>Activos</p>
    </div>;
    private RenderFragment art7b =
    @<div>
        <p>Inactivos</p>
    </div>;
    private RenderFragment art7c =
    @<div>
        <p>Sancionados</p>
    </div>;
    private RenderFragment art7d =
    @<div>
        <p>Ascensos</p>
    </div>;
}