@*Este es el Index*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using Vista.Helpers;
@inject NavigationManager navigationManager
@page "/"

<style>
    /* Grid Container
            Las demas clases y elementos se encuentran dentro de este
            Por tanto tener en cuenta al cambiar alguna propiedad relacionada con tamaño o posicion */

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(6, 1fr); */
        grid-auto-rows: minmax(17%, auto);
        grid-template-areas:
            "img img img"
            "img img img"
            "img img img"
            "n0 n1 n2"
            "n0 n3 n3"
            "n4 n5 n5" 
            "n7 n8 n6"
            "n9 n9 n10"
            "n9 n9 n10";
        max-width: 75.27%;
        min-width: 44.06%;
        gap: 0.73%;
        height: 100vh;
        margin-left: 0.73%;
        margin-top: 1.3%;
       
    }

    /* Componentes */

    article {
        border-radius: 1vw;
        background: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        overflow: hidden;
    }


    button {
        border: none;
        outline: none;
    }

    .ant-popover-inner {
        border-radius: 6px !important;
    }

    .ant-popover-inner-content {
        padding: 3px !important;
    }

        .ant-popover-inner-content p {
            font-weight: 600 !important;
            font-family: 'Inter', sans-serif !important;
        }

    /* Clases de imagenes */

    .imgCont {
        grid-area: img;
        min-width: 300px;
    }

    .imgBomberos {
        width: 100%;
        object-fit: cover;
        min-width: 300px;
        border-radius: 10px;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .imgBomberos2 {
        filter: brightness(0.5);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* Clases de Buttons */

    .btnCont {
        position: absolute;
        left: 1em;
        top: 7.5em;
        display: flex;
        width: 100%;
        gap: 10px;
    }

    /* Clases Art */

    .art1 {
        grid-area: n0;
    }

    .art2 {
        grid-area: n1;
        background: #3b509f;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
        color: white;
    }

    .art3 {
        grid-area: n2;
        background: #663737;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
    }

    .art3-PERSONAL {
        grid-area: n2;
        background: #663737;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
    }

    .art4 {
/*         background-image: url('https://i.imgur.com/ZN7adhk.jpeg'); */        
/*         background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        grid-area: n3;
        width: 100%;
        height: 100%;
        background-color:#A63636
    }

    .art5 {
        grid-area: n4;
        background-color: #D5955C !important;
    }

    .art6 {
        grid-area: n5;
        display: flex;
        background: #a44e33;
        position: relative;
    }

    .art7 {
        grid-area: n6;
    }

    .art8 {
        grid-area: n7;
        background: #121111;
        padding: 18px;
        margin-left: 0;
        width: 100%;
        height: 100%;
        font-size: 1vw;
        color: white !important;
        
    }

    .art8 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        font-size: 32px;
    }

    .art8 span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 1vw;
    }


    .art9 {
        width: 100%;
        height: 100%;
    }

    .art11 {
        width: 100%;
        max-height: 50%;
        grid-area: n9;
        background-color: #5e2626 !important
    }

        .art11 button {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 1vw;
        }

    /* Componentes dentro de Art */

    .art2 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        font-size: 32px;
    }

    .art2 span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 1vw;
    }

    .art3 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 32px;
    }

    .art3 span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        color: white;
        font-size: 1vw;
    }

    .art3-PERSONAL h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 32px;
    }

    .art3-PERSONAL span {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        color: white;
        font-size: 1vw;
    }

    .art4 h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 32px;
        margin-top:15px;
        margin-left:15px;
    }
        
    .art4 span {
            margin-top: 10px;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            color: white;
            font-size: 1vw;
    }

    .art6 h1 {
        font-size: 32px;
    }

    .art6 button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 1vw;
    }

    /* Modulo Bomberos */

    .bomberosArt {
        height: 100%;
        position: relative;
        font-size: 1vw;
    }

        .bomberosArt h1 {
            position: absolute;
            left: 0;
            top: 0;
            padding: 15px;
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 32px;
            font-weight: 900;
        }

        .bomberosArt button {
            border-radius: 50%;
            padding: .3em;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bomberosArt i {
            color: black;
        }

    /* Modulo Reportes */

    .btnContA5 {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

        .btnContA5 button {
            border-radius: 50%;
            padding: .3em;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            margin-top: 9px;
            height: 3vw;
            width: 3vw;
            font-size: 1vw;
        }

    .art5-Title {
        font-size: 32px;
        padding: 10px 0 0 16px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    /* Otros */

    #mapDiv div:focus-visible {
        border: none !important;
        outline: none !important;
    }

    .custom-icon {
        font-size: 15.75px; /* Ajusta el tamaño del ícono */
        line-height: 14px; /* Asegura que el ícono esté centrado verticalmente */
        display: inline-block; /* Permite especificar dimensiones */
        width: 15.75px; /* Ajusta el ancho del contenedor del ícono */
        height: 14px; /* Ajusta la altura del contenedor del ícono */
        text-align: center; /* Centra el ícono horizontalmente */
        color: white; /* Cambia el color del ícono según tus necesidades */
        position: absolute; /* Mantiene la posición */
        left: 17px; /* Ajusta la posición horizontal */
        top: 53px; /* Ajusta la posición vertical */
    }

    .boton_p {
        background-color: #732D2D !important;
        color: white !important;
        text-align: center;
        margin: 1px 0; 
    }

    .boton_c {
        background-color: #732D2D !important;
        color: white !important;
        margin-left: 15px;
        margin-top: 5px;
    }
</style>

<div class="gridContainer">
    <div class="imgCont">
            <img class="imgBomberos" src="imagenes/bombeross.jpg" />
    </div>
    @* BOMBEROS *@ 
    <a @onclick="@(() => { navigationManager.NavigateTo("/Bomberos/Legajo"); })" style="border-radius: 10px;">
        <article class="art2">
            <h1 style="color: white;">LEGAJO</h1>
            <i class="fa-solid fa-user icoSelected" style="color: white;padding-right: 6px;"></i>
            <span>Visite su legajo</span>
        </article>
    </a>
    <a @onclick="@(() => { navigationManager.NavigateTo("/Licencias-Detalles"); })" style="border-radius: 10px;">
        <article class="art3">
            <h1>LICENCIAS</h1>
            <i class="fa-solid fa-file-signature" style="color: white;padding-right: 6px;"></i>
            <span>Ver las licencias</span>
        </article>
    </a>
    <a style="border-radius: 10px">
    <article class="art4">
        <div>
            <div>
                <div>
                    <h1>SALIDAS</h1>
                      
               
                    <Dropdown>
                        <Overlay>
                                <Menu Style="overflow-y: auto; height: 275px;">
                                    <MenuItem>
                                        <Button Class="boton_p" @onclick="@(() => { navigationManager.NavigateTo("/salidas/factores-climaticos"); })">
                                            <strong>Factores Climaticos</strong>
                                        </Button>
                                    </MenuItem>

                                    <MenuItem>
                                        <div style="display: flex; flex-direction: column;">
                                            <Button Class="boton_p" @onclick="@(() => { navigationManager.NavigateTo("/salidas/materiales-peligrosos"); })">
                                                <strong>Materiales Peligrosos</strong>
                                            </Button>
                                        </div>
                                    </MenuItem>

                                    <MenuItem>
                                        <Button Class="boton_p" @onclick="@(() => { navigationManager.NavigateTo("/salidas/accidentes"); })">
                                            <strong>Accidentes</strong>
                                        </Button>
                                    </MenuItem>

                                    <MenuItem>
                                        <Button Class="boton_p" @onclick="@(() => toggleMenu("rescates"))">
                                            <strong>Rescates</strong>
                                        </Button>
                                        @if (showRescates)
                                        {
                                            <div style="padding-left: 10px;display: flex; flex-direction: column;">
                                                @foreach (var item in new[]
                                               {
                                            new { Text = "Persona", Url = "/salidas/rescates-persona" },
                                            new { Text = "Animal", Url = "/salidas/rescates-animal" },
                                            })
                                                {
                                                    <Button @onclick="@(() => { navigationManager.NavigateTo(item.Url); })" class="boton_p">
                                                        @item.Text
                                                    </Button>
                                                }
                                            </div>
                                        }
                                    </MenuItem>

                                    <MenuItem>
                                        <Button Class="boton_p" @onclick="@(() => toggleMenu("incendios"))">
                                            <strong>Incendios</strong>
                                        </Button>
                                        @if (showIncendios)
                                        {
                                            <div style="padding-left: 10px;display: flex; flex-direction: column;">
                                                @foreach (var item in new[]
                                               {
                                                    new { Text = "Maquina Agricola", Url = "/salidas/incendios-MaquinasAgricola" },
                                                    new { Text = "Aereonave", Url = "/salidas/incendios-Aereonaves" },
                                                    new { Text = "Comercio", Url = "/salidas/incendios-comercio" },
                                                    new { Text = "Establecimiento Educativo", Url = "/salidas/incendios-establecimientoEducativo" },
                                                    new { Text = "Forestal", Url = "/salidas/incendios-forestales" },
                                                    new { Text = "Industrial", Url = "/salidas/incendios-industriales" },
                                                    new { Text = "Vehicular", Url = "/salidas/incendios-vehiculares" },
                                                    new { Text = "Hospital/Clinica", Url = "/salidas/incendios-HospitalesClinicas" },
                                                    new { Text = "Establecimiento Publico", Url = "/salidas/incendios-establecimientoPublico" },
                                                    new { Text = "Vivienda", Url = "/salidas/incendios-viviendas" }
                                               })
                                                {
                                                    <Button @onclick="@(() => { navigationManager.NavigateTo(item.Url); })" class="boton_p">
                                                        @item.Text
                                                    </Button>
                                                }
                                            </div>
                                        }
                                    </MenuItem>

                                    <MenuItem>
                                        <Button Class="boton_p" @onclick="@(() => toggleMenu("servicios"))">
                                            <strong>Servicios Especiales</strong>
                                        </Button>
                                        @if (showServicios)
                                        {
                                            <div style="padding-left: 10px;display: flex; flex-direction: column;">
                                                @foreach (var item in new[]
                                               {
                                                    new { Text = "Representacion", Url = "/salidas/serviciosRepresentacion" },
                                                    new { Text = "Prevencion", Url = "/salidas/serviciosPrevencion" },
                                                    new { Text = "Suministro de Agua", Url = "/salidas/serviciosSuministroAgua" },
                                                    new { Text = "Colaboracion con Fuerzas de Seguridad", Url = "/salidas/serviciosColaboraciónFuerzasSeguridad" },
                                                    new { Text = "Colocacion de Driza", Url = "/salidas/serviciosColocaciónDriza" },
                                                    new { Text = "Capacitacion", Url = "/salidas/serviciosCapacitacion" },
                                                    new { Text = "Falsa Alarma", Url = "/salidas/serviciosFalsaAlarmas" },
                                                    new { Text = "Retirado de Obito", Url = "/salidas/serviciosRetiradoDeObito" }
                                               })
                                               {
                                                    <Button @onclick="@(() => { navigationManager.NavigateTo(item.Url); })" class="boton_p">
                                                        @item.Text
                                                    </Button>
                                               }
                                            </div>
                                        }
                                    </MenuItem>
                                </Menu>
                        </Overlay>
                            <ChildContent>
                                <Button class="boton_c" @onclick="ToggleDropdown" style="line-height: 1;">
                                    <div style="margin-top: -8px;">
                                        <strong>Cargar Salidas</strong>
                                    </div>
                                </Button>
                            </ChildContent>
                    </Dropdown>
                </div>
            </div>
        </div>   
    </article>
    </a>
    @* REPORTES *@
    <article class="art5">
        <h1 class="art5-Title" style="color:white !important;">REPORTES</h1>
        <div class="btnContA5">
            <Popover ContentTemplate="@art5a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialSalidas"); })">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialBomberos"); })">
                    <i class="fa-solid fa-user-clock"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/Reportes_Choferes"); })">
                    <i class="fa-solid fa-id-card"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art5d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Reportes/HistorialMoviles"); })">
                    <img src="imagenes/icons/fire_truck.svg"
                         alt="Camión de Bomberos"
                         style="width: 1.5em; height: 1.5em; vertical-align: middle; filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(0) contrast(1);" />
                </button>
            </Popover>
        </div>
        @*<img src="imagenes/herramientas.png" style="margin-right: -26px;" />*@
    </article>

    @* DEPARTAMENTOS *@
    <article class="art6" style="background: #d6774b;">
        <div style="display: flex; padding-left:1.46%; align-items: center; justify-content: space-evenly; width: 100%; height: 100%;">
            <h1 style="color: white;">DEPARTAMENTOS</h1>
            <Popover ContentTemplate="@art6a" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Brigadas"); })">
                    <i class="fa-solid fa-users"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6b" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Comunicacion"); })">
                    <i class="fa-solid fa-walkie-talkie"></i>
                </button>
            </Popover>
            <Popover ContentTemplate="@art6c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                <button @onclick="@(() => { navigationManager.NavigateTo("/Herramientas/Deposito"); })">
                    <i class="fa-solid fa-warehouse"></i>
                </button>
            </Popover>
        </div>
    </article>

    @* PERSONAL/BOMBEROS *@
        <a @onclick="@(() => { navigationManager.NavigateTo("/bomberos"); })" style="border-radius: 10px;">
        <article class="art3-PERSONAL">
            <h1>PERSONAL</h1>
            <i class="fa-solid fa-people-group" style="color: white;padding-right: 6px;"></i>
            <span>Ver el personal</span>
        </article>
        </a>    
        @* UNIDADES *@
    <a @onclick="@(() => { navigationManager.NavigateTo("/unidades"); })" style="border-radius: 10px;">
        <article class="art8">
            <h1 style="color: white">UNIDADES</h1>
            <i class="fa-solid fa-file-signature" style="color: white;padding-right: 6px;"></i>
            <span>Ver las unidades</span>
        </article>
    </a>

    @* FIRMAS *@
    <a @onclick="@(() => { navigationManager.NavigateTo("/incidentes-vehiculos"); })" style="border-radius: 10px;">
        <article class="art9" style="background-color:#2b4f7d">
            <div class="bomberosArt">
                <h1>FIRMAS</h1>
                <i style="position: absolute;left: 5%;top: 50%;color: white;" class="fa-solid fa-scroll"></i>
                <p style="position: absolute;left: 13%;top: 45%;color: white;font-family: 'Inter', sans-serif;font-size: 1.2vw;">Ver firmas</p>
            </div>
        </article>
    </a>

    @* ETICA *@
    <article class="art11" style="background-color:#952929;margin-bottom: 15% !important;margin-top: -21% !important">
        <div style="display: flex;padding: 5%;align-items: center; justify-content: space-evenly;height: 100%;">
            <h1 style="color: white; font-size: 32px;">ÉTICA</h1>
            <div style="gap: 10px;justify-content: center;display: flex;margin-top: 3% !important;">
                <Popover ContentTemplate="@art7c" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/sancionados"); })">
                        <i class="fa-solid fa-user-xmark"></i>
                    </button>
                </Popover>
                <Popover ContentTemplate="@art7d" Placement="@Placement.Bottom" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Hover})">
                    <button @onclick="@(() => { navigationManager.NavigateTo("/bomberos/ascenso"); })">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </Popover>
            </div>
        </div>
    </article>
</div>

@code {
   


    // art 5
    private RenderFragment art5a =
    @<div>
        <p>Salidas</p>
    </div>;
    private RenderFragment art5b =
    @<div>
        <p>Bomberos</p>
    </div>;
    private RenderFragment art5c =
    @<div>
        <p>Choferes</p>
    </div>;
    private RenderFragment art5d =
    @<div>
        <p>Moviles</p>
    </div>;

    // art 6
    private RenderFragment art6a =
    @<div>
        <p>Brigadas</p>
    </div>;
    private RenderFragment art6b =
    @<div>
        <p>Comunicacion</p>
    </div>;
    private RenderFragment art6c =
    @<div>
        <p>Deposito</p>
    </div>;

    // art 7
    private RenderFragment art7a =
    @<div>
        <p>Activos</p>
    </div>;
    private RenderFragment art7b =
    @<div>
        <p>Inactivos</p>
    </div>;
    private RenderFragment art7c =
    @<div>
        <p>Sancionados</p>
    </div>;
    private RenderFragment art7d =
    @<div>
        <p>Ascensos</p>
    </div>;
}
@code {
    private bool isOpen = false; //  inicializar aquí
    private bool showIncendios = false; // Inicializar aquí
    private bool showServicios = false; // Inicializar aquí
    private bool showRescates = false; 

    private void ToggleDropdown()
    {
        isOpen = !isOpen;
    }

    private void toggleMenu(string menu)
    {
        if (menu == "incendios")
        {
            showIncendios = !showIncendios;
            showServicios = false; // Asegúrate de cerrar el otro menú
            showRescates = false;
        }
        else if (menu == "servicios")
        {
            showServicios = !showServicios;
            showIncendios = false; // Asegúrate de cerrar el otro menú
            showRescates = false;
        }
        else if (menu == "rescates")
        {
            showRescates = !showRescates;
            showIncendios = false; // Asegúrate de cerrar el otro menú
            showServicios = false;
    }
    }
}