@implements IDisposable
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/PlanillasIntervencion/Imprimir/{AnioSalida:int?}/{NumeroParte:int?}/{ConCroquis:bool?}"
@layout EmptyLayout
@using System;
@using System.Globalization;
@inject NavigationManager navigationManager

<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        html, body {
            overflow-y: auto !important;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: system-ui, sans-serif;
        }

        body {
            padding: .5em 4.5em;
            width: 826px;
            height: 2712px;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        /* seccion 1 */

        .sec1 {
            display: flex;
            flex-direction: column;
        }

        .sec1-content {
            display: flex;
            flex-direction: row;
            font-weight: bold;
            position: relative;
            height: 10em;
            width: 100%;
            margin-top: 0;
        }

            .sec1-content h2 {
                text-decoration: underline;
                text-align: center;
                font-size: 1.5em;
            }

            .sec1-content p {
                text-align: center;
            }

        .sec1 h3 {
            font-size: 1.5em;
        }

            .sec1 h3:nth-child(2) {
                display: inline-block;
            }

        .sec1 h1 {
            display: inline-block;
            font-size: 3em;
        }

        thead tr td {
            border: 1px solid black;
            font-weight: bold;
        }

        table {
            text-align: center;
        }

            table td {
                padding: 0 1.5em;
            }

        /* seccion 2*/
        .sec2-contenedor {
            margin-left: 20px;
        }

        .sec2 p:first-child {
            font-weight: bold;
        }

        .sec2 .sec2-contenedor div ul {
            list-style: none;
            padding: 1.5em;
            font-weight: bold;
        }

            .sec2 .sec2-contenedor div ul li {
                padding: .3em 0;
            }

        .sec2-contenedor {
            display: flex;
            gap: 8em;
        }

        .sec2 div:nth-child(3) {
            padding: 1em 0 7em 0;
        }

        /* seccion 3 */

        .sec3-titulo {
            font-weight: bold;
        }

        .sec3-contenedor {
            display: flex;
            flex-direction: column;
            padding: 0 1em;
        }

            .sec3-contenedor div:first-child {
                padding: 0.6em 0 1.8em 0;
            }

            .sec3-contenedor div:nth-child(2) {
                padding: .8em 0;
            }

        .h3-2 {
            padding: 3em 0 .3em 0;
        }

        .div2-div > h3:first-child, .div2-div > h3:last-child {
            padding: 0 .7em;
        }

        .div2-div-contenido {
            display: flex;
            gap: 16em;
        }

        /* seccion 4 */

        .croquis {
            width: 90%;
            height: 23em;
            border: 1px solid black;
            border-radius: 5px;
            margin-left: 12px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <!-- seccion 1  -->
    <div class="sec1">
        <div class="sec1-content">
            <div style="width: 300px; font-size: 11px;position: absolute;left: 0; top: -20px;">
                <img style="height: 100px;width: 100px;margin-left: 100px;" src="/Imagenes/logoPlanilla.png" />
                <h2>SOCIEDAD DE <br>BOMBEROS VOLUNTARIOS CHIVILCOY</h2>
                <p style="font-size: 12.4px;">Personeria Juridica - Decreto</p>
            </div>
            <div style="position: absolute;right: 8em;font-size: 11px;top: 4em;">
                <div style="position: relative;">
                    <h3>PLANILLA DE INTERVENCION</h3>
                    <br>
                    <h3 style="font-size: 1.3em;">NRO: </h3>
                    <h1 style="font-size: 2.8em;display: inline-block;position: absolute;top: 24px;right: 20px;">@IntervencionVM.NumeroParte/@año</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- seccion 2  -->
    <div class="sec2">
        <p style="margin-left: .8em;">A) DATOS GENERALES</p>
        <div class="sec2-contenedor">
            <div>
                <ul>
                    <li style="display: inline-block;">FECHA: @IntervencionVM.Fecha.Date</li>
                    <li style="display: inline-block; margin-left: 8.5em;"> Día: @IntervencionVM.DiaDeLaSemana </li>
                    <li>AVISADO POR: @IntervencionVM.AvisadoPor </li>
                    <li>RECEPCIONADO POR: @IntervencionVM.Recepcionista</li>
                    <li>TIPO SERVICIO: @IntervencionVM.TipoServicio</li>
                    <li>DIRECCION: </li>
                    <li>JEFE DE LA INTERVENCION: </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>HORA DE SALIDA: @IntervencionVM.HoraSalida</li>
                    <li>HORA DE REGRESO: @IntervencionVM.HoraLlegada</li>
                    <li style="margin-left: 3em;">CAUSA: @IntervencionVM.Causa</li>
                    <li style="margin-left: 3em;">ZONA: @IntervencionVM.Zona</li>
                    <li style="margin-left: 3em;">LUGAR: @IntervencionVM.Lugar</li>
                </ul>
            </div>
        </div>
        <div style="padding-top: 0;">
            <p>
                LISTADO DE BOMBEROS EN MOVILES
            </p>
            <p style="padding-top: .4em;">
                Bomberos que arribaron en el movil:
            </p>
            <p>
                - [1º AYUDANTE] , -[2º AYUDANTE] , -[3º AYUDANTE] , - [BOMBERO]
            </p>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>MOVIL</td>
                        <td>KM LLEGADA</td>
                        <td>CHOFER</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- seccion 3  -->
    <div class="sec3">
        <div>
            <p class="sec3-titulo">
                B) @IntervencionVM.TipoServicio
            </p>
        </div>
        <div class="sec3-contenedor">
            <div>
                <h3 class="sec3-titulo">
                    Detalle o Daños generales:
                </h3>
                <p>incendio de contenedor</p>
            </div>
            <div>
                <h3 class="sec3-titulo h3-2">
                    Elementos cercanos no afectados:
                </h3>
                <br><br><br>
                <div class="div2-div" style="padding-bottom: 0px;">
                    <h3>Nombre de Locatario o Propietario: </h3>
                    <div class="div2-div-contenido">
                        <h3>Dni: </h3>
                        <h3>Seguro: </h3>
                        <h3>Compania: </h3>
                    </div>
                    <h3 style="padding-bottom: 0px;">Personas que pueden atestiguar: </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- seccion 4  -->
    <div class="sec4">
        @if (ConCroquis.HasValue && ConCroquis.Value)
        {
            <div class="sec4-titulo">
                <p class="sec3-titulo">
                    D) CROQUIS DE LA ESCENA
                </p>
                <div class="croquis">
                </div>
            </div>
        }
        <div>
            <p class="sec3-titulo" style="margin-top: 10px;">OBSERVACIONES:</p>
            <p>llamado de guardia Nº 2</p>
        </div>
        <div style="display: flex;padding: 3em;justify-content:center; gap: 15em;">
            <div style="display: flex;justify-content: space-between;flex-direction: column;gap: 3em; text-align: center;">
                <div>
                    <h3>CONFECCIONO  </h3>
                    <p>1º AYUDANTE- @IntervencionVM.Confecciono</p>
                </div>
                <div>
                    <p>....................................</p>
                    <h3>Firma</h3>
                </div>
            </div>
            <div style="display: flex;justify-content: space-between;flex-direction: column;gap: 3em;text-align: center;">
                <div>
                    <h3>GRADUADO A CARGO  </h3>
                    <p>1º AYUDANTE- @IntervencionVM.GraduadoCargo</p>
                </div>
                <div>
                    <p>....................................</p>
                    <h3>Firma</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@code {

    [Parameter]
    public int? AnioSalida { get; set; }

    [Parameter]
    public int? NumeroParte { get; set; }

    [Parameter]
    public bool? ConCroquis { get; set; }

    public class IntervencionViewModel
    {
        public DateTime Fecha { get; set; }

        public string DiaDeLaSemana => Fecha.ToString("dddd", new CultureInfo("es-ES"));

        public string AvisadoPor { get; set; }

        public string TipoServicio { get; set; }

        public string HoraSalida { get; set; }

        public string HoraLlegada { get; set; }

        public string NombreConfecciono { get; set; }

        public string ApellidoConfecciono { get; set; }

        public string Confecciono { get { return NombreConfecciono + "," + ApellidoConfecciono; } }

        public string GraduadoCargo { get { return GraduadoNombre + "," + ApellidoConfecciono; } }

        public string GraduadoNombre { get; set; }

        public string GraduadoApellido { get; set; }

        public int NumeroParte { get; set; }

        public string Recepcionista { get; set; }

        public TipoCausaIncendio? Causa { get; set; }

        public TipoZona Zona { get; set; }

        public string Lugar { get; set; }
    }

    BomberosDbContext Context { get; set; }

    IntervencionViewModel IntervencionVM { get; set; } = new();

    int año = DateTime.Now.Year;

    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        IntervencionVM = new();
    }

    protected override async Task OnInitializedAsync()
    {

        await Init();
        await CargarEncargado();

    }
    public async Task CargarEncargado()
    {
        var salida = await Context.Set<Salida>()
        .SingleOrDefaultAsync(s => s.NumeroParte == NumeroParte && s.AnioNumeroParte == AnioSalida);
        if (salida != null)
        {
            var quienlleno = await Context.Bomberos.SingleOrDefaultAsync(b => b.PersonaId == salida.QuienLlenoId);
            var encargado = await Context.Bomberos.SingleOrDefaultAsync(b => b.PersonaId == salida.EncargadoId);

            IntervencionVM.Fecha = salida.HoraSalida.Date;
            IntervencionVM.HoraSalida = "" + salida.HoraSalida.TimeOfDay;
            IntervencionVM.HoraLlegada = "" + salida.HoraLlegada.TimeOfDay;
            IntervencionVM.AvisadoPor = salida.NombreSolicitante + "," + salida.ApellidoSolicitante;
            IntervencionVM.NombreConfecciono = quienlleno.Nombre;
            IntervencionVM.ApellidoConfecciono = quienlleno.Apellido;
            IntervencionVM.GraduadoNombre = encargado.Nombre;
            IntervencionVM.GraduadoApellido = encargado.Apellido;
            IntervencionVM.NumeroParte = salida.NumeroParte;
            IntervencionVM.Recepcionista = salida.ReceptorBombero != null ? salida.ReceptorBombero.Nombre + salida.ReceptorBombero.Apellido : "No se registro recepcionista.";
            IntervencionVM.TipoServicio = "" + salida.TipoServicio;
            if (salida is Incendio incendio)
            {
                IntervencionVM.Causa = incendio.SuperficieAfectadaCausa;
            }

            if (salida.GetType().GetProperty("TipoLugar") != null)
            {
                IntervencionVM.Lugar = "" + (salida as dynamic).TipoLugar;
            }
            IntervencionVM.Zona = salida.TipoZona;
        }
    }

    public void Dispose()
    {
        Context?.Dispose();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            navigationManager.NavigateTo("javascript:window.print()");
        }
    }
}
