@implements ﻿IDisposable
@inject IDbContextFactory<BomberosDbContext> DbFactory
@inject IMessageService message
@inject IVehiculoService VehiculoService
@using System.ComponentModel
@using AntDesign.TableModels
@using Vista.Services

<style>

    .ant-table-pagination.ant-pagination {
        display: none !important;
    }

    .boton_p {
        background-color: #732D2D !important;
        color: white !important;
    }
    
    .ant-table-row.selected-row {
        background-color: #3363ff !important;
    }

    .ant-table-row.selected-row:hover{
        background-color: #3363ff !important;
    }

</style>

@if (existe)
{
    <div>
        @* PENDIENTE: Agregar filtrado *@
        <Table TItem="LimpiezaView" DataSource="novedades" Responsive OnRowClick="@OnRowClick"
            RowClassName="@(c => selectedLimpieza != null && c.Data.LimpiezaId == selectedLimpieza.LimpiezaId ? "selected-row" : "")">
            <PropertyColumn Property="c=>c.Fecha" />
            <PropertyColumn Property="c=>c.Descripcion">
                <Template>
                    @{
                        // PENDIENTE: terminar la muestra de una segunda linea
                        var descripcion = context.Descripcion;
                        if( descripcion != null && descripcion.Length > 9)
                        {
                            descripcion = descripcion.Substring(0, 7) + "...";
                        }
                        <div>@descripcion</div>
                     }
                </Template>
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Incidente" />
            <PropertyColumn Property="c=>c.Responsable" />
        </Table>
        <Button Class="boton_p" Disabled="selectedLimpieza == null" OnClick="BorrarLimpieza">
            Borrar
        </Button>
        <Button Class="boton_p" OnClick="()=>NuevaLimpiezaVisible = true">
            Nuevo
        </Button>
        <Button Class="boton_p" Disabled="selectedLimpieza == null" OnClick="()=> VerLimpiezaVisible = true">
            Ver
        </Button>
        <Button Class="boton_p" OnClick="OnClose">
            Cerrar
        </Button>
    </div>
}
else if (!existe)
{
    <div style="display: flex; justify-content: center;width: 100%;margin: 1em 1em;">
        <Spin Delay="500" Indicator=antIcon />
    </div>
}

<Modal Footer="null" Title="Grabar Novedad" OnCancel="@HandleCancel" Visible="@NuevaLimpiezaVisible">
    <LimpiezaAgregar VehiculoId="@VehiculoId" OnClose="@HandleCancel" />
</Modal>

<Modal Title="@("Detalles de novedad")" Visible="VerLimpiezaVisible" OnCancel="()=>VerLimpiezaVisible = false" Footer="null">
    <p>Numero Vehiculo: @vehiculo.NumeroMovil</p>
    <p>Fecha: @selectedLimpieza.Fecha</p>
    <p>Responsable: @selectedLimpieza.Responsable</p>
    <p>Incidente: @selectedLimpieza.Incidente</p>
    <p>Descripción: @selectedLimpieza.Descripcion</p>
</Modal>

@code {
    RenderFragment antIcon = @<Icon Type="loading" Theme="outline" Style="font-size: 24px; text-align: center; color: rgb(62, 24, 24);" Spin />;
    [Parameter] public int? VehiculoId { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    BomberosDbContext Context;
    VehiculoSalida? vehiculo { get; set; }
    public bool existe;
    List<LimpiezaView> novedades = new();
    bool NuevaLimpiezaVisible { get; set; }
    bool VerLimpiezaVisible { get; set; }

    public class LimpiezaView
    {
        public int LimpiezaId { get; set; }
        public DateTime Fecha { get; set; }
        public string? Descripcion { get; set; }
        public TipoIncidente Incidente { get; set; }
        public string? Responsable { get; set; }
    }

    LimpiezaView selectedLimpieza;
    public void OnRowClick(RowData<LimpiezaView> rowData)
    {
        selectedLimpieza = rowData.Data;
    }

    // Funciones de visibilidad de Modals
    public async void HandleCancel()
    {
        NuevaLimpiezaVisible = false;
        await MostrarDatos();
        StateHasChanged();
    }

    // Funciones relacionadas con datos
    public async void BorrarLimpieza()
    {
        if (selectedLimpieza != null)
        {
            Limpieza limpieza = await Context.Limpiezas.SingleOrDefaultAsync(e => e.LimpiezaId == selectedLimpieza.LimpiezaId);
            await VehiculoService.BorrarLimpieza(limpieza);
            await MostrarDatos();
            StateHasChanged();
            selectedLimpieza = null;
            message.Success("Limpieza borrada");
        }
    }
    public async Task MostrarDatos()
    {
        vehiculo = await Context.Set<VehiculoSalida>().SingleOrDefaultAsync(e => e.VehiculoId == VehiculoId);
        if (vehiculo != null)
        {
            novedades = new();
            foreach (Limpieza li in Context.Limpiezas.ToArray())
            {
                if (li != null && li.Vehiculo != null)
                {
                    if (li.Vehiculo.VehiculoId == vehiculo.VehiculoId){
                        Bombero? ResponsableLi = await Context.Bomberos.SingleOrDefaultAsync(b => b.PersonaId == li.ResponsableId);
                        LimpiezaView novedad = new()
                        {
                            LimpiezaId = li.LimpiezaId,
                            Fecha = li.Fecha,
                            Descripcion = li.Descripcion,
                            Incidente = li.Incidente,
                            Responsable = ResponsableLi != null ? li.Responsable.Nombre + ", " + li.Responsable.Apellido : ""
                        };
                    novedades.Add(novedad);
                    }
                }
            }
            existe = true;
        }
        else if (vehiculo is null)
        {
            existe = false;
        }
    }


    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        await MostrarDatos();
    }
    public void Dispose()
    {
        Context?.Dispose();
    }
}