@implements IDisposable
@inject IMessageService message
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios-industriales"
@using Vista.Services;
@inject ISalidaService SalidaService;
@using System.ComponentModel.DataAnnotations;
@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;
@using System.Text.Json;
@using Vista.Pages.Salidas.Incendios.ComponentesIncendio

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;

<style>
    .ant-carousel .slick-dots li {
        display: none !important;
    }

    .ant-form-item-control-input-content, .ant-form-item-label {
        padding: 0 !important;
    }

    .ant-form-item-row:nth-child(2) {
        display: flex !important;
    }

    .ant-input-number {
        width: auto !important;
    }

    .steps-content {
        margin-top: 16px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        min-height: 200px;
        text-align: center;
        padding-top: 80px;
    }

    .steps-action {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;
        gap: 5px;
    }

    .inpt-cont {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        padding: .3em 0;
        width: 100%;
        overflow: hidden !important;
    }

    .inpt-cont-inline {
        min-width: 170px;
        display: flex;
        gap: 1em;
        padding: .3em 0;
        overflow: hidden !important;
    }

    .inpt-cont--lbl {
        min-width: 170px;
        text-align: start;
        font-weight: bold;
        overflow: hidden !important;
    }

    .ant-table-cell {
        text-align: center !important;
    }

    @@media screen and (max-width: 450px) {
        .contenedor {
            padding: 0 21px !important;
        }

        .ant-picker-datetime-panel {
            flex-direction: column;
        }

        .ant-picker-panel-container {
            overflox: auto !imporant;
        }
    }

    .boton_p {
        background-color: #732D2D !important;
        color: white !important;
    }

    textarea {
        resize: none !important;
        min-height: 250pxpx !important;
        width: 100% !important;
    }
</style>

<Form Model="@salidaIncendioIndustrialView"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%;overflow: hidden!important;">
    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">
        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>
        <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">


            @if (current == 0)
            {
                @*General*@
                <DatosGenerales Model="@salidaIncendioIndustrialView"
                    animationClass="@animationClass" />
            }
            else if (current == 1)
            {
                @*Solicitante | Receptor | Damnificado*@
                <Participantes Model="@salidaIncendioIndustrialView"
                           animationClass="@animationClass" />
            }
            else if (current == 2)
            {
                @*Seguro*@
                <Seguro Model="@salidaIncendioIndustrialView"
                        animationClass="@animationClass" />
            }
            else if (current == 3)
            {
                @*Chofer y Movil*@
                <Vehiculos Model="@salidaIncendioIndustrialView"
                           animationClass="@animationClass"
                           bomberoChoferes="@bomberoChoferes"
                           movilSalidaViewModels="@movilSalidaViewModels"
                           chofer="@chofer"
                           Moviles="@Moviles"
                           NumeroMovil="@NumeroMovil"
                           MovilesSalidasL="@MovilesSalidasL" />
            }
            else if (current == 4)
            {
                @*Bomberos*@
                <Personal Model="@salidaIncendioIndustrialView"
                          animationClass="@animationClass" />
            }
            else if (current == 5)
            {
                @*Info-Salida*@
                <div class="inpt-cont-inline">
                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Lugar</label>
                        <EnumSelect TEnum="TipoIncendioIndustria" @bind-Value="@salidaIncendioIndustrialView.TipoLugar" />
                    </div>
                </div>
                <Establecimiento Model="@salidaIncendioIndustrialView"
                    animationClass="@animationClass" />
            }
            else if(current == 6)
            {
                <div class="slick-contenedor">
                    <DatosSalida Model="@salidaIncendioIndustrialView"
                                 animationClass="@animationClass" />
                </div>
            }
        </div>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Cargar salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {

    @*Context y ViewModels*@
    BomberosDbContext Context { get; set; }
    public IncendioIndustriaViewModels salidaIncendioIndustrialView = new();
    private DamnificadoViewModels damnificado = new();
    private MovilSalidaViewModels movilSalidaViewModels = new();
    private BomberoSalidaViewModels bomberoSalidaView = new();
    public List<DamnificadoViewModels> DamnificadosSalida = new();
    public List<MovilSalidaViewModels> MovilesSalidasL = new();
    public List<BomberoSalidaViewModels> bomberosSalida = new();
    public List<BomberoViweModel> bomberoChoferes = new();
    public List<BomberoViweModel> bomberoTodos = new();

    Bombero[] TodosBomberos;
    Movil[] Moviles;

    @*Sin Uso*@
    //bool switchValueS { get; set; }
    //bool chek { get; set; }
    bool _visible1;

    public int ImprimirNumeroParte;
    void HandleOk1(int _numeroParte)
    {
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }


    @*Damnificados | Bomberos | Moviles y Chofer | Steps *@

    @*Damnificados*@
    bool switchValue { get; set; }// Cargar Damnificado [Si/No]

    @*Metodo*@


    @*Bomberos*@
    int BomberoReceptor;// Falta info..

    @*Carga*@

    public async Task CargarBomberosView()
    {
        bomberoTodos = new();
        bomberoChoferes = new();
        var bomberos = await Context.Bomberos.OrderBy(b => b.Nombre).ToArrayAsync();
        foreach (Bombero b in TodosBomberos)
        {
            BomberoViweModel bombero = new()
                {
                    FechaNacimiento = b.FechaNacimiento,
                    Sexo = b.Sexo,
                    Nombre = b.Nombre,
                    Apellido = b.Apellido,
                    Documento = b.Documento,
                    NumeroLegajo = b.NumeroLegajo,
                    NumeroIoma = b.NumeroIoma,
                    LugarNacimiento = b.LugarNacimiento,
                    Grado = b.Grado,
                    Dotacion = b.Dotacion,
                    Estado = b.Estado,
                    Chofer = b.Chofer,
                    VencimientoRegistro = b.VencimientoRegistro,
                    Direccion = b.Direccion,
                    Observaciones = b.Observaciones,
                    Profesion = b.Profesion,
                    NivelEstudios = b.NivelEstudios,
                    FechaAceptacion = b.FechaAceptacion,
                };
            if (b.Chofer == true)
            {
                bomberoChoferes.Add(bombero);
            }
            bomberoTodos.Add(bombero);
        }
    }


    @*Moviles | Chofer*@
    int chofer;
    string NumeroMovil;

    bool loading = false;
    void toggle(bool value) => loading = value;

    @*Steps*@
    public int current { get; set; } = 0;
    private string animationClass = "";

    public class StepItem
    {
        public string Title { get; set; }
        public string Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales */
        new StepItem {Title = " ", Content = ""}, /* Participantes */
        new StepItem {Title = " ", Content = ""}, /* Seguro */
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""},  /* Establecimiento */
        new StepItem {Title = " ", Content = ""}  /* Industria */
    };

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    @*Init | OnChange y OnFinish*@
    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        salidaIncendioIndustrialView = new();
        salidaIncendioIndustrialView.Tipo = TipoIncendio.Industria; // Establecer valor predeterminado
        TodosBomberos = await Context.Bomberos.OrderBy(b => b.Nombre).ToArrayAsync();
        Moviles = await Context.Moviles.OrderBy(m => m.NumeroMovil).ToArrayAsync();
        await CargarBomberosView();
    }
    private async void OnFinish(EditContext editContext)
    {
        try
        {
            Bombero? bomberoReceptor = await Context.Bomberos.Where(b => b.NumeroLegajo == BomberoReceptor).SingleOrDefaultAsync();
            Bombero? bomberoEncargado = await Context.Bomberos.Where(b => b.NumeroLegajo == salidaIncendioIndustrialView.LegajoEncargado).SingleOrDefaultAsync();
            Bombero? BomberoLlenoPlanilla = await Context.Bomberos.Where(b => b.NumeroLegajo == salidaIncendioIndustrialView.LegajoLLenoPlanilla).SingleOrDefaultAsync();
            if (salidaIncendioIndustrialView is not null)
            {
                Vista.Data.Models.Salidas.Planillas.IncendioIndustria? numeroParte = await Context.IncendiosIndustrias.Where(m => m.NumeroParte == salidaIncendioIndustrialView.NumeroParte).SingleOrDefaultAsync();
                if (numeroParte != null)
                {
                    message.Warning("Numero parte ya existente.");
                    return;
                }
                if (salidaIncendioIndustrialView is not null)
                {
                    IncendioIndustria salidaIncendioIndustria = new()
                        {
                            Tipo = salidaIncendioIndustrialView.Tipo,
                            Descripcion = salidaIncendioIndustrialView.Descripcion,
                            HoraSalida = salidaIncendioIndustrialView.HoraSalida,
                            HoraLlegada = salidaIncendioIndustrialView.HoraLLegada,
                            //KmSalida = salidaIncendioIndustrialView.KmSalida,
                            //KmLlegada = salidaIncendioIndustrialView.KmLlegada,
                            NumeroParte = salidaIncendioIndustrialView.NumeroParte,
                            AnioNumeroParte = salidaIncendioIndustrialView.AnioNumeroParte,
                            CalleORuta = salidaIncendioIndustrialView.CalleORuta,
                            NumeroOKilometro = salidaIncendioIndustrialView.NumeroOKilometro,
                            EntreCalles = salidaIncendioIndustrialView.EntreCalles,
                            PisoNumero = salidaIncendioIndustrialView.PisoNumero,
                            Depto = salidaIncendioIndustrialView.Depto,
                            NombreYApellidoReceptor = salidaIncendioIndustrialView.NombreYApellidoReceptor,
                            TelefonoReceptor = salidaIncendioIndustrialView.TelefonoReceptor,
                            TipoZona = salidaIncendioIndustrialView.TipoZona,
                            NombreSolicitante = salidaIncendioIndustrialView.NombreSolicitante,
                            ApellidoSolicitante = salidaIncendioIndustrialView.ApellidoSolicitante,
                            DniSolicitante = salidaIncendioIndustrialView.DniSolicitante,
                            TelefonoSolicitante = salidaIncendioIndustrialView.TelefonoSolicitante,
                            DeteccionAutomaticaId = salidaIncendioIndustrialView.DeteccionAutomaticaId,
                            Extintor = salidaIncendioIndustrialView.Extintor,
                            Hidrante = salidaIncendioIndustrialView.Hidrante,
                            TipoLugar = salidaIncendioIndustrialView.TipoLugar,
                            TipoEvacuacion = salidaIncendioIndustrialView.TipoEvacuacion,
                            TipoServicio = salidaIncendioIndustrialView.TipoServicio,
                            TipoSuperficieAfectada = salidaIncendioIndustrialView.TipoSuperficieAfectada,
                            DetalleSuperficieAfectadaIncendio = salidaIncendioIndustrialView.DetalleSuperficieAfectadaIncendio,
                            SuperficieAfectadaCausa = salidaIncendioIndustrialView.SuperficieAfectadaCausa,
                            TipoAbertura = salidaIncendioIndustrialView.TipoAbertura,
                            OtraAbertura = salidaIncendioIndustrialView.OtraAbertura,
                            TipoTecho = salidaIncendioIndustrialView.TipoTecho,
                            OtroTecho = salidaIncendioIndustrialView.OtroTecho,
                            OtroLugar = salidaIncendioIndustrialView.OtroLugar,
                            NombreEstablecimiento = salidaIncendioIndustrialView.NombreEstablecimiento,
                            CantidadPisos = salidaIncendioIndustrialView.CantidadPisos,
                            PisoAfectado = salidaIncendioIndustrialView.PisoAfectado,
                            CantidadAmbientes = salidaIncendioIndustrialView.CantidadAmbientes,
                            QuienLleno = BomberoLlenoPlanilla,
                            ReceptorBombero = bomberoReceptor,
                            Encargado = bomberoEncargado,
                            Seguro = new()
                            {
                                CompañiaAseguradora = salidaIncendioIndustrialView.CompaniaAseguradora,
                                NumeroDePoliza = salidaIncendioIndustrialView.NumeroPoliza,
                                FechaDeVencimineto = salidaIncendioIndustrialView.FechaVencimineto,
                            },
                            Damnificados = new(),
                            Moviles = new(),
                            CuerpoParticipante = new()
                        };
                    foreach (BomberoSalidaViewModels bom in bomberosSalida)
                    {
                        Bombero? bomberoSalida = await Context.Bomberos.Where(b => b.NumeroLegajo == bom.NumeroLegajo).SingleOrDefaultAsync();
                        BomberoSalida BomSalida = new()
                            {
                                Salio = bom.Salio,
                                Bombero = bomberoSalida
                            };
                        salidaIncendioIndustria.CuerpoParticipante.Add(BomSalida);
                    }

                    foreach (MovilSalidaViewModels m in MovilesSalidasL)
                    {
                        Bombero? bomberoChofer = await Context.Bomberos.SingleOrDefaultAsync(b => b.NumeroLegajo == m.Chofer.NumeroLegajo);
                        Movil? Movilsalida = await Context.Moviles.SingleOrDefaultAsync(mob => mob.NumeroMovil == m.MovilesSalida.NumeroMovil);
                        if (Movilsalida is not null)
                        {
                            Movilsalida.Kilometraje = m.KmLlegada;
                        }
                        MovilSalida movilS = new()
                            {
                                CargoCombustible = m.CargoCombustible,
                                NumeroFactura = movilSalidaViewModels.NumeroFactura,
                                FechaFactura = movilSalidaViewModels.FechaFactura,
                                TipoConbustible = movilSalidaViewModels.TipoConbustible,
                                CantidadLitros = movilSalidaViewModels.CantidadLitros,
                                QuienLleno = movilSalidaViewModels.QuienLleno,
                                TelefonoQuienLleno = movilSalidaViewModels.TelefonoQuienLleno,
                                KmLlegada = m.KmLlegada,
                                Chofer = bomberoChofer,
                                Movil = Movilsalida
                            };
                        salidaIncendioIndustria.Moviles.Add(movilS);
                    }


                    foreach (DamnificadoViewModels d in DamnificadosSalida)
                    {

                        Damnificado damn = new()
                            {
                                Nombre = d.Nombre,
                                Apellido = d.Apellido,
                                Dni = d.Dni,
                                Sexo = d.Sexo,
                                LugarDeNacimiento = d.LugarDeNacimiento,
                                Edad = d.Edad,
                                Estado = d.Estado,
                            };
                        salidaIncendioIndustria.Damnificados.Add(damn);
                    }
                    await SalidaService.CargarIncendio(salidaIncendioIndustria);
                    HandleOk1(salidaIncendioIndustria.NumeroParte);
                    await Init();
                    StateHasChanged();
                    await message.Success("Salida agregada correctamente");
                }
            }
        }
        catch (Exception e)
        {
            await Init();
            StateHasChanged();
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }

    

    //OnFinishFailed
    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(salidaIncendioIndustrialView)}");
        message.Error("Error al cargar, posible información ausente");
    }

    private void OnFinishFailedModel(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(movilSalidaViewModels)}");
    }

    @*"Delete" y Dispose*@
    public void Dispose()
    {
        Context?.Dispose();
    }
}
