@implements IDisposable
@inject IMessageService message
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios-HospitalesClinicas"
@using Vista.Services;
@inject ISalidaService SalidaService;
@using System.ComponentModel.DataAnnotations;
@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;
@using System.Text.Json;
@using Vista.Pages.Salidas.Incendios.ComponentesIncendio;

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;
@using Vista.Data.Models.Salidas.Planillas.Incendios;

<Form Model="@HospitalClinicaViewModel"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%; overflow: hidden!important;">
    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>INCENDIO HOSPITALES/CLINICAS</h2>
        </div>


        @*Datos*@
        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>
        <Flex Justify="center">
            <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
            @if (current == 0)
            {
                @*General*@
                    <DatosGenerales Model="@HospitalClinicaViewModel"
                                animationClass="@animationClass"
                                esSoloDireccion="true" />
            }
            else if (current == 1)
            {
                @*Solicitante | Receptor | Damnificado*@
                <Participantes Model="@HospitalClinicaViewModel"
                               animationClass="@animationClass" />
            }
            else if (current == 2)
            {
                <Seguro Model="@HospitalClinicaViewModel"
                        animationClass="@animationClass" />
            }
            else if (current == 3)
            {
                <Vehiculos Model="@HospitalClinicaViewModel"
                           animationClass="@animationClass" />
            }
            else if (current == 4)
            {
                @*Bomberos*@
                <Personal Model="@HospitalClinicaViewModel"
                          animationClass="@animationClass" />
            }
            else if (current == 5)
            {
                <div class="inpt-cont">
                    <label class="inpt-cont--lbl">Lugar</label>
                    <EnumSelect TEnum="TipoIncendioHospitalesYClinicas" @bind-Value="@HospitalClinicaViewModel.TipoLugar" />
                    @if (HospitalClinicaViewModel.TipoLugar == TipoIncendioHospitalesYClinicas.Otro)
                    {
                        <FormItem Label="Otro Lugar">
                            <Input @bind-Value="@HospitalClinicaViewModel.OtroLugar" />
                        </FormItem>
                    }
                </div>
                <Establecimiento Model="@HospitalClinicaViewModel"
                                 animationClass="@animationClass" />
            }
            else if (current == 6)
            {
                <div class="slick-contenedor">
                    <DatosSalida Model="@HospitalClinicaViewModel"
                                 animationClass="@animationClass" />
                </div>
            }
        </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {

    BomberosDbContext Context { get; set; }
    public IncendioHospitalesYClinicasViewModels HospitalClinicaViewModel = new();
    private DamnificadoViewModels damnificado = new();
    private MovilSalidaViewModels movilSalidaViewModels = new();
    private BomberoSalidaViewModels bomberoSalidaView = new();
    public List<MovilSalidaViewModels> MovilesSalidasL = new();
    public List<BomberoSalidaViewModels> bomberosSalida = new();

    @*Steps*@
    public int current { get; set; } = 0;
    private string animationClass = "";

    public class StepItem
    {
        public string Title { get; set; }
        public string Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales*/
        new StepItem {Title = " ", Content = ""}, /* Participantes */
        new StepItem {Title = " ", Content = ""},/*Seguro*/
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""},  /* Establecimiento */
        new StepItem {Title = " ", Content = ""}  /* Salida */
    };

    Bombero[] TodosBomberos;
    Movil[] Moviles;

    public List<BomberoViweModel> bomberoChoferes = new();
    public List<BomberoViweModel> bomberoTodos = new();
    bool damnsihubo { get; set; }
    bool switchValueS { get; set; }
    bool chek { get; set; }
    bool chekM { get; set; }
    bool chekB { get; set; }
    int BomberoReceptor;
    string NumeroMovil;
    bool _visible1;
    int chofer;

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    public int ImprimirNumeroParte;
    public int ImprimirAnio;

    void HandleOk1(int _anio, int _numeroParte)
    {
        ImprimirAnio = _anio;
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        HospitalClinicaViewModel = new();
        TodosBomberos = await Context.Bomberos.OrderBy(b => b.Nombre).ToArrayAsync();
        Moviles = await Context.Moviles.OrderBy(m => m.NumeroMovil).ToArrayAsync();
    }

    //Carga de datos
    private async void OnFinish(EditContext editContext)
    {
        try
        {
            Bombero? bomberoReceptor = await Context.Bomberos.Where(b => b.NumeroLegajo == BomberoReceptor).SingleOrDefaultAsync();
            Bombero? bomberoEncargado = await Context.Bomberos.Where(b => b.NumeroLegajo == HospitalClinicaViewModel.LegajoEncargado).SingleOrDefaultAsync();
            Bombero? BomberoLlenoPlanilla = await Context.Bomberos.Where(b => b.NumeroLegajo == HospitalClinicaViewModel.LegajoLLenoPlanilla).SingleOrDefaultAsync();

            if (HospitalClinicaViewModel is not null)
            {
                IncendioHospitalesYClinicas? numeroParte = await Context.IncendiosHospitalesYClinicas.Where(m => m.NumeroParte == HospitalClinicaViewModel.NumeroParte).SingleOrDefaultAsync();
                if (numeroParte != null)
                {
                    message.Warning("Numero parte ya existente.");
                    return;
                }
                if (HospitalClinicaViewModel is not null)
                {
                    //Informacion de salida
                    IncendioHospitalesYClinicas salidaIncendioHospYClinica = new()
                        {
                            Descripcion = HospitalClinicaViewModel.Descripcion,
                            HoraSalida = HospitalClinicaViewModel.HoraSalida,
                            HoraLlegada = HospitalClinicaViewModel.HoraLLegada,
                            //KmSalida = HospitalClinicaViewModel.KmSalida,
                            //KmLlegada = HospitalClinicaViewModel.KmLlegada,
                            NumeroParte = HospitalClinicaViewModel.NumeroParte,
                            AnioNumeroParte = HospitalClinicaViewModel.AnioNumeroParte,
                            CalleORuta = HospitalClinicaViewModel.CalleORuta,
                            NumeroOKilometro = HospitalClinicaViewModel.NumeroOKilometro,
                            EntreCalles = HospitalClinicaViewModel.EntreCalles,
                            PisoNumero = HospitalClinicaViewModel.PisoNumero,
                            Depto = HospitalClinicaViewModel.Depto,
                            TipoZona = HospitalClinicaViewModel.TipoZona,
                            NombreYApellidoReceptor = HospitalClinicaViewModel.NombreYApellidoReceptor,
                            NombreSolicitante = HospitalClinicaViewModel.NombreSolicitante,
                            ApellidoSolicitante = HospitalClinicaViewModel.ApellidoSolicitante,
                            DniSolicitante = HospitalClinicaViewModel.DniSolicitante,
                            TelefonoSolicitante = HospitalClinicaViewModel.TelefonoSolicitante,
                            DeteccionAutomaticaId = HospitalClinicaViewModel.DeteccionAutomaticaId,
                            Extintor = HospitalClinicaViewModel.Extintor,
                            Hidrante = HospitalClinicaViewModel.Hidrante,
                            TipoLugar = HospitalClinicaViewModel.TipoLugar,
                            TipoEvacuacion = HospitalClinicaViewModel.TipoEvacuacion,
                            TipoSuperficieAfectada = HospitalClinicaViewModel.TipoSuperficieAfectada,
                            DetalleSuperficieAfectadaIncendio = HospitalClinicaViewModel.DetalleSuperficieAfectadaIncendio,
                            SuperficieAfectadaCausa = HospitalClinicaViewModel.SuperficieAfectadaCausa,
                            TipoAbertura = HospitalClinicaViewModel.TipoAbertura,
                            OtraAbertura = HospitalClinicaViewModel.OtraAbertura,
                            TipoTecho = HospitalClinicaViewModel.TipoTecho,
                            OtroTecho = HospitalClinicaViewModel.OtroTecho,
                            OtroLugarIncendio = HospitalClinicaViewModel.OtroLugar,
                            NombreEstablecimiento = HospitalClinicaViewModel.NombreEstablecimiento,
                            CantidadPisos = HospitalClinicaViewModel.CantidadPisos,
                            PisoAfectado = HospitalClinicaViewModel.PisoAfectado,
                            CantidadAmbientes = HospitalClinicaViewModel.CantidadAmbientes,
                            QuienLleno = BomberoLlenoPlanilla,
                            ReceptorBombero = bomberoReceptor,
                            Encargado = bomberoEncargado,
                            Seguro = new()
                            {
                                CompañiaAseguradora = HospitalClinicaViewModel.CompaniaAseguradora,
                                NumeroDePoliza = HospitalClinicaViewModel.NumeroPoliza,
                                FechaDeVencimineto = HospitalClinicaViewModel.FechaVencimineto,
                            },
                            Damnificados = new(),
                            Moviles = new(),
                            CuerpoParticipante = new()
                        };

                    //Verifica si hay Bomberos en la Salida y los carga a el modelo de la salida.
                    if (HospitalClinicaViewModel.CuerpoParticipante != null && HospitalClinicaViewModel.CuerpoParticipante.Any())
                    {
                        salidaIncendioHospYClinica.CuerpoParticipante = HospitalClinicaViewModel.CuerpoParticipante.ToList();
                    }

                    //Verifica si hay Moviles en la Salida y los carga a el modelo de la salida.
                    if (HospitalClinicaViewModel.Moviles != null && HospitalClinicaViewModel.Moviles.Any())
                    {
                        salidaIncendioHospYClinica.Moviles = HospitalClinicaViewModel.Moviles.ToList();
                    }

                    //Verifica si hay Damnificados en la Salida y los carga a el modelo de la salida.
                    if (HospitalClinicaViewModel.Damnificados != null && HospitalClinicaViewModel.Damnificados.Any())
                    {
                        salidaIncendioHospYClinica.Damnificados = HospitalClinicaViewModel.Damnificados.ToList();
                    }

                    await SalidaService.GuardarSalida(salidaIncendioHospYClinica);
                    HandleOk1(salidaIncendioHospYClinica.AnioNumeroParte, salidaIncendioHospYClinica.NumeroParte);
                    await Init();
                    StateHasChanged();
                    await message.Success("Salida agregada correctamente");
                }
            }
        }
        catch (Exception e)
        {
            // Notificar al usuario
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(HospitalClinicaViewModel)}");
        message.Error("Error al cargar, posible información ausente");
    }

    public void Dispose()
    {
        Context?.Dispose();
    }
}
