@implements IDisposable
@inject IMessageService message
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios-establecimientoEducativo"
@using Vista.Services;
@inject ISalidaService SalidaService;
@using System.ComponentModel.DataAnnotations;
@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;
@using System.Text.Json;
@using Vista.Pages.Salidas.Incendios.ComponentesIncendio;

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;

<Form Model="@incendioEducativoModel"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%; overflow: hidden!important;">
    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>INCENDIO EN ESTABLECIMIENTO</h2>
            <h2>EDUCATIVO</h2>
        </div>


        @*Datos*@
        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>
        <Flex Justify="center">
        <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
            @if (current == 0)
            {
                <DatosGenerales Model="@incendioEducativoModel"
                                animationClass="@animationClass"
                                esSoloDireccion="true" />
            }
            else if (current == 1)
            {
                @*Solicitante | Receptor | Damnificado*@
                <Participantes Model="@incendioEducativoModel"
                               animationClass="@animationClass" />
            }
            else if (current == 2)
            {
                <Seguro Model="@incendioEducativoModel"
                        animationClass="@animationClass" />
            }
            else if (current == 3)
            {
                @*Chofer y Moviles*@
                <Vehiculos Model="@incendioEducativoModel"
                           animationClass="@animationClass" />
            }
            else if (current == 4)
            {
                @*Bomberos*@
                <Personal Model="@incendioEducativoModel"
                          animationClass="@animationClass" />
            }
            else if (current == 5)
            {
                <div class="inpt-cont">
                    <label class="inpt-cont--lbl">Lugar</label>
                    <EnumSelect TEnum="TipoIncendioEstablecimientoEducativo" @bind-Value="@incendioEducativoModel.TipoLugar" />
                    @if (incendioEducativoModel.TipoLugar == TipoIncendioEstablecimientoEducativo.Otro)
                    {
                        <FormItem Label="OtroLugar">
                            <Input @bind-Value="@incendioEducativoModel.OtroLugar" />
                        </FormItem>
                    }
                </div>
                <Establecimiento Model="@incendioEducativoModel"
                                 animationClass="@animationClass" />
            }
            else if (current == 6)
            {
                <div class="slick-contenedor">
                    <DatosSalida Model="@incendioEducativoModel"
                                 animationClass="@animationClass" />
                </div>
            }
        </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {

    BomberosDbContext Context { get; set; }
    public IncendioEstablecimientoEducativoViewModels incendioEducativoModel = new();
    private DamnificadoViewModels damnificado = new();
    private MovilSalidaViewModels movilSalidaViewModels = new();
    private BomberoSalidaViewModels bomberoSalidaView = new();
    public List<MovilSalidaViewModels> MovilesSalidasL = new();
    public List<BomberoSalidaViewModels> bomberosSalida = new();

    @*Steps*@
    public int current { get; set; } = 0;
    private string animationClass = "";

    public class StepItem
    {
        public string Title { get; set; }
        public string Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales*/
        new StepItem {Title = " ", Content = ""}, /* Participantes */
        new StepItem {Title = " ", Content = ""},/*Seguro*/
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""},  /* Establecimiento */
        new StepItem {Title = " ", Content = ""}  /* Salida */
    };

    Bombero[] TodosBomberos;
    Movil[] Moviles;

    public List<BomberoViweModel> bomberoChoferes = new();
    public List<BomberoViweModel> bomberoTodos = new();
    bool damnsihubo { get; set; }
    bool switchValueS { get; set; }
    bool chek { get; set; }
    bool chekM { get; set; }
    bool chekB { get; set; }
    bool _visible1;
    int BomberoReceptor;
    string NumeroMovil;
    int chofer;

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    public int ImprimirNumeroParte;
    public int ImprimirAnio;

    void HandleOk1(int _anio, int _numeroParte)
    {
        ImprimirAnio = _anio;
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }

    protected override async Task OnInitializedAsync()
    {

        await Init();

    }
    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        incendioEducativoModel = new();
        //incendioEducativoModel.Tipo = TipoIncendio.EstablecimientoEducativo; // Establecer valor predeterminado
        TodosBomberos = await Context.Bomberos.OrderBy(b => b.Nombre).ToArrayAsync();
        Moviles = await Context.Moviles.OrderBy(m => m.NumeroMovil).ToArrayAsync();
    }

    //Carga de datos
    private async void OnFinish(EditContext editContext)
    {
        try
        {
            Bombero? bomberoReceptor = await Context.Bomberos.Where(b => b.NumeroLegajo == BomberoReceptor).SingleOrDefaultAsync();
            Bombero? bomberoEncargado = await Context.Bomberos.Where(b => b.NumeroLegajo == incendioEducativoModel.LegajoEncargado).SingleOrDefaultAsync();
            Bombero? BomberoLlenoPlanilla = await Context.Bomberos.Where(b => b.NumeroLegajo == incendioEducativoModel.LegajoLLenoPlanilla).SingleOrDefaultAsync();

            if (incendioEducativoModel is not null)
            {
                Data.Models.Salidas.Planillas.Incendios.IncendioEstablecimientoEducativo? numeroParte = await Context.IncendiosEstablecimientosEducativos.Where(m => m.NumeroParte == incendioEducativoModel.NumeroParte).SingleOrDefaultAsync();
                if (numeroParte != null)
                {
                    message.Warning("Numero parte ya existente.");
                    return;
                }
                if (incendioEducativoModel is not null)
                {
                    //Informacion de salida
                    Data.Models.Salidas.Planillas.Incendios.IncendioEstablecimientoEducativo salidaIncendioEducativo = new()
                        {
                           // Tipo = incendioEducativoModel.Tipo,
                            Descripcion = incendioEducativoModel.Descripcion,
                            HoraSalida = incendioEducativoModel.HoraSalida,
                            HoraLlegada = incendioEducativoModel.HoraLLegada,
                            //KmSalida = incendioEducativoModel.KmSalida,
                            //KmLlegada = incendioEducativoModel.KmLlegada,
                            NumeroParte = incendioEducativoModel.NumeroParte,
                            AnioNumeroParte = incendioEducativoModel.AnioNumeroParte,
                            CalleORuta = incendioEducativoModel.CalleORuta,
                            NumeroOKilometro = incendioEducativoModel.NumeroOKilometro,
                            EntreCalles = incendioEducativoModel.EntreCalles,
                            PisoNumero = incendioEducativoModel.PisoNumero,
                            Depto = incendioEducativoModel.Depto,
                            TipoZona = incendioEducativoModel.TipoZona,
                            NombreSolicitante = incendioEducativoModel.NombreSolicitante,
                            ApellidoSolicitante = incendioEducativoModel.ApellidoSolicitante,
                            NombreYApellidoReceptor = incendioEducativoModel.NombreYApellidoReceptor,
                            DniSolicitante = incendioEducativoModel.DniSolicitante,
                            TelefonoSolicitante = incendioEducativoModel.TelefonoSolicitante,
                            DeteccionAutomaticaId = incendioEducativoModel.DeteccionAutomaticaId,
                            Extintor = incendioEducativoModel.Extintor,
                            Hidrante = incendioEducativoModel.Hidrante,
                            TipoLugar = incendioEducativoModel.TipoLugar,
                            TipoEvacuacion = incendioEducativoModel.TipoEvacuacion,
                            TipoSuperficieAfectada = incendioEducativoModel.TipoSuperficieAfectada,
                            DetalleSuperficieAfectadaIncendio = incendioEducativoModel.DetalleSuperficieAfectadaIncendio,
                            SuperficieAfectadaCausa = incendioEducativoModel.SuperficieAfectadaCausa,
                            TipoAbertura = incendioEducativoModel.TipoAbertura,
                            OtraAbertura = incendioEducativoModel.OtraAbertura,
                            TipoTecho = incendioEducativoModel.TipoTecho,
                            OtroTecho = incendioEducativoModel.OtroTecho,
                            OtroLugarIncendio = incendioEducativoModel.OtroLugar,
                            NombreEstablecimiento = incendioEducativoModel.NombreEstablecimiento,
                            CantidadPisos = incendioEducativoModel.CantidadPisos,
                            PisoAfectado = incendioEducativoModel.PisoAfectado,
                            CantidadAmbientes = incendioEducativoModel.CantidadAmbientes,
                            QuienLleno = BomberoLlenoPlanilla,
                            ReceptorBombero = bomberoReceptor,
                            Encargado = bomberoEncargado,
                            Seguro = new()
                            {
                                CompañiaAseguradora = incendioEducativoModel.CompaniaAseguradora,
                                NumeroDePoliza = incendioEducativoModel.NumeroPoliza,
                                FechaDeVencimineto = incendioEducativoModel.FechaVencimineto,
                            },
                            Damnificados = new(),
                            Moviles = new(),
                            CuerpoParticipante = new()
                        };

                    //Verifica si hay Bomberos en la Salida y los carga a el modelo de la salida.
                    if (incendioEducativoModel.CuerpoParticipante != null && incendioEducativoModel.CuerpoParticipante.Any())
                    {
                        salidaIncendioEducativo.CuerpoParticipante = incendioEducativoModel.CuerpoParticipante.ToList();
                    }

                    //Verifica si hay Moviles en la Salida y los carga a el modelo de la salida.
                    if (incendioEducativoModel.Moviles != null && incendioEducativoModel.Moviles.Any())
                    {
                        salidaIncendioEducativo.Moviles = incendioEducativoModel.Moviles.ToList();
                    }

                    //Verifica si hay Damnificados en la Salida y los carga a el modelo de la salida.
                    if (incendioEducativoModel.Damnificados != null && incendioEducativoModel.Damnificados.Any())
                    {
                        salidaIncendioEducativo.Damnificados = incendioEducativoModel.Damnificados.ToList();
                    }

                    await SalidaService.GuardarSalida(salidaIncendioEducativo);
                    HandleOk1(salidaIncendioEducativo.AnioNumeroParte, salidaIncendioEducativo.NumeroParte);
                    await Init();
                    StateHasChanged();
                    await message.Success("Salida agregada correctamente");
                }
            }
        }
        catch (Exception e)
        {
            // Notificar al usuario
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(incendioEducativoModel)}");
        message.Error("Error al cargar, posible información ausente");
    }

    public void Dispose()
    {
        Context?.Dispose();
    }
}
