@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios-comercio"
@using System.ComponentModel.DataAnnotations;
@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;
@using System.Text.Json;
<h2 style="text-align:center; text-decoration:underline;">Incendio Comercio</h2>

<Form Model="@salidaIncendioComercioView"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    @*Datos generales de las salidas*@
    <FormItem Label="Numero de parte">
        <AntDesign.InputNumber @bind-Value="salidaIncendioComercioView.NumeroParte" Disabled/>
    </FormItem>
    <FormItem Label="Descripcion">
        <Input @bind-Value="@salidaIncendioComercioView.Descripcion" />
    </FormItem>
    <FormItem Label="Dato Hora salida">
        <DatePicker TValue="DateTime" ShowTime="@true" OnChange="OnChange" @bind-Value="@salidaIncendioComercioView.HoraSalida" />
    </FormItem>
    <FormItem Label="Dato Hora llegada">
        <DatePicker TValue="DateTime" ShowTime="@true" OnChange="OnChange" @bind-Value="@salidaIncendioComercioView.HoraLLegada" />
    </FormItem>
    <FormItem Label="Kilometro salida">
        <AntDesign.InputNumber @bind-Value="salidaIncendioComercioView.KmSalida" />
    </FormItem>
    <FormItem Label="Kilometro llegada">
        <AntDesign.InputNumber @bind-Value="salidaIncendioComercioView.KmLlegada" />
    </FormItem>
    <FormItem Label="Calle/Ruta">
        <Input @bind-Value="@salidaIncendioComercioView.CalleORuta" />
    </FormItem>
    <FormItem Label="Numero/kilometro">
        <Input @bind-Value="@salidaIncendioComercioView.NumeroOKilometro" />
    </FormItem>
    <FormItem Label="Entre calles">
        <Input @bind-Value="@salidaIncendioComercioView.EntreCalles" />
    </FormItem>
    <FormItem Label="PisoNumero">
        <Input @bind-Value="@salidaIncendioComercioView.PisoNumero" />
    </FormItem>
    <FormItem Label="Depto">
        <Input @bind-Value="@salidaIncendioComercioView.Depto" />
    </FormItem>
    @*Solicitante datos*@
    <b><label>Datos de solicitante</label></b>
    <FormItem Label="Nombre del solicitante">
        <Input @bind-Value="@salidaIncendioComercioView.NombreSolicitante" />
    </FormItem>
    <FormItem Label="Apelldio del solicitante">
        <Input @bind-Value="@salidaIncendioComercioView.ApellidoSolicitante" />
    </FormItem>
    <FormItem Label="documneto del solicitante">
        <Input @bind-Value="@salidaIncendioComercioView.DniSolicitante" />
    </FormItem>
    <FormItem Label="Telefono  del solicitante">
        <Input @bind-Value="@salidaIncendioComercioView.TelefonoSolicitante" />
    </FormItem>
    @*Datos del receptor*@
    <FormItem Label="Nombre y apellido del receptor">
        <Input @bind-Value="@salidaIncendioComercioView.NombreYApellidoReceptor" />
    </FormItem>
    <FormItem Label="Telefono receptor">
        <Input @bind-Value="@salidaIncendioComercioView.TelefonoReceptor" />
    </FormItem>
    <div> 
        <div>
           <b>
               <FormItem Label="¿Tiene seguro el lugar?">
                    <Switch @bind-Checked="switchValueS" />
               </FormItem>
           </b>
        </div>
        <div>
            @if (switchValueS == true)
            {
                <b><label>Seguro del lugar afectado</label></b>
                <FormItem Label="Compania Aseguradora">
                    <Input @bind-Value="@salidaIncendioComercioView.CompaniaAseguradora" />
                </FormItem>
                <FormItem Label="NumeroPoliza">
                    <Input @bind-Value="@salidaIncendioComercioView.NumeroPoliza" />
                </FormItem>
                <FormItem Label="FechaVencimineto">
                    <DatePicker TValue="DateTime?" ShowTime="@true" OnChange="OnChange" @bind-Value="@salidaIncendioComercioView.FechaVencimineto" />
                </FormItem>
            }
        </div>
    </div>      
    @*Datos de damnificados*@
    <FormItem Label="¿Hubo damnificados?">
        <Switch @bind-Checked="switchValue" />
    </FormItem>
    @if (switchValue == true)
    {
        <FormItem Label="Nombre">
            <Input @bind-Value="@damnificado.Nombre" />
        </FormItem>
        <FormItem Label="Apellido">
            <Input @bind-Value="@damnificado.Apellido" />
        </FormItem>
        <FormItem Label="Documento">
            <Input @bind-Value="@damnificado.Dni" />
        </FormItem>
        <FormItem Label="Tipo sexo">
            <EnumSelect TEnum="TipoSexo" @bind-Value="@damnificado.Sexo" />
        </FormItem>
        <FormItem Label="Lugar De nacimiento">
            <Input @bind-Value="@damnificado.LugarDeNacimiento" />
        </FormItem>
        <FormItem Label="edad">
            <AntDesign.InputNumber @bind-Value="damnificado.Edad" />
        </FormItem>
        <FormItem Label="Tipo material">
            <EnumSelect TEnum="TipoDamnificado" @bind-Value="@damnificado.Estado" />
        </FormItem>
        <Button OnClick="@AgregarDamnificado">Agregar damnificado</Button>
    }
    @*Moviles de salidas*@
    @*a la hora de pedir el chofer y movil,
    pedir dato unico para no cargar todo y buscarlo en la base de datos*@
    @*Moviles de salidas*@
    <b><label>Datos de chofer</label></b>
    <br />
    <FormItem Label="">
        <Checkbox @bind-Checked="chekM"> Cargo combustible</Checkbox>
        <br />
        <Button Type="primary" OnClick="@ShowModal">
            Cargo Combustible
        </Button>
    </FormItem>


    <FormItem Label="Elija el chofer">
        <Select TItem="BomberoViweModel"
                TItemValue="int"
                DataSource="@bomberoTodos"
        @bind-Value="@chofer"
                LabelName="@nameof(BomberoViweModel.NombreYApellido)"
                ValueName="@nameof(BomberoViweModel.NumeroLegajo)"
                Placeholder="Seleccione el bombero"
                DefaultActiveFirstOption="false"
                EnableSearch>
        </Select>
    </FormItem>


    <FormItem Label="Numero de movil">
        <Select TItem="Movil"
                TItemValue="string"
                DataSource="@Moviles"
                @bind-Value="@NumeroMovil"
                LabelName="@nameof(Movil.NumeroMovil)"
                ValueName="@nameof(Movil.NumeroMovil)"
                Placeholder="Seleccione el movil"
                DefaultActiveFirstOption="false"
                EnableSearch>
        </Select>

    </FormItem>
    <br />
    <Button OnClick="@AgregarMovilSalida">Cargar Movil salida</Button>
    <br />


    @*Cuerpos paraticipantes*@
    <b><label>Cuerpo Participante</label></b>
    <FormItem Label="Tipo Escalafon">
        <EnumSelect TEnum="EscalafonJerarquico" @bind-Value="@bomberoSalidaView.Grado" />
    </FormItem>
    <FormItem Label="Elija el bombero">
        <Select TItem="BomberoViweModel"
                TItemValue="int"
                DataSource="@bomberoTodos"
                @bind-Value="@BomberoCuerpo"
                LabelName="@nameof(BomberoViweModel.NombreYApellido)"
                ValueName="@nameof(BomberoViweModel.NumeroLegajo)"
                Placeholder="Seleccione el bombero"
                DefaultActiveFirstOption="false"
                EnableSearch>
        </Select>
    </FormItem>
    <Checkbox @bind-Checked="chekB"> Salio</Checkbox>
    <br />
    <Button OnClick="@AgregarCuerpoParticipante">Cargar cuerpo participante</Button>
    <br />

    <b><label>Elija al encargado</label></b>
    <FormItem Label="Encargado">
        <Select TItem="BomberoViweModel"
                TItemValue="int"
                DataSource="@bomberoTodos"
                @bind-Value="@BomberoEncargado"
                LabelName="@nameof(BomberoViweModel.NombreYApellido)"
                ValueName="@nameof(BomberoViweModel.NumeroLegajo)"
                Placeholder="Seleccione un encargado"
                DefaultActiveFirstOption="false"
                EnableSearch>
        </Select>
    </FormItem>
    <b><label>Quien lleno planilla</label></b>
    <FormItem Label="Bombero que lleno la planilla">
        <Select TItem="BomberoViweModel"
                TItemValue="int"
                DataSource="@bomberoTodos"
                @bind-Value="@QuienLLenoPlanilla"
                LabelName="@nameof(BomberoViweModel.NombreYApellido)"
                ValueName="@nameof(BomberoViweModel.NumeroLegajo)"
                Placeholder="Seleccione un encargado"
                DefaultActiveFirstOption="false"
                EnableSearch>
        </Select>
    </FormItem>
    @*Tipo servicio*@
    <b><label>Salida</label></b>
    <FormItem Label="Tipo Servicio salida">
        <EnumSelect TEnum="TipoServicioSalida" @bind-Value="@salidaIncendioComercioView.TipoServicio" />
    </FormItem>
    <FormItem Label="Tipo de Zona">
        <EnumSelect TEnum="TipoZona" @bind-Value="@salidaIncendioComercioView.TipoZona" />
    </FormItem>
    <FormItem Label="Lugar">
        <EnumSelect TEnum="TipoLugarComercioIncendio" @bind-Value="@salidaIncendioComercioView.TipoLugar"/>  
        @if (salidaIncendioComercioView.TipoLugar == TipoLugarComercioIncendio.Otro)
        {
            <FormItem Label="OtroLugar">
                <Input @bind-Value="@salidaIncendioComercioView.OtroLugar" />
            </FormItem>
        }
    </FormItem>
    <FormItem Label="Superficie Afectada Causa">
        <EnumSelect TEnum="TipoCausaIncendio" @bind-Value="@salidaIncendioComercioView.SuperficieAfectadaCausa" />
    </FormItem>
    <FormItem Label="Nombre establecimiento:">
        <Input @bind-Value="salidaIncendioComercioView.NombreEstablecimiento" />
        <br>
    </FormItem>
    <FormItem Label="Cantidad pisos:">
        <AntDesign.InputNumber @bind-Value="salidaIncendioComercioView.CantidadPisos" />
        <br>
    </FormItem>
    <FormItem Label="Pisos afectados">
        <AntDesign.InputNumber @bind-Value="salidaIncendioComercioView.PisoAfectado" />
        <br>
    </FormItem>

    <FormItem Label="Cantidad ambientes:">
        <AntDesign.InputNumber @bind-Value="salidaIncendioComercioView.CantidadAmbientes" />
        <br>
    </FormItem>
    <FormItem Label="Tipo Evacuacion">
        <EnumSelect TEnum="TipoEvacuacion" @bind-Value="@salidaIncendioComercioView.TipoEvacuacion" />
    </FormItem>
    <FormItem Label="Tipo Superficie">
        <EnumSelect TEnum="TipoSuperficie" @bind-Value="@salidaIncendioComercioView.TipoSuperficieAfectada" />
    </FormItem>
    <FormItem Label="Detalles Surpeficie Afectada ">
        <Input @bind-Value="salidaIncendioComercioView.DetalleSuperficieAfectadaIncendio" />
    </FormItem>
    <FormItem Label="Tipo Techo">
        <EnumSelect TEnum="TipoIncendioTecho?" @bind-Value="@salidaIncendioComercioView.TipoTecho" />
        @if (salidaIncendioComercioView.TipoTecho == TipoIncendioTecho.Otro)
        {
            <FormItem Label="Otro Techo">
                <Input @bind-Value="@salidaIncendioComercioView.OtroTecho" />
            </FormItem>
        }
    </FormItem>
    <FormItem Label="Tipo Abertura">
        <EnumSelect TEnum="TipoIncendioAbertura?" @bind-Value="@salidaIncendioComercioView.TipoAbertura" />
        @if (salidaIncendioComercioView.TipoAbertura == TipoIncendioAbertura.Otro)
        {
            <FormItem Label="Otro Abertura">
                <Input @bind-Value="@salidaIncendioComercioView.OtraAbertura" />
            </FormItem>
        }
    </FormItem>
    <div>
        <b><label>Hubo deteccion automatica?</label></b>
        <Checkbox @bind-Checked="salidaIncendioComercioView.DeteccionAutomaticaId"></Checkbox>
    </div>
    <div>
        <b><label>Habia Extintor?</label></b>
        <Checkbox @bind-Checked="salidaIncendioComercioView.Extintor"></Checkbox>
    </div>
    <div>
        <b><label>Habia Hidrante?</label></b>
        <Checkbox @bind-Checked="salidaIncendioComercioView.Hidrante"></Checkbox>
    </div>
   
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit" OnClick="@SubirIncendioComercio" >
            Cargar salida
        </Button>
    </FormItem>

</Form>

<Modal Title="@("success")"
       Visible="@_visible1"
       OnOk="@HandleOk1"
       OnCancel="@HandleCancel1">
    <Result Status="success"
            Title="Se cargo correctamente la salida"
            SubTitle="">
    </Result>
</Modal>

<Modal Title="@("Datos de la carga de combustible")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Form Loading="loading" Model="@movilSalidaViewModels"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="OnFinishModel"
          OnFinishFailed="OnFinishFailed"
    @ref="@_form1">
        <FormItem Label="Numero factura">
            <Input @bind-Value="@movilSalidaViewModels.NumeroFactura" />
        </FormItem>
        <FormItem Label="Fecha factura">
            <DatePicker TValue="DateTime?" ShowTime="@true" OnChange="OnChange" @bind-Value="@movilSalidaViewModels.FechaFactura" />
        </FormItem>
        <FormItem Label="Tipo Combustible">
            <Input @bind-Value="@movilSalidaViewModels.TipoConbustible" />
        </FormItem>
        <FormItem Label="Cantidad de Litros">
            <Input @bind-Value="@movilSalidaViewModels.CantidadLitros" />
        </FormItem>
        <FormItem Label="Quien lleno">
            <Input @bind-Value="@movilSalidaViewModels.QuienLleno" />
        </FormItem>
        <FormItem Label="TelefonoQuienLleno">
            <Input @bind-Value="@movilSalidaViewModels.TelefonoQuienLleno" />
        </FormItem>
    </Form>
</Modal>





@code{

    public IncendioComercioViewModels salidaIncendioComercioView = new();
    private DamnificadoViewModels damnificado = new();
    private MovilSalidaViewModels movilSalidaViewModels = new();
    private BomberoSalidaViewModels bomberoSalidaView = new();
    public List<DamnificadoViewModels> DamnificadosSalida = new();
    public List<MovilSalidaViewModels> MovilesSalidasL = new();
    public List<BomberoSalidaViewModels> bomberosSalida = new();
    private Form<MovilSalidaViewModels> _form1;


    Bombero[] TodosBomberos;
    Movil[] Moviles;


    public List<BomberoViweModel> bomberoTodos = new();
    bool switchValue { get; set; }
    bool switchValueS { get; set; }
    bool chek { get; set; }
    bool chekM { get; set; }
    bool chekB { get; set; }

    int BomberoReceptor;
    string NumeroMovil;
    int chofer;
    int BomberoCuerpo;
    int BomberoEncargado;
    int QuienLLenoPlanilla;

    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.CreateDbContextAsync();
        var salida = db.Set<Salida>().OrderByDescending(s => s.NumeroParte).FirstOrDefault();
        if (salida is not null)
        {
            salidaIncendioComercioView.NumeroParte = salida.NumeroParte + 1;
        }
        salidaIncendioComercioView.Tipo = TipoIncendio.Comercios; // Establecer valor predeterminado
        TodosBomberos = await db.Bomberos.ToArrayAsync();
        Moviles = await db.Moviles.ToArrayAsync();
        CargarBomberosView();

    }
    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(salidaIncendioComercioView)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(salidaIncendioComercioView)}");
    }
    private void OnChange(DateTimeChangedEventArgs args)
    {
        Console.WriteLine($"Selected Time: {args.Date}");
        Console.WriteLine($"Formatted Selected Time: {args.DateString}");
    }


    public async void SubirIncendioComercio()
    {
        ShowModal1();
        using var db = await DbFactory.CreateDbContextAsync();
        Bombero? bomberoReceptor = await db.Bomberos.Where(b => b.NumeroLegajo == BomberoReceptor).SingleOrDefaultAsync();
        Bombero? bomberoEncargado = await db.Bomberos.Where(b => b.NumeroLegajo == BomberoEncargado).SingleOrDefaultAsync();
        Bombero? BomberoLlenoPlanilla = await db.Bomberos.Where(b => b.NumeroLegajo == QuienLLenoPlanilla).SingleOrDefaultAsync();
        if (salidaIncendioComercioView is not null)
        {
            Vista.Data.Models.Salidas.Planillas.IncendioComercio? numeroParte = await db.IncendiosComercios.Where(m => m.NumeroParte == salidaIncendioComercioView.NumeroParte).SingleOrDefaultAsync();
            if (salidaIncendioComercioView is not null)
            {
                Vista.Data.Models.Salidas.Planillas.IncendioComercio salidaIncendioComercio = new()
                {
                    Tipo = salidaIncendioComercioView.Tipo,
                    Descripcion = salidaIncendioComercioView.Descripcion,
                    HoraSalida = salidaIncendioComercioView.HoraSalida,
                    HoraLlegada = salidaIncendioComercioView.HoraLLegada,
                    KmSalida = salidaIncendioComercioView.KmSalida,
                    KmLlegada = salidaIncendioComercioView.KmLlegada,
                    NumeroParte = salidaIncendioComercioView.NumeroParte,
                    CalleORuta = salidaIncendioComercioView.CalleORuta,
                    NumeroOKilometro = salidaIncendioComercioView.NumeroOKilometro,
                    EntreCalles = salidaIncendioComercioView.EntreCalles,
                    PisoNumero = salidaIncendioComercioView.PisoNumero,
                    Depto = salidaIncendioComercioView.Depto,
                    TipoZona = salidaIncendioComercioView.TipoZona,
                    NombreSolicitante = salidaIncendioComercioView.NombreSolicitante,
                    ApellidoSolicitante = salidaIncendioComercioView.ApellidoSolicitante,
                    DniSolicitante = salidaIncendioComercioView.DniSolicitante,
                    TelefonoSolicitante = salidaIncendioComercioView.TelefonoSolicitante,
                    NombreYApellidoReceptor = salidaIncendioComercioView.NombreYApellidoReceptor,
                    TelefonoReceptor = salidaIncendioComercioView.TelefonoReceptor,
                    DeteccionAutomaticaId= salidaIncendioComercioView.DeteccionAutomaticaId,
                    Extintor = salidaIncendioComercioView.Extintor,
                    Hidrante = salidaIncendioComercioView.Hidrante,
                    TipoLugar = salidaIncendioComercioView.TipoLugar,                
                    TipoEvacuacion = salidaIncendioComercioView.TipoEvacuacion,
                    TipoSuperficieAfectada = salidaIncendioComercioView.TipoSuperficieAfectada,
                    DetalleSuperficieAfectadaIncendio = salidaIncendioComercioView.DetalleSuperficieAfectadaIncendio,
                    SuperficieAfectadaCausa = salidaIncendioComercioView.SuperficieAfectadaCausa,
                    TipoServicio = salidaIncendioComercioView.TipoServicio,
                    TipoAbertura = salidaIncendioComercioView.TipoAbertura,
                    OtraAbertura= salidaIncendioComercioView.OtraAbertura,
                    TipoTecho = salidaIncendioComercioView.TipoTecho,
                    OtroTecho = salidaIncendioComercioView.OtroTecho,
                    OtroLugar = salidaIncendioComercioView.OtroLugar,
                    NombreEstablecimiento = salidaIncendioComercioView.NombreEstablecimiento,
                    CantidadPisos = salidaIncendioComercioView.CantidadPisos,
                    PisoAfectado = salidaIncendioComercioView.PisoAfectado,
                    CantidadAmbientes = salidaIncendioComercioView.CantidadAmbientes,
                    QuienLleno = BomberoLlenoPlanilla,
                    ReceptorBombero = bomberoReceptor,
                    Encargado = bomberoEncargado,
                    Seguro = new()
                    {
                        CompañiaAseguradora = salidaIncendioComercioView.CompaniaAseguradora,
                        NumeroDePoliza = salidaIncendioComercioView.NumeroPoliza,
                        FechaDeVencimineto = salidaIncendioComercioView.FechaVencimineto,
                    },
                    Damnificados = new(),
                    Moviles = new(),
                    CuerpoParticipante = new()
                };
                foreach (BomberoSalidaViewModels bom in bomberosSalida)
                {
                    Bombero? bomberoSalida = await db.Bomberos.Where(b => b.NumeroLegajo == bom.NumeroLegajo).SingleOrDefaultAsync();
                    BomberoSalida BomSalida = new()
                        {
                            Salio = bom.Salio,
                            Grado = bom.Grado,
                            Bombero = bomberoSalida
                        };
                    salidaIncendioComercio.CuerpoParticipante.Add(BomSalida);
                }
                foreach (MovilSalidaViewModels m in MovilesSalidasL)
                {
                    Bombero? bomberoChofer = await db.Bomberos.Where(b => b.NumeroLegajo == m.Chofer.NumeroLegajo).SingleOrDefaultAsync();
                    Movil? Movilsalida = await db.Moviles.Where(mob => mob.NumeroMovil == m.MovilesSalida.NumeroMovil).SingleOrDefaultAsync();
                    MovilSalida movilS = new()
                        {
                            CargoCombustible = m.CargoCombustible,
                            Chofer = bomberoChofer,
                            Movil = Movilsalida
                        };
                    salidaIncendioComercio.Moviles.Add(movilS);
                }
                foreach (DamnificadoViewModels d in DamnificadosSalida)
                {

                    Damnificado damn = new()
                        {
                            Nombre = d.Nombre,
                            Apellido = d.Apellido,
                            Dni = d.Dni,
                            Sexo = d.Sexo,
                            LugarDeNacimiento = d.LugarDeNacimiento,
                            Edad = d.Edad,
                            Estado = d.Estado,
                        };
                    salidaIncendioComercio.Damnificados.Add(damn);
                }
                await db.IncendiosComercios.AddAsync(salidaIncendioComercio);
                StateHasChanged();
                await db.SaveChangesAsync();
            }
        }
    }
    public async void AgregarDamnificado()
    {
        using var db = await DbFactory.CreateDbContextAsync();

        DamnificadoViewModels dp = new()
            {
                Nombre = damnificado.Nombre,
                Apellido = damnificado.Apellido,
                Dni = damnificado.Dni,
                Sexo = damnificado.Sexo,
                LugarDeNacimiento = damnificado.LugarDeNacimiento,
                Edad = damnificado.Edad,
                Estado = damnificado.Estado,

            };
        DamnificadosSalida.Add(dp);
        await db.SaveChangesAsync();
    }
    public async void AgregarMovilSalida()
    {
        using var db = await DbFactory.CreateDbContextAsync();
        Bombero? bomberoChofer = await db.Bomberos.Where(b => b.NumeroLegajo == chofer).SingleOrDefaultAsync();
        Movil? Movilsalida = await db.Moviles.Where(m => m.NumeroMovil == NumeroMovil).SingleOrDefaultAsync();
        MovilSalidaViewModels m = new()
            {
                CargoCombustible = chekM,
                NumeroFactura = movilSalidaViewModels.NumeroFactura,
                FechaFactura = movilSalidaViewModels.FechaFactura,
                TipoConbustible = movilSalidaViewModels.TipoConbustible,
                CantidadLitros = movilSalidaViewModels.CantidadLitros,
                QuienLleno = movilSalidaViewModels.QuienLleno,
                TelefonoQuienLleno = movilSalidaViewModels.TelefonoQuienLleno,
                Chofer = bomberoChofer,
                MovilesSalida = Movilsalida,
            };
        MovilesSalidasL.Add(m);
        await db.SaveChangesAsync();
    }

    public async void AgregarCuerpoParticipante()
    {
        using var db = await DbFactory.CreateDbContextAsync();

        BomberoSalidaViewModels b = new()
            {
                Salio = bomberoSalidaView.Salio,
                Grado = bomberoSalidaView.Grado,
                NumeroLegajo = BomberoCuerpo
            };
        bomberosSalida.Add(b);
        await db.SaveChangesAsync();
    }
    public void CargarBomberosView()
    {

        foreach (Bombero b in TodosBomberos)
        {
            BomberoViweModel bombero = new()
                {
                    FechaNacimiento = b.FechaNacimiento,
                    Sexo = b.Sexo,
                    Nombre = b.Nombre,
                    Apellido = b.Apellido,
                    Documento = b.Documento,
                    NumeroLegajo = b.NumeroLegajo,
                    NumeroIoma = b.NumeroIoma,
                    LugarNacimiento = b.LugarNacimiento,
                    Grado = b.Grado,
                    //NombreImagen = b.NombreImagen,
                    //TipoImagen = b.TipoImagen,
                    //Base64Imagen = b.Base64,
                    Dotacion = b.Dotacion,
                    //Nombre = b.NombreBrigada,
                    Resolucion1 = b.Resolucion1,
                    Resolucion2 = b.Resolucion2,
                    Resolucion3 = b.Resolucion3,
                    Resolucion4 = b.Resolucion4,
                    Resolucion5 = b.Resolucion5,
                    Resolucion6 = b.Resolucion6,
                    //GrupoSanguineo = Enum.GetName(typeof(TipoGrupoSanguineo), b.GrupoSanguineo),
                    Estado = b.Estado,
                    Chofer = b.Chofer,
                    VencimientoRegistro = b.VencimientoRegistro,
                    Direccion = b.Direccion,
                    Observaciones = b.Observaciones,
                    Profesion = b.Profesion,
                    NivelEstudios = b.NivelEstudios,
                    FechaAceptacion = b.FechaAceptacion,
                    //TelefonoCel = b.TelefonoCel,
                    //TelefonoFijo = b.TelefonoFijo,
                    //TelefonoLaboral = b.TelefonoLaboral,
                    //Email = b.Email,

                };
            bomberoTodos.Add(bombero);

        }
    }
    bool loading = false;

    void toggle(bool value) => loading = value;

    bool _visible = false;
    private void ShowModal()
    {
        _visible = true;
    }
    private void HandleCancel(MouseEventArgs e)
    {

        _visible = false;
    }
    private void OnFinishModel(EditContext editContext)
    {

        _visible = false;
    }
    private void HandleOk(MouseEventArgs e)
    {

        _visible = false;

    }

    bool _visible1;
    public void ShowModal1()
    {
        _visible1 = true;
    }
    private void HandleCancel1(MouseEventArgs e)
    {

        _visible1 = false;
    }
    private void HandleOk1(MouseEventArgs e)
    {
        navigationManager.NavigateTo($"/legajo");
        _visible1 = false;

    }
}
