@implements IDisposable
@inject IMessageService message
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios-industriales"
@using Vista.Services;
@inject ISalidaService SalidaService;
@using System.ComponentModel.DataAnnotations;
@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;
@using System.Text.Json;
@using Vista.Pages.Salidas.Incendios.ComponentesIncendio

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;
@using Vista.Data.Models.Salidas.Planillas.Incendios;

<head>
    <link href="css/salida.css" rel="stylesheet" />
</head>

<Form Model="@salidaIncendioIndustrialView"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%;overflow: hidden!important;">
    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>INCENDIO INDUSTRIAL</h2>
        </div>


        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>
        <Flex Justify="center">
            <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
                @if (current == 0)
                {
                    @*General*@
                    <DatosGenerales Model="@salidaIncendioIndustrialView"
                                    animationClass="@animationClass"
                                    esSoloDireccion="true" />
                }
                else if (current == 1)
                {
                    @*Solicitante | Receptor | Damnificado*@
                    <Participantes Model="@salidaIncendioIndustrialView"
                                   animationClass="@animationClass" />
                }
                else if (current == 2)
                {
                    @*Seguro*@
                    <Seguro Model="@salidaIncendioIndustrialView"
                            animationClass="@animationClass" />
                }
                else if (current == 3)
                {
                    @*Chofer y Movil*@
                    <Vehiculos Model="@salidaIncendioIndustrialView"
                               animationClass="@animationClass" />
                }
                else if (current == 4)
                {
                    @*Bomberos*@
                    <Personal Model="@salidaIncendioIndustrialView"
                              animationClass="@animationClass" />
                }
                else if (current == 5)
                {
                    @*Info-Salida*@
                    <div class="inpt-cont-inline">
                        <div class="inpt-cont">
                            <label class="inpt-cont--lbl">Lugar</label>
                            <EnumSelect TEnum="TipoIncendioIndustria" @bind-Value="@salidaIncendioIndustrialView.TipoLugar" />
                        </div>
                    </div>
                    <Establecimiento Model="@salidaIncendioIndustrialView"
                                     animationClass="@animationClass" />
                }
                else if (current == 6)
                {
                    <div class="slick-contenedor">
                        <DatosSalida Model="@salidaIncendioIndustrialView"
                                     animationClass="@animationClass" />
                    </div>
                }
            </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {

    @*Context y ViewModels*@
    BomberosDbContext Context { get; set; }
    public IncendioIndustriaViewModels salidaIncendioIndustrialView = new();
    private DamnificadoViewModels damnificado = new();
    private MovilSalidaViewModels movilSalidaViewModels = new();
    private BomberoSalidaViewModels bomberoSalidaView = new();
    public List<MovilSalidaViewModels> MovilesSalidasL = new();
    public List<BomberoSalidaViewModels> bomberosSalida = new();
    public List<BomberoViweModel> bomberoChoferes = new();
    public List<BomberoViweModel> bomberoTodos = new();

    Bombero[] TodosBomberos;
    Movil[] Moviles;


    //Impresion Planilla
    bool _visible1;
    public int ImprimirAnio;
    public int ImprimirNumeroParte;

    void HandleOk1(int _anio, int _numeroParte)
    {
        ImprimirAnio = _anio;
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }

    @*Bomberos*@
    int BomberoReceptor;// Falta info..

    @*Moviles | Chofer*@
    int chofer;
    string NumeroMovil;

    bool loading = false;
    void toggle(bool value) => loading = value;

    @*Steps*@
    public int current { get; set; } = 0;
    private string animationClass = "";

    public class StepItem
    {
        public string Title { get; set; }
        public string Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales */
        new StepItem {Title = " ", Content = ""}, /* Participantes */
        new StepItem {Title = " ", Content = ""}, /* Seguro */
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""},  /* Establecimiento */
        new StepItem {Title = " ", Content = ""}  /* Industria */
    };

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    @*Init | OnChange y OnFinish*@
    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        salidaIncendioIndustrialView = new();
        TodosBomberos = await Context.Bomberos.OrderBy(b => b.Nombre).ToArrayAsync();
        Moviles = await Context.Moviles.OrderBy(m => m.NumeroMovil).ToArrayAsync();
    }
    private async void OnFinish(EditContext editContext)
    {
        try
        {
            Bombero? bomberoReceptor = await Context.Bomberos.Where(b => b.NumeroLegajo == BomberoReceptor).SingleOrDefaultAsync();
            Bombero? bomberoEncargado = await Context.Bomberos.Where(b => b.NumeroLegajo == salidaIncendioIndustrialView.LegajoEncargado).SingleOrDefaultAsync();
            Bombero? BomberoLlenoPlanilla = await Context.Bomberos.Where(b => b.NumeroLegajo == salidaIncendioIndustrialView.LegajoLLenoPlanilla).SingleOrDefaultAsync();
            if (salidaIncendioIndustrialView is not null)
            {
                IncendioIndustria? numeroParte = await Context.IncendiosIndustrias.Where(m => m.NumeroParte == salidaIncendioIndustrialView.NumeroParte).SingleOrDefaultAsync();
                if (numeroParte != null)
                {
                    message.Warning("Numero parte ya existente.");
                    return;
                }
                if (salidaIncendioIndustrialView is not null)
                {
                    IncendioIndustria salidaIncendioIndustria = new()
                        {
                           
                            Descripcion = salidaIncendioIndustrialView.Descripcion,
                            HoraSalida = salidaIncendioIndustrialView.HoraSalida,
                            HoraLlegada = salidaIncendioIndustrialView.HoraLLegada,
                            //KmSalida = salidaIncendioIndustrialView.KmSalida,
                            //KmLlegada = salidaIncendioIndustrialView.KmLlegada,
                            NumeroParte = salidaIncendioIndustrialView.NumeroParte,
                            AnioNumeroParte = salidaIncendioIndustrialView.AnioNumeroParte,
                            Direccion = salidaIncendioIndustrialView.CalleORuta,
                            PisoNumero = salidaIncendioIndustrialView.PisoNumero,
                            Depto = salidaIncendioIndustrialView.Depto,
                            NombreYApellidoReceptor = salidaIncendioIndustrialView.NombreYApellidoReceptor,
                            TipoZona = salidaIncendioIndustrialView.TipoZona,
                            NombreSolicitante = salidaIncendioIndustrialView.NombreSolicitante,
                            ApellidoSolicitante = salidaIncendioIndustrialView.ApellidoSolicitante,
                            DniSolicitante = salidaIncendioIndustrialView.DniSolicitante,
                            TelefonoSolicitante = salidaIncendioIndustrialView.TelefonoSolicitante,
                            DeteccionAutomaticaId = salidaIncendioIndustrialView.DeteccionAutomaticaId,
                            Extintor = salidaIncendioIndustrialView.Extintor,
                            Hidrante = salidaIncendioIndustrialView.Hidrante,
                            TipoLugar = salidaIncendioIndustrialView.TipoLugar,
                            TipoEvacuacion = salidaIncendioIndustrialView.TipoEvacuacion,
                            TipoServicio = salidaIncendioIndustrialView.TipoServicio,
                            TipoSuperficieAfectada = salidaIncendioIndustrialView.TipoSuperficieAfectada,
                            DetalleSuperficieAfectadaIncendio = salidaIncendioIndustrialView.DetalleSuperficieAfectadaIncendio,
                            SuperficieAfectadaCausa = salidaIncendioIndustrialView.SuperficieAfectadaCausa,
                            TipoAbertura = salidaIncendioIndustrialView.TipoAbertura,
                            OtraAbertura = salidaIncendioIndustrialView.OtraAbertura,
                            TipoTecho = salidaIncendioIndustrialView.TipoTecho,
                            OtroTecho = salidaIncendioIndustrialView.OtroTecho,
                            OtroLugarIncendio = salidaIncendioIndustrialView.OtroLugar,
                            NombreEstablecimiento = salidaIncendioIndustrialView.NombreEstablecimiento,
                            CantidadPisos = salidaIncendioIndustrialView.CantidadPisos,
                            PisoAfectado = salidaIncendioIndustrialView.PisoAfectado,
                            CantidadAmbientes = salidaIncendioIndustrialView.CantidadAmbientes,
                            QuienLleno = BomberoLlenoPlanilla,
                            Encargado = bomberoEncargado,
                            Seguro = new()
                            {
                                CompañiaAseguradora = salidaIncendioIndustrialView.CompaniaAseguradora,
                                NumeroDePoliza = salidaIncendioIndustrialView.NumeroPoliza,
                                FechaDeVencimineto = salidaIncendioIndustrialView.FechaVencimineto,
                            },
                            Damnificados = new(),
                            Moviles = new(),
                            CuerpoParticipante = new()
                        };

                    //Verifica si hay Bomberos en la Salida y los carga a el modelo de la salida.
                    if (salidaIncendioIndustrialView.CuerpoParticipante != null && salidaIncendioIndustrialView.CuerpoParticipante.Any())
                    {
                        salidaIncendioIndustria.CuerpoParticipante = salidaIncendioIndustrialView.CuerpoParticipante.ToList();
                    }

                    //Verifica si hay Moviles en la Salida y los carga a el modelo de la salida.
                    if (salidaIncendioIndustrialView.Moviles != null && salidaIncendioIndustrialView.Moviles.Any())
                    {
                        salidaIncendioIndustria.Moviles = salidaIncendioIndustrialView.Moviles.ToList();
                    }

                    //Verifica si hay Damnificados en la Salida y los carga a el modelo de la salida.
                    if (salidaIncendioIndustrialView.Damnificados != null && salidaIncendioIndustrialView.Damnificados.Any())
                    {
                        salidaIncendioIndustria.Damnificados = salidaIncendioIndustrialView.Damnificados.ToList();
                    }

                    await SalidaService.GuardarSalida(salidaIncendioIndustria);
                    HandleOk1(salidaIncendioIndustria.AnioNumeroParte, salidaIncendioIndustria.NumeroParte);
                    await Init();
                    StateHasChanged();
                    await message.Success("Salida agregada correctamente");
                }
            }
        }
        catch (Exception e)
        {
            // Notificar al usuario
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }



    //OnFinishFailed
    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(salidaIncendioIndustrialView)}");
        message.Error("Error al cargar, posible información ausente");
    }

    private void OnFinishFailedModel(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(movilSalidaViewModels)}");
    }

    @*"Delete" y Dispose*@
    public void Dispose()
    {
        Context?.Dispose();
    }
}
