@page "/vista"
@using AntDesign
@using System.ComponentModel.DataAnnotations
@inject IDbContextFactory<BomberosDbContext> DbFactory

<h3 style="text-align:center; text-decoration:underline;">Detalles de Ascenso</h3>
<b><label>Elija al encargado</label></b>

<Form Model="AscensoVM">
    <FormItem Label="Personal Afectado">
        <Select TItem="BomberoViweModel"
                TItemValue="int"
                DataSource="@BomberoTodos"
        @bind-Value="@Bombero"
                LabelName="@nameof(BomberoViweModel.NombreYApellido)"
                ValueName="@nameof(BomberoViweModel.NumeroLegajo)"
                Placeholder="Seleccione Bombero Encargado"
                DefaultActiveFirstOption="false"
                EnableSearch>
        </Select>
    </FormItem>
    <FormItem Label="Fecha de emision">
        <DatePicker @bind-Value="AscensoVM.FechaEmision" />
    </FormItem>
    <FormItem Label="Descripción">
        <Input @bind-Value="AscensoVM.Descripcion" />
    </FormItem>
    <FormItem Label="Grado antiguo">
        <Input @bind-Value="AscensoVM.GradoAntiguo" />
    </FormItem>
    <FormItem Label="Grado ascenso">
        <EnumSelect TEnum="@EscalafonJerarquico" OnSelectedItemChanged="handleChange" />
    </FormItem>
</Form>


@code {
    [Parameter]
    public int? BomberoId { get; set; }

    [Parameter]
    public int? AscensoId { get; set; }

    public Bombero[]? bomberos;
    public int Bombero { get; set; }
    BomberosDbContext Context { get; set; }
    // public List<Bombero> bomberoTodos = new List<Bombero>();

    public class AscensoViewModel
    {
        public Bombero PersonalAfectado { get; set; }
        public DateTime FechaEmision { get; set; }
        public string Descripcion { get; set; }
        public EscalafonJerarquico GradoAntiguo { get; set; }
        public EscalafonJerarquico GradoAscenso { get; set; }
    }

    AscensoViewModel AscensoVM { get; set; } = new AscensoViewModel();

    protected override async Task OnInitializedAsync ()
    {
        Bombero = -1;
        Context = DbFactory.CreateDbContext();
        Bombero? bombero = await Context.Bomberos.Where(b => b.NumeroLegajo == Bombero).SingleOrDefaultAsync();
        if (AscensoId.HasValue)
        {
            var datos = await Context.AscensoBomberos.FindAsync(AscensoId);
            AscensoVM.PersonalAfectado = bombero;
            AscensoVM.FechaEmision = datos.FechaEmision;
            AscensoVM.Descripcion = datos.Descripcion;
            AscensoVM.GradoAntiguo = datos.GradoAntiguo;
            AscensoVM.GradoAscenso = datos.GradoAscenso;
        }
        
        bomberos = await Context.Bomberos.ToArrayAsync();

        CargarBomberosView();

    }

    void handleChange (EscalafonJerarquico escalafon)
    {
        Console.WriteLine(escalafon);
    }
    List<BomberoViweModel> BomberoTodos = new List<BomberoViweModel>();
    public void CargarBomberosView ()
    {
        foreach (Bombero b in bomberos)
        {
            BomberoViweModel bombero = new()
                {
                    FechaNacimiento = b.FechaNacimiento,
                    Sexo = b.Sexo,
                    Nombre = b.Nombre,
                    Apellido = b.Apellido,
                    Documento = b.Documento,
                    NumeroLegajo = b.NumeroLegajo,
                    NumeroIoma = b.NumeroIoma,
                    LugarNacimiento = b.LugarNacimiento,
                    Grado = b.Grado,
                    Dotacion = b.Dotacion,
                    Resolucion1 = b.Resolucion1,
                    Resolucion2 = b.Resolucion2,
                    Resolucion3 = b.Resolucion3,
                    Resolucion4 = b.Resolucion4,
                    Resolucion5 = b.Resolucion5,
                    Resolucion6 = b.Resolucion6,
                    Estado = b.Estado,
                    Chofer = b.Chofer,
                    VencimientoRegistro = b.VencimientoRegistro,
                    Direccion = b.Direccion,
                    Observaciones = b.Observaciones,
                    Profesion = b.Profesion,
                    NivelEstudios = b.NivelEstudios,
                    FechaAceptacion = b.FechaAceptacion,
                };
            BomberoTodos.Add(bombero);
        }
    }
}
