@inject IMessageService message
@inject NavigationManager navigationManager
@page "/salidas/serviciosPrevencion"

@using Vista.Data.ViewModels.Personal;
@using Vista.Data.ViewModels.Servicios;

@*Servicios Utilizados*@
@using Vista.Services;
@inject ISalidaService SalidaService
@inject IBomberoService BomberoService

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;
@using Vista.Data.Models.Salidas.Planillas.Servicios;

<Form Model="@modelServiciosEspecialesPrevencion"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%;overflow: hidden!important;">

    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>SERVICIO DE PREVENCION</h2>
        </div>

        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>

        <Flex Justify="center">
            <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
                @if (current == 0)
                {
                    @*General*@
                    <DatosGenerales Model="@modelServiciosEspecialesPrevencion"
                                    animationClass="@animationClass" />
                }
                else if (current == 1)
                {
                    @*Solicitante | Receptor | Damnificado*@
                    <Participantes Model="@modelServiciosEspecialesPrevencion"
                                   animationClass="@animationClass" />
                }
                else if (current == 2)
                {
                    @*Chofer y Moviles*@
                    <Vehiculos Model="@modelServiciosEspecialesPrevencion"
                               animationClass="@animationClass" />
                }
                else if (current == 3)
                {
                    @*Bomberos*@
                    <Personal Model="@modelServiciosEspecialesPrevencion"
                              animationClass="@animationClass" />
                }
                else if (current == 4)
                {
                    @*Tipo servicio*@
                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Tipo Servicio Salida</label>
                        <EnumSelect TEnum="TipoServicioSalida" @bind-Value="@modelServiciosEspecialesPrevencion.TipoServicio" />
                    </div>

                    @*Propio de la salida de Servicio Prevención*@

                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Tipo Organización Beneficiada</label>
                        <EnumSelect TEnum="TipoOrganizacionBeneficiada" @bind-Value="@modelServiciosEspecialesPrevencion.TipoOrganizacion" />
                    </div>

                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Tipo Prevención</label>
                        <EnumSelect TEnum="TipoServicioPrevencion" @bind-Value="@modelServiciosEspecialesPrevencion.TipoPrevencion" />
                    </div>
                }
            </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {
    private ServicioEspecialPrevencionViewModels modelServiciosEspecialesPrevencion = new();

    @*Steps*@

    public int current { get; set; } = 0;//Ubicacion del Step
    private string animationClass = "";

    public class StepItem
    {
        public string? Title { get; set; }
        public string? Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales */
        new StepItem {Title = " ", Content = ""}, /* Solicitante / Receptor / Damnificado */
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""}  /* Salida */
    };

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    @*Carga de Salida*@

    private async void OnFinish(EditContext editContext)
    {

        try
        {
            Bombero? bomberoEncargado = await BomberoService.ObtenerBomberoObjetoPorLegajoAsync(modelServiciosEspecialesPrevencion.LegajoEncargado);
            Bombero? BomberoLlenoPlanilla = await BomberoService.ObtenerBomberoObjetoPorLegajoAsync(modelServiciosEspecialesPrevencion.LegajoLLenoPlanilla);

            var numeroParteRescate = await SalidaService.ObtenerSalidaPorNumeroParteAsync<RescatePersona>(
                modelServiciosEspecialesPrevencion.NumeroParte,
                m => m.NumeroParte == modelServiciosEspecialesPrevencion.NumeroParte
            );

            if (numeroParteRescate != null)
            {
                await message.Warning("Numero parte ya existente.");
                return;
            }

            ServicioEspecialPrevencion Prevencion = new()
                {
                    NumeroParte = modelServiciosEspecialesPrevencion.NumeroParte,
                    AnioNumeroParte = modelServiciosEspecialesPrevencion.AnioNumeroParte,
                    HoraSalida = modelServiciosEspecialesPrevencion.HoraSalida,
                    HoraLlegada = modelServiciosEspecialesPrevencion.HoraLLegada,
                    Descripcion = modelServiciosEspecialesPrevencion.Descripcion,
                    CalleORuta = modelServiciosEspecialesPrevencion.CalleORuta,
                    NumeroOKilometro = modelServiciosEspecialesPrevencion.NumeroOKilometro,
                    EntreCalles = modelServiciosEspecialesPrevencion.EntreCalles,
                    PisoNumero = modelServiciosEspecialesPrevencion.PisoNumero,
                    Depto = modelServiciosEspecialesPrevencion.Depto,
                    NombreYApellidoReceptor = modelServiciosEspecialesPrevencion.NombreYApellidoReceptor,
                    TipoZona = modelServiciosEspecialesPrevencion.TipoZona,
                    NombreSolicitante = modelServiciosEspecialesPrevencion.NombreSolicitante,
                    ApellidoSolicitante = modelServiciosEspecialesPrevencion.ApellidoSolicitante,
                    DniSolicitante = modelServiciosEspecialesPrevencion.DniSolicitante,
                    TelefonoSolicitante = modelServiciosEspecialesPrevencion.TelefonoSolicitante,
                    TipoServicio = modelServiciosEspecialesPrevencion.TipoServicio,
                    QuienLleno = BomberoLlenoPlanilla,
                    Encargado = bomberoEncargado,

                    //Carga propio de Servicios Prevencion

                    //Organizacion beneficiada
                    TipoOrganizacion = modelServiciosEspecialesPrevencion.TipoOrganizacion,
                    //Tipo de Prevención
                    TipoPrevencion = modelServiciosEspecialesPrevencion.TipoPrevencion,

                    //Seguro = new() <-- Consultar si es requerido
                    //{
                    //    CompañiaAseguradora = modelServiciosEspecialesPrevencion.CompaniaAseguradora,
                    //    NumeroDePoliza = modelServiciosEspecialesPrevencion.NumeroPoliza,
                    //    FechaDeVencimineto = modelServiciosEspecialesPrevencion.FechaVencimineto,
                    //},

                    //Iniciación de Listas
                    Damnificados = new(),
                    Moviles = new(),
                    CuerpoParticipante = new()

                };

            //Verifica si hay Bomberos en la Salida y los carga a el modelo de la salida.
            if (modelServiciosEspecialesPrevencion.CuerpoParticipante != null && modelServiciosEspecialesPrevencion.CuerpoParticipante.Any())
            {
                Prevencion.CuerpoParticipante = modelServiciosEspecialesPrevencion.CuerpoParticipante.ToList();
            }

            //Verifica si hay Moviles en la Salida y los carga a el modelo de la salida.
            if (modelServiciosEspecialesPrevencion.Moviles != null && modelServiciosEspecialesPrevencion.Moviles.Any())
            {
                Prevencion.Moviles = modelServiciosEspecialesPrevencion.Moviles.ToList();
            }

            //Verifica si hay Damnificados en la Salida y los carga a el modelo de la salida.
            if (modelServiciosEspecialesPrevencion.Damnificados != null && modelServiciosEspecialesPrevencion.Damnificados.Any())
            {
                Prevencion.Damnificados = modelServiciosEspecialesPrevencion.Damnificados.ToList();
            }

            await SalidaService.GuardarSalida(Prevencion);
            HandleOk1(Prevencion.AnioNumeroParte, Prevencion.NumeroParte);
            Init();
            StateHasChanged();
        }
        catch (Exception e)
        {
            // Notificar al usuario
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }

    @*Inicio*@
    protected override void OnInitialized()
    {
        Init();
    }

    private void Init()
    {
        modelServiciosEspecialesPrevencion = new();
    }

    @*Finish Failed*@
    private void OnFinishFailed(EditContext editContext)
    {
        message.Error("Error al cargar, posible información ausente");
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(modelServiciosEspecialesPrevencion)}");
    }

    @*Impresión*@
    bool _visible1;

    public int ImprimirAnio;
    public int ImprimirNumeroParte;
    void HandleOk1(int _anio, int _numeroParte)
    {
        ImprimirAnio = _anio;
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }
}









