@inject IMessageService message
@inject NavigationManager navigationManager
@page "/salidas/serviciosSuministroAgua"

@using Vista.Data.ViewModels.Personal;
@using Vista.Data.Enums;

@*Servicios Utilizados*@
@using Vista.Data.ViewModels.Servicios
@using Vista.Services;
@inject ISalidaService SalidaService
@inject IBomberoService BomberoService

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;
@using Vista.Data.Models.Salidas.Planillas.Servicios;

<Form Model="@SuministroAguaViewModel"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%;overflow: hidden!important;">

    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>SERVICIO DE SUMINISTRO DE AGUA</h2>
        </div>

        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>

        <Flex Justify="center">
            <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
                @if (current == 0)
                {
                    @*General*@
                    <DatosGenerales Model="@SuministroAguaViewModel"
                                    animationClass="@animationClass" />
                }
                else if (current == 1)
                {
                    @*Solicitante | Receptor | Damnificado*@
                    <Participantes Model="@SuministroAguaViewModel"
                                   animationClass="@animationClass" />
                }
                else if (current == 2)
                {
		    @*Seguro del Lugar*@
                    <Seguro Model="@SuministroAguaViewModel"
                               animationClass="@animationClass" />
                }
                else if (current == 3)
                {
                    @*Chofer y Moviles*@
                    <Vehiculos Model="@SuministroAguaViewModel"
                               animationClass="@animationClass" />
                }
                else if (current == 4)
                {
                    @*Bomberos*@
                    <Personal Model="@SuministroAguaViewModel"
                              animationClass="@animationClass" />
                }
                else if (current == 5)
                {
                    <h6>Datos Especificos</h6>
    		    <div class="inpt-cont">
    			<label class="inpt-cont--lbl">Nombre del Establecimiento</label>
    			<input @bind="@SuministroAguaViewModel.NombreEstablecimientoSuministroAgua" />
		    </div>
		    <div class="inpt-cont">
    			<label class="inpt-cont--lbl">Detalles</label>
                        <TextArea Placeholder="Detalles" @bind-Value="SuministroAguaViewModel.DetallesSuministroAgua" />
		    </div>
                }
            </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {
    private ServicioEspecialSuministroAguaViewModels SuministroAguaViewModel = new();

    @*Steps*@

    public int current { get; set; } = 0;//Ubicacion del Step
    private string animationClass = "";

    public class StepItem
    {
        public string? Title { get; set; }
        public string? Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales */
        new StepItem {Title = " ", Content = ""}, /* Solicitante / Receptor / Damnificado */
        new StepItem {Title = " ", Content = ""}, /* Seguro del Lugar */
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""}  /* Salida */
    };

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    @*Carga de Salida*@

    private async void OnFinish(EditContext editContext)
    {

        try
        {
            Bombero? bomberoEncargado = await BomberoService.ObtenerBomberoObjetoPorLegajoAsync(SuministroAguaViewModel.LegajoEncargado);
            Bombero? BomberoLlenoPlanilla = await BomberoService.ObtenerBomberoObjetoPorLegajoAsync(SuministroAguaViewModel.LegajoLLenoPlanilla);

            var numeroParteRescate = await SalidaService.ObtenerSalidaPorNumeroParteAsync<ServicioEspecialSuministroAgua>(
                SuministroAguaViewModel.NumeroParte,
                m => m.NumeroParte == SuministroAguaViewModel.NumeroParte
            );

            if (numeroParteRescate != null)
            {
                await message.Warning("Numero parte ya existente.");
                return;
            }

            ServicioEspecialSuministroAgua suministroagua = new()
                {
                    NumeroParte = SuministroAguaViewModel.NumeroParte,
                    AnioNumeroParte = SuministroAguaViewModel.AnioNumeroParte,
                    HoraSalida = SuministroAguaViewModel.HoraSalida,
                    HoraLlegada = SuministroAguaViewModel.HoraLLegada,
                    Descripcion = SuministroAguaViewModel.Descripcion,
                    CalleORuta = SuministroAguaViewModel.CalleORuta,
                    NumeroOKilometro = SuministroAguaViewModel.NumeroOKilometro,
                    EntreCalles = SuministroAguaViewModel.EntreCalles,
                    PisoNumero = SuministroAguaViewModel.PisoNumero,
                    Depto = SuministroAguaViewModel.Depto,
                    NombreYApellidoReceptor = SuministroAguaViewModel.NombreYApellidoReceptor,
                    TipoZona = SuministroAguaViewModel.TipoZona,
                    NombreSolicitante = SuministroAguaViewModel.NombreSolicitante,
                    ApellidoSolicitante = SuministroAguaViewModel.ApellidoSolicitante,
                    DniSolicitante = SuministroAguaViewModel.DniSolicitante,
                    TelefonoSolicitante = SuministroAguaViewModel.TelefonoSolicitante,
                    QuienLleno = BomberoLlenoPlanilla,
                    Encargado = bomberoEncargado,

                    //Carga propia de Suministro de Agua
                    NombreEstablecimientoSuministroAgua = SuministroAguaViewModel.NombreEstablecimientoSuministroAgua,
                    DetallesSuministroAgua = SuministroAguaViewModel.DetallesSuministroAgua,

                    //Seguro = new() <-- Consultar si es requerido
                    //{
                    //    CompañiaAseguradora = PersonaViewModel.CompaniaAseguradora,
                    //    NumeroDePoliza = PersonaViewModel.NumeroPoliza,
                    //    FechaDeVencimineto = PersonaViewModel.FechaVencimineto,
                    //},

                    //Iniciación de Listas
                    Damnificados = new(),
                    Moviles = new(),
                    CuerpoParticipante = new()

                };
           

            //Verifica si hay Bomberos en la Salida y los carga a el modelo de la salida.
            if (SuministroAguaViewModel.CuerpoParticipante != null && SuministroAguaViewModel.CuerpoParticipante.Any())
            {
                suministroagua.CuerpoParticipante = SuministroAguaViewModel.CuerpoParticipante.ToList();
            }

            //Verifica si hay Moviles en la Salida y los carga a el modelo de la salida.
            if (SuministroAguaViewModel.Moviles != null && SuministroAguaViewModel.Moviles.Any())
            {
                suministroagua.Moviles = SuministroAguaViewModel.Moviles.ToList();
            }

            //Verifica si hay Damnificados en la Salida y los carga a el modelo de la salida.
            if (SuministroAguaViewModel.Damnificados != null && SuministroAguaViewModel.Damnificados.Any())
            {
                suministroagua.Damnificados = SuministroAguaViewModel.Damnificados.ToList();
            }

            await SalidaService.GuardarSalida(suministroagua);
            HandleOk1(suministroagua.AnioNumeroParte, suministroagua.NumeroParte);
            Init();
            StateHasChanged();
        }
        catch (Exception e)
        {
            // Notificar al usuario
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }

    @*Inicio*@
    protected override void OnInitialized()
    {
        Init();
    }

    private void Init()
    {
        SuministroAguaViewModel = new();
    }

    @*Finish Failed*@
    private void OnFinishFailed(EditContext editContext)
    {
        message.Error("Error al cargar, posible información ausente");
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(SuministroAguaViewModel)}");
    }

    @*Impresión*@
    bool _visible1;

    public int ImprimirAnio;
    public int ImprimirNumeroParte;
    void HandleOk1(int _anio, int _numeroParte)
    {
        ImprimirAnio = _anio;
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }
}