@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios-comercio"
@using Vista.Data.ViewModels.Incendios;


<label>Lugar:</label>
<select @bind="salidaIncendioComercioView.TipoLugar">
    <option value="@TipoLugarComercioIncendio.Bar">Bar</option>
    <option value="@TipoLugarComercioIncendio.Cine">Cine</option>
    <option value="@TipoLugarComercioIncendio.RestauranteLocalDeComida">Resto / lugar de comida</option>
    <option value="@TipoLugarComercioIncendio.Shopping">Shopping</option>
    <option value="@TipoLugarComercioIncendio.Teatro">Teatro</option>
    <option value="@TipoLugarComercioIncendio.Otro">Otro</option>
</select>
<br>
@if (salidaIncendioComercioView.TipoLugar == TipoLugarComercioIncendio.Otro)
{
    <label>Otro:</label>
    <input type="text" @bind="salidaIncendioComercioView.OtroLugar" />
    <br>
}
<label>Descripcion:</label>
<input type="text" @bind="salidaIncendioComercioView.Descripcion" />
<br>
<label>@salidaIncendioComercioView.HoraSalida</label>
<br>
<label>Hora salida y hora de llegada:</label>
<input type="time" @bind="salidaIncendioComercioView.HoraSalida"/>
<input type="time" @bind="salidaIncendioComercioView.HoraLLegada"/>
<br>
<label>Km salida:</label>
<input type="number" @bind="salidaIncendioComercioView.KmSalida"/>
<br>
<label>Km llegada:</label>
<input type="number" @bind="salidaIncendioComercioView.KmLlegada"/>
<br>
<label>Nº parte:</label>
<input type="number" @bind="salidaIncendioComercioView.NumeroParte" />
<br>
<label>Calle / ruta:</label>
<input type="text" @bind="salidaIncendioComercioView.CalleORuta" />
<br>
<label>Numero / kilometro:</label>
<input type="number" @bind="salidaIncendioComercioView.NumeroOKilometro" />
<br>
<label>Entre calles:</label>
<input type="text" @bind="salidaIncendioComercioView.EntreCalles" />
<br>
<label>Piso nº:</label>
<input type="number" @bind="salidaIncendioComercioView.PisoNumero" />
<br>
<label>Depto:</label>
<input type="text" @bind="salidaIncendioComercioView.Depto" />
<br>
<label>Tipo zona:</label>
<select @bind="salidaIncendioComercioView.TipoZona">
    <option value="@TipoZona.Rural">Rural</option>
    <option value="@TipoZona.Urbana">Urbana</option>
</select>
<br>
<label>Nombre solicitante:</label>
<input type="text" @bind="salidaIncendioComercioView.NombreSolicitante" />
<br>
<label>Apellido solicitante:</label>
<input type="text" @bind="salidaIncendioComercioView.ApellidoSolicitante" />
<br>
<label>DNI solicitante:</label>
<input type="text" @bind="salidaIncendioComercioView.DniSolicitante" />
<br>
<label>Telefono solicitante:</label>
<input type="text" @bind="salidaIncendioComercioView.TelefonoSolicitante" />
<br>
<label>Nombre receptor:</label>
<input type="text" @bind="salidaIncendioComercioView.NombreReceptor"/>
<br>
<label>Apellido receptor:</label>
<input type="text" @bind="salidaIncendioComercioView.ApellidoReceptor"/>
<br>
<label>Legajo receptor:</label>
<input type="text" @bind="salidaIncendioComercioView.LegajoReceptor"/>
<br>
<label>Deteccion automatica:</label>
<input type="checkbox" @bind="salidaIncendioComercioView.DeteccionAutomaticaId" />
<br>
<label>hidrante:</label>
<select @bind="salidaIncendioComercioView.Hidrante">
    <option value="@salidaIncendioComercioView.Hidrante">Si</option>
    <option value="@salidaIncendioComercioView.Hidrante">No</option>
</select>
<br>
<label>Extintor:</label>
<select @bind="salidaIncendioComercioView.Extintor">
    <option value="@salidaIncendioComercioView.Extintor">Si</option>
    <option value="@salidaIncendioComercioView.Extintor">No</option>
</select>
<br>
@if (salidaIncendioComercioView.Tipo == TipoIncendio.Embarcaiones)
{
    <select @bind="salidaIncendioComercioView.TipoLugarSiniestroEmbarcacion">
        <option value="@TipoLugarSiniestroEmbarcacion.Baliza">Baliza</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Boya">Boya</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Canal">Canal</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Darsena">Darsena</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Puerto">Puerto</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Rada">Rada</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Sitio">Sitio</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Terminal">Terminal</option>
        <option value="@TipoLugarSiniestroEmbarcacion.Otro">Otro</option>
    </select>
    <br>
    @if (salidaIncendioComercioView.TipoLugarSiniestroEmbarcacion == TipoLugarSiniestroEmbarcacion.Otro)
    {
        <label>Otro:</label>
        <input type="text" @bind="salidaIncendioComercioView.OtroLugarDeSiniestroEmbarcacion" />
        <br>
    }
}
<select @bind="salidaIncendioComercioView.TipoEvacuacion">
    <option value="@TipoEvacuacion.EvacuacionParcial">Parcial</option>
    <option value="@TipoEvacuacion.EvacuacionTotal">Total</option>
    <option value="@TipoEvacuacion.NoEvacuo">No se evacuo</option>
</select>
<br>
<label>Tipo de superficie:</label>
<select @bind="salidaIncendioComercioView.TipoSuperficieAfectada">
    <option value="@TipoSuperficie.Hectareas">Hectareas</option>
    <option value="@TipoSuperficie.Km">Km</option>
    <option value="@TipoSuperficie.Metros">Metros</option>
</select>
<label>Detalle superficie:</label>
<input type="text" @bind="salidaIncendioComercioView.OtroLugarDeSiniestroEmbarcacion" />
<br>
<label>Causa:</label>
<select @bind="salidaIncendioComercioView.SuperficieAfectadaCausa">
    <option value="@TipoCausaIncendio.Desconocidas">Desconocidas</option>
    <option value="@TipoCausaIncendio.Internacional">Internacional</option>
    <option value="@TipoCausaIncendio.Natural">Natural</option>
    <option value="@TipoCausaIncendio.Negligencia">Negligencia</option>
</select>
<br>
<label>Tipo de abertura:</label>
<select @bind="salidaIncendioComercioView.TipoAbertura">
    <option value="@TipoIncendioAbertura.AceroHierro">Acero / Hierro</option>
    <option value="@TipoIncendioAbertura.Aluminio">Aluminio</option>
    <option value="@TipoIncendioAbertura.Madera">Madera</option>
    <option value="@TipoIncendioAbertura.Plastica">Plastica</option>
    <option value="@TipoIncendioAbertura.Otro">Otro</option>
</select>
@if (salidaIncendioComercioView.TipoAbertura == TipoIncendioAbertura.Otro)
{
    <label>Otro:</label>
    <input type="text" @bind="salidaIncendioComercioView.OtraAbertura" />
}
<br>
<label>Tipo de techo:</label>
<select @bind="salidaIncendioComercioView.TipoTecho">
    <option value="@TipoIncendioTecho.ChapaCarton">Chapa / carton</option>
    <option value="@TipoIncendioTecho.ChapaMetalica">Chapa metalica</option>
    <option value="@TipoIncendioTecho.MaderaPaja">Madera / paja</option>
    <option value="@TipoIncendioTecho.Tejas">Tejas</option>
    <option value="@TipoIncendioTecho.Yeso">Yeso</option>
    <option value="@TipoIncendioTecho.Otro">Otro</option>
</select>
@if (salidaIncendioComercioView.TipoTecho == TipoIncendioTecho.Otro)
{
    <label>Otro:</label>
    <input type="text" @bind="salidaIncendioComercioView.OtroTecho" />
    <br>
}


@if (salidaIncendioComercioView.Tipo == TipoIncendio.Comercios || salidaIncendioComercioView.Tipo == TipoIncendio.EstablecimientoEducativo || salidaIncendioComercioView.Tipo == TipoIncendio.EstablecimientoPublico || salidaIncendioComercioView.Tipo == TipoIncendio.Hospital || salidaIncendioComercioView.Tipo == TipoIncendio.Clinica || salidaIncendioComercioView.Tipo == TipoIncendio.Industria || salidaIncendioComercioView.Tipo == TipoIncendio.Vivienda)
{
    <label>Nombre establecimiento:</label>
    <input type="text" @bind="salidaIncendioComercioView.NombreEstablecimiento" />
    <br>
    <label>Cantidad pisos afectados:</label>
    <input type="number" @bind="salidaIncendioComercioView.CantidadPisos" />
    <br>
    @for (int i = 0; i == salidaIncendioComercioView.CantidadPisos; i++)
    {
        <label>Piso afectado:</label>
        <input type="number" @bind="salidaIncendioComercioView.PisoAfectado" />
        <br>
    }
    <label>Cantidad ambientes:</label>
    <input type="number" @bind="salidaIncendioComercioView.CantidadAmbientes" />
    <br>
}
<button @onclick="SubirIncendioComercio">Subir planilla</button>

@code {

    public IncendioComercioViewModels  salidaIncendioComercioView { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        salidaIncendioComercioView.HoraSalida = DateTime.Now;
    }

    public async void SubirIncendioComercio()
    {
        using var db = await DbFactory.CreateDbContextAsync();
        if (salidaIncendioComercioView is not null)
        {
            //IncendioComercio? numeroParte = await db.Set<IncendioComercio>().Where(m => m. == salidaIncendioComercioView.NumeroParte).SingleOrDefaultAsync();
            if (salidaIncendioComercioView is not null)
            {
                Incendio salidaIncendioComercio = new Incendio()
                {
                    Tipo = salidaIncendioComercioView.Tipo,
                    Descripcion = salidaIncendioComercioView.Descripcion,
                    HoraSalida = salidaIncendioComercioView.HoraSalida,
                    HoraLlegada = salidaIncendioComercioView.HoraLLegada,
                    KmSalida = salidaIncendioComercioView.KmSalida,
                    KmLlegada = salidaIncendioComercioView.KmLlegada,
                    NumeroParte = salidaIncendioComercioView.NumeroParte,
                    CalleORuta = salidaIncendioComercioView.CalleORuta,
                    NumeroOKilometro = salidaIncendioComercioView.NumeroOKilometro,
                    EntreCalles = salidaIncendioComercioView.EntreCalles,
                    PisoNumero = salidaIncendioComercioView.PisoNumero,
                    Depto = salidaIncendioComercioView.Depto,
                    TipoZona = salidaIncendioComercioView.TipoZona,
                    NombreSolicitante = salidaIncendioComercioView.NombreSolicitante,
                    ApellidoSolicitante = salidaIncendioComercioView.ApellidoSolicitante,
                    DniSolicitante = salidaIncendioComercioView.DniSolicitante,
                    TelefonoSolicitante = salidaIncendioComercioView.TelefonoSolicitante,
                    //NombreReceptor = salidaIncendioComercioView.NombreReceptor,
                    //ApellidoReceptor = salidaIncendioComercioView.ApellidoReceptor,
                    //LegajoReceptor = salidaIncendioComercioView.LegajoReceptor,
                    DeteccionAutomaticaId= salidaIncendioComercioView.DeteccionAutomaticaId,
                    Extintor = salidaIncendioComercioView.Extintor,
                    Hidrante = salidaIncendioComercioView.Hidrante,
                    TipoLugarSiniestroEmbarcacion = salidaIncendioComercioView.TipoLugarSiniestroEmbarcacion,
                    OtroLugarDeSiniestroEmbarcacion= salidaIncendioComercioView.OtroLugarDeSiniestroEmbarcacion,
                    TipoEvacuacion = salidaIncendioComercioView.TipoEvacuacion,
                    TipoSuperficieAfectada = salidaIncendioComercioView.TipoSuperficieAfectada,
                    DetalleSuperficieAfectadaIncendio = salidaIncendioComercioView.DetalleSuperficieAfectadaIncendio,
                    SuperficieAfectadaCausa = salidaIncendioComercioView.SuperficieAfectadaCausa,
                    TipoAbertura = salidaIncendioComercioView.TipoAbertura,
                    OtraAbertura= salidaIncendioComercioView.OtraAbertura,
                    TipoTecho = salidaIncendioComercioView.TipoTecho,
                    OtroTecho = salidaIncendioComercioView.OtroTecho,
                    OtroLugar = salidaIncendioComercioView.OtroLugar,
                    NombreEstablecimiento = salidaIncendioComercioView.NombreEstablecimiento,
                    CantidadPisos = salidaIncendioComercioView.CantidadPisos,
                    PisoAfectado = salidaIncendioComercioView.PisoAfectado,
                    CantidadAmbientes = salidaIncendioComercioView.CantidadAmbientes
                };
                    db.Set<Incendio>().Add(salidaIncendioComercio);
                    await db.SaveChangesAsync();
                    salidaIncendioComercioView = new();
                    StateHasChanged();

             

            }
        }
        
        

    }
}
