@page "/legajo"
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
<h3>Legajos</h3>

<Table DataSource="salidasViewModel" OnChange="OnChange" TItem="SalidasViewModel">
    <TitleTemplate>
        <GridRow>
            <GridCol Span="4">
                <Title Level="3">Registro Salidas</Title>
            </GridCol>
            <GridCol Span="8" Offset="12">
                <Search Placeholder="Search Name" @bind-Value="searchString" OnSearch="()=>_table?.ReloadData()" />
            </GridCol>
        </GridRow>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Title="N° Parte" Property="c=>c.NumeroParte"
                        DefaultSortOrder="@SortDirection.Descending"
                        SorterCompare="@((a,b)=> a - b)" />
        <PropertyColumn Title="Direccion" Property="c=>c.EntreCalles"
                        DefaultSortOrder="@SortDirection.Descending"
                         />
         <TableFilter MatchMode="MatchMode.Contains" FilterCallback="OnFilterChanged" />
        <PropertyColumn Title="Tipo Salida" Property="c=>c.Discriminador"
                        SortDirections="new[] { SortDirection.Descending }"
                        Filters="DiscriminadorFilter"
                        OnFilter="((value,name)=>Enum.GetName(typeof(TipoSalida), name).StartsWith(Enum.GetName(typeof(TipoSalida), value)))" />

        <ActionColumn Title="Action">
            <Space>
                <SpaceItem><Button Danger OnClick="()=>Delete(context.NumeroParte)">Delete</Button></SpaceItem>
                @*<SpaceItem><Button Type="primary" OnClick="()=>ShowModalEditar(context.NumeroLegajo)">Editar</Button></SpaceItem>*@
                <SpaceItem><Button Type="primary" OnClick="()=>ShowModalDetalle(context.SalidaId)">Detalles</Button></SpaceItem>
            </Space>
        </ActionColumn>
        @*<Column Title="Salidas" @bind-Field="@discriminadores" Sortable />*@
    </ColumnDefinitions>
    
</Table>


@*-----------------------------------------------------------Modal Detalles-----------------------------------------------------------------------------------------*@


<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <p>NumeroParte: @salidasViewModel[numeroParteVisualizar].NumeroParte</p>
    <p>Tipo De Salida: @salidasViewModel[numeroParteVisualizar].Discriminador</p>

    <p>HoraLlegada: @salidasViewModel[numeroParteVisualizar].HoraLlegada</p>
    <p>KmSalida: @salidasViewModel[numeroParteVisualizar].KmSalida</p>
    <p>KmLlegada: @salidasViewModel[numeroParteVisualizar].KmLlegada</p>
    <p>Descripcion: @salidasViewModel[numeroParteVisualizar].Descripcion</p>
    <p>CalleORuta: @salidasViewModel[numeroParteVisualizar].CalleORuta</p>
    <p>NumeroOKilometro: @salidasViewModel[numeroParteVisualizar].NumeroOKilometro</p>
    <p>EntreCalles: @salidasViewModel[numeroParteVisualizar].EntreCalles</p>
    <p>PisoNumero: @salidasViewModel[numeroParteVisualizar].PisoNumero</p>
    <p>Depto: @salidasViewModel[numeroParteVisualizar].Depto</p>
    <p>TipoZona: @salidasViewModel[numeroParteVisualizar].TipoZona</p>

    <p>NombreSolicitante: @salidasViewModel[numeroParteVisualizar].NombreSolicitante</p>
    <p>ApellidoSolicitante: @salidasViewModel[numeroParteVisualizar].NombreSolicitante</p>
    <p>DniSolicitante: @salidasViewModel[numeroParteVisualizar].DniSolicitante</p>
    <p>TelefonoSolicitante: @salidasViewModel[numeroParteVisualizar].TelefonoSolicitante</p>
@*
    <p><b>Receptor:</b> @salidasViewModel[numeroParteVisualizar].Receptor</p>*@

    <p><b>ReceptorBombero:</b> @salidasViewModel[numeroParteVisualizar].ReceptorBombero</p>

    
    @if (salidasViewModel[numeroParteVisualizar].Damnificados is not null)
    {
        <p><b>Damnificado:</b></p>
        @foreach (Damnificado d in salidasViewModel[numeroParteVisualizar].Damnificados)
        {
            <p>Nombre: @d.Nombre</p>
            <p>Apellido: @d.Apellido</p>
            <p>Dni: @d.Dni</p>
            <p>Sexo: @d.Sexo</p>
            <p>LugarDeNacimiento: @d.LugarDeNacimiento</p>
            <p>Estado: @d.Estado</p>
            <p>VehiculoDamnificado:</p>
            //Añadir este objeto a la hora de traer salidas
            <p>Edad: @d.Edad</p>
            <p>Estado: @d.Estado</p>
        }
    }
    

    <p><b>Moviles:</b></p>

    @foreach (MovilSalida ms in salidasViewModel[numeroParteVisualizar].Moviles)
    {
        <p><b>Chofer: @ms.Chofer.Nombre @ms.Chofer.Apellido</b></p>
        <p>CargoCombustible: @ms.CargoCombustible</p>
        <p>MovilId: @ms.MovilId</p>
        <p>Tipo movil: @ms.Movil.Tipo</p>//traer datos de movil en llamada de salidas
        <p>Modelo movil: @ms.Movil.Modelo</p>
        <p>NumeroMovil movil: @ms.Movil.NumeroMovil</p>
    }
    <p><b>CuerpoParticipante:</b></p>
    @foreach (BomberoSalida b in salidasViewModel[numeroParteVisualizar].CuerpoParticipante)
    {
        <p><b>Bombero: @b.Bombero.Nombre @b.Bombero.Apellido</b></p>//traer datos de cada bombero
        <p>Numero de Legajo: @b.Bombero.NumeroLegajo</p>
        <p>Salio: @b.Salio</p>
        <p>Grado: @b.Grado</p>
    }

    <p><b>Encargado:</b></p>
    <p>Bombero: @salidasViewModel[numeroParteVisualizar].Encargado.Nombre @salidasViewModel[numeroParteVisualizar].Encargado.Apellido</p>
    <p>Encargado:  @salidasViewModel[numeroParteVisualizar].Encargado.NumeroLegajo</p>
    
    <p><b>QuienLleno:</b></p>
    <p>Bombero: @salidasViewModel[numeroParteVisualizar].QuienLleno.Nombre @salidasViewModel[numeroParteVisualizar].QuienLleno.Apellido</p>
    <p>Numero de Parte: @salidasViewModel[numeroParteVisualizar].QuienLleno.NumeroLegajo</p>

    <p>TipoServicio: @salidasViewModel[numeroParteVisualizar].TipoServicio</p>

</Modal>


@using AntDesign.TableModels;
@using System.Text.Json;
@code {
    string searchString;
    IEnumerable<Salida> dataSource;
    ITable _table;
    int _total = 0;

    List<SalidasViewModel>? salidasViewModel = new List<SalidasViewModel>();
    List<string> discriminadores = new List<string>();
    private TableFilter<TipoSalida>[] DiscriminadorFilter;
    List<SalidasViewModel>? salidasViewModelCarga = new List<SalidasViewModel>();
    List<Salida>? salidas;

    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.CreateDbContextAsync();
        //Llamo a los datos de la tabla sallida co sus respectivas listas y objetos
        salidas = db.Set<Salida>()
        .Include(s => s.Moviles)
            .ThenInclude(ms => ms.Movil)

            .Include(s => s.Moviles)
            .ThenInclude(ms => ms.Chofer)
        .Include(s => s.CuerpoParticipante).ThenInclude(cp => cp.Bombero)
        .Include(s => s.ReceptorBombero).ThenInclude(rb => rb.Contacto)
        .Include(s => s.Encargado).ThenInclude(e => e.Brigada)
        .Include(s => s.QuienLleno).ThenInclude(ql => ql.Brigada)
        .ToList();

        //traigo el discriminados de cada elemento la tabla salidas
        foreach (var entidad in salidas)
        {
            var entry = db.Entry(entidad);
            var entityType = entry.Metadata;
            var discriminatorProperty = entityType.FindDiscriminatorProperty();
            var discriminatorValue = entry.CurrentValues[discriminatorProperty];

            string discriminador = discriminatorValue?.ToString();
            discriminadores.Add(discriminador);
        }
        GetSalidasViewModel(salidas);

        //Filtro del discriminador, le asigno un valor de un enum a cada numero discriminador
        DiscriminadorFilter = new TableFilter<TipoSalida>[Enum.GetValues(typeof(TipoSalida)).Length];
        int i = 0;
        foreach (TipoSalida value in Enum.GetValues(typeof(TipoSalida)))
        {
            DiscriminadorFilter[i] = new() { Text = Enum.GetName(typeof(TipoSalida), value), Value = value };
            i++;
        }


        StateHasChanged();
    }

    void OnChange(QueryModel<SalidasViewModel> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));

        //dataSource = query.ExecuteQuery(data.AsQueryable())
        //    .Where(x => string.IsNullOrWhiteSpace(searchString) || x.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase));
    }

    void OnRowClick(RowData<SalidasViewModel> row)
    {
        Console.WriteLine($"row {row.Data.SalidaId} was clicked");
    }

    private async void Delete(int id)
    {
        using var context = DbFactory.CreateDbContext();
        Salida? salida = await context.Set<Salida>().Where(s => s.NumeroParte == id).SingleOrDefaultAsync();
        context.Remove(salida);
        salidas = salidas.Where(x => x.NumeroParte != id).ToList();
        salidasViewModel = salidasViewModel.Where(x => x.NumeroParte != id).ToList();
        _total = salidas.Count;
        
        await context.SaveChangesAsync();
        StateHasChanged();
    }
}
@code{
    private class SalidasViewModel : Salida
    {
        public int SalidaId { get; set; }
        public DateTime HoraSalida { get; set; }
        public DateTime HoraLlegada { get; set; }
        public int KmSalida { get; set; }
        public int KmLlegada { get; set; }
        public int NumeroParte { get; set; }

        public string Descripcion { get; set; }

        public string CalleORuta { get; set; }

        public string NumeroOKilometro { get; set; }

        public string? EntreCalles { get; set; }

        public string? PisoNumero { get; set; }

        public string? Depto { get; set; }
        public TipoZona TipoZona { get; set; }

        public string NombreSolicitante { get; set; }
        public string ApellidoSolicitante { get; set; }
        public string DniSolicitante { get; set; }
        public string TelefonoSolicitante { get; set; }

        public string? Receptor { get; set; }

        public int? ReceptorId { get; set; }


        public Bombero? ReceptorBombero { get; set; }

        //Si hay damnificados, entonces hay intervinientes
        public List<Damnificado> Damnificados { get; set; }

        public int? SeguroId { get; set; }
        public SeguroSalida? Seguro { get; set; }

        //relaciones con bomberos y moviles
        public List<MovilSalida> Moviles { get; set; }

        public List<BomberoSalida> CuerpoParticipante { get; set; }

        public int EncargadoId { get; set; }
        public Bombero Encargado { get; set; }

        public int QuienLlenoId { get; set; }
        public Bombero QuienLleno { get; set; }
        public TipoServicioSalida TipoServicio { get; set; }
        public TipoSalida Discriminador { get; set; }
    }

    private async void  GetSalidasViewModel(List<Salida> salidas)
    {
        //db.Set<Salida>().ToList();
        using var context = await DbFactory.CreateDbContextAsync();

        
        int contador = 0;
        foreach (Salida s in salidas)
        {
            List<Damnificado>? damificado = await context.Damnificados
                .Where(D => D.SalidaId == s.SalidaId)
                .ToListAsync();
            SalidasViewModel NuevaSalidaVM = new SalidasViewModel()
            {
                    SalidaId = s.SalidaId,
                    HoraSalida= s.HoraSalida,
                    HoraLlegada = s.HoraLlegada,
                    KmSalida= s.KmSalida,
                    KmLlegada=s.KmLlegada,
                    NumeroParte= s.NumeroParte,
                    Descripcion=s.Descripcion,
                    CalleORuta=s.CalleORuta,
                    NumeroOKilometro=s.NumeroOKilometro,
                    EntreCalles= s.EntreCalles,
                    PisoNumero= s.PisoNumero,
                    Depto=s.Depto,
                    TipoZona=s.TipoZona,
                    NombreSolicitante= s.NombreSolicitante,
                    ApellidoSolicitante= s.ApellidoSolicitante,
                    DniSolicitante=s.DniSolicitante,
                    TelefonoSolicitante= s.TelefonoSolicitante,
                    //Receptor= s.Receptor,
                    ReceptorId=s.ReceptorId,
                    ReceptorBombero = s.ReceptorBombero,
                    Damnificados = damificado,
                    Moviles = s.Moviles,
                    Seguro=s.Seguro,
                    CuerpoParticipante = s.CuerpoParticipante,
                    EncargadoId=s.EncargadoId,
                    Encargado= s.Encargado,
                    QuienLleno = s.QuienLleno,
                    QuienLlenoId=s.QuienLlenoId,
                    TipoServicio=s.TipoServicio,
                    Discriminador = (TipoSalida)int.Parse(discriminadores[contador])
            };
            salidasViewModel.Add(NuevaSalidaVM);
            contador++;
        }
        StateHasChanged();
        
    }

}
@code {
    string title = "Detalles Salida";
    bool _visible = false;
    int numeroParteVisualizar;
    private void ShowModalDetalle(int numeroParte)
    {
        numeroParteVisualizar = salidasViewModel.FindIndex(n => n.SalidaId == numeroParte);
        
        _visible = true;
    }
    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}