@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/materiales-peligrosos"
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using Vista.Data.ViewModels.MaterialesPeligrosos;

<Form  Model="@modelMateriales"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">

    <FormItem Label="Dato Hora salida">
        <DatePicker TValue="DateTime" ShowTime="@true" OnChange="OnChange" @bind-Value="@modelMateriales.HoraSalida" />
    </FormItem>
    <FormItem Label="Dato Hora llegada">
        <DatePicker TValue="DateTime" ShowTime="@true" OnChange="OnChange" @bind-Value="@modelMateriales.HoraLLegada" />
    </FormItem>
    <FormItem Label="Tipo material">
        <EnumSelect TEnum="TipoMaterialPeligroso" @bind-Value="@modelMateriales.Tipo" />
    </FormItem>

    
    <FormItem Label="Descripcion">
        <Input @bind-Value="@modelMateriales.Descripcion" />
    </FormItem>
    <FormItem Label="Cuerpo Parteticipantes">
        <Input @bind-Value="@modelMateriales.CuerpoParticipante" />
    </FormItem>
    <FormItem Label="Tipo material">
        <Input @bind-Value="@modelMateriales.Descripcion" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Input @bind-Value="@modelMateriales.Descripcion" />
    </FormItem>





    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code
{


    private MaterialPeligrosoViewModels modelMateriales = new ();



    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(modelMateriales)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(modelMateriales)}");
    }
    private void OnChange(DateTimeChangedEventArgs args)
    {
        Console.WriteLine($"Selected Time: {args.Date}");
        Console.WriteLine($"Formatted Selected Time: {args.DateString}");
    }
   

    
}

