@implements IDisposable
@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@inject IMessageService message
@inject MessageService _message
@page "/Licencias-Detalles"

<style>
    .ant-table-row > td {
        color: black;
        background-color: white;
    }

    .ant-table-row:hover > td {
        background-color: white !important;
    }

    .notificacion {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* width: 100%;  */
    }

    .ant-badge {
        padding: 0 5px !important;
        font-size: 22px!important;
    }

    .inpt-cont--lbl {
        min-width: 170px;
        text-align: start;
        font-weight: bold;
        overflow: hidden !important;
    }

    .inpt-cont {
        min-width: 170px;
        display: flex;
        flex-direction: column;
        padding: .3em 0;
        width: 100%;
        overflow: hidden !important;
    }

    .inpt-cont-inline {
        min-width: 170px;
        display: flex;
        align-items: flex-end;
        gap: 1em;
        overflow: hidden !important;
        height: 100%;
    }

    .botonesCont {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .ant-table-title {
        height: 6.5em !important;
    }

    .ant-badge {
        margin: 0 !important;
        padding: 0 10px !important;
        height: 100%!important;
        width: 100%!important;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
    }

    @@media (max-width: 960px) {
        .ant-table-row, .ant-table-row-level-0 {
            display: flex !important;
            flex-direction: column !important;
        }

        .ant-table.ant-table-bordered > .ant-table-title {
            height: 15em !important;
        }

        .buton-cont {
            width: 100% !important;
        }

        #ant-blazor-df7d6d62-e78b-479a-b209-8325c3889500 {
            width: 100% !important;
        }

        .notif-cont {
            align-items: flex-start !important;
        }

        .notificacion {
            margin-top: 15px !important;
        }

        .inpt-cont-inline {
            flex-direction: column !important;
            gap: 0 !important;
        }
    }

    .boton_p {
        background-color: #f5f5f5 !important;
        color: dimgray !important;
        border: 1px solid dimgray !important;
        border-radius: 5px;
    }

    .template {
        width: 100%;
        height: 100%;
        max-width: 97%;
        min-width: 400px;
        max-height: 100vh;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em;
        padding: 0;
        overflow: auto; 
    }

    .ant-table-wrapper{
        width: 100%;
        height: 100%;
        padding: 0 25px;
    }

    /* sacamos borde superior */
    .ant-table.ant-table-bordered > .ant-table-title {
        border: none!important;
    }

    .template::-webkit-scrollbar {
        width: 5px!important;
    }
    .template::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px!important;
    }

    .ant-table-title {
        padding: 16px 0!important;
    }

    .ant-spin-container{
        padding: 5px 0!important;
    }

    .ant-dropdown-trigger{
        height: 32px !important;
    }
    
    .ant-table-tbody > tr.ant-table-row.Aprobada > td {
        background-color: rgb(209, 255, 207) !important;
    }

    .ant-table-tbody > tr.ant-table-row.Pendiente > td {
        background-color: rgb(255, 255, 192) !important;
    }

    .ant-table-tbody > tr.ant-table-row.Rechazada > td {
        background-color: rgb(255, 96, 96) !important;
    }

</style>

<div class="template">
    <Table Class="Tabla" DataSource="LicenciasActivasVM" PageSize="20" Responsive Style="border: none;width: 100%;"
    RowClassName="@(c => c.Data.EstadoLicencia.ToString())">
        <TitleTemplate>
            <div class="botonesCont">
                <div class="inpt-cont-inline">
                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Desde: </label>
                        <DatePicker TValue="DateTime" DefaultValue="DateTime.Now" @bind-Value="@FechaBuscarI" />
                    </div>
                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Hasta: </label>
                        <DatePicker TValue="DateTime" DefaultValue="DateTime.Now" @bind-Value="@FechaBuscarF" />
                    </div>
                    <div class="buton-cont">
                        <Button OnClick="@LicenciasBuscar" Style="margin-bottom: 5px;">
                            <Icon Type="search" Theme="outline" />
                        </Button>
                    </div>
                </div>
                @*Parte del encuadre de texto del buscador  de licencias*@
                <div class="inpt-cont-inline">
                    <div style="display: flex; margin-bottom: 5px;" class="buton-cont">
                        <Search Placeholder="Buscar" WrapperStyle="width: 200px;" AllowClear EnterButton="true" @bind-Value="Busqueda" OnChange="BuscarLicenciado" />
                    </div>
                </div>
                <div style="display: flex;">
                    <Button Class="boton_p" OnClick="()=>ShowModalAgregar()">Agrega Licencia</Button>
                    <Dropdown Class="notif-cont" Trigger="@(new Trigger[] { Trigger.Click })" Placement="Placement.BottomRight" Arrow Style="display: flex;width: fit-content;align-items: center;">
                        <Overlay>
                            <Menu Style="min-width:520px;max-width:1000px;">
                                <LicenciasAprobar />
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <div class="notificacion">
                                <Badge Count="LicenciasPendientes.Count">
                                    <i style="cursor: pointer;" class="fa-sharp fa-regular fa-bell"></i>
                                </Badge>
                            </div>
                        </ChildContent>
                    </Dropdown>
                 </div>
             </div>
         </TitleTemplate>
         <ColumnDefinitions Context="muestra">
             <PropertyColumn Title="Apellido y Nombre" Property="c=>c.ApellidoYNombre" Sortable></PropertyColumn>
            <PropertyColumn Property="c=>c.Desde" Format="dd/MM/yyyy HH:mm" Sortable></PropertyColumn>
            <PropertyColumn Property="c=>c.Hasta" Format="dd/MM/yyyy HH:mm" Sortable></PropertyColumn>
            <PropertyColumn Title="Duración en Días" Property="c => c.DuracionEnDias" Sortable>
                <Template>
                    @{
                        string color;

                        // Determinar el color según el estado de la licencia
                        if (muestra.EstadoLicencia == TipoEstadoLicencia.Rechazada)
                        {
                            color = "#D32F2F"; // Rojo claro para estado rechazado
                        }
                        else if (muestra.EstadoLicencia == TipoEstadoLicencia.Aprobada)
                        {
                            color = "#99FF99"; // Verde claro para estado aprobado
                        }
                        else
                        {
                            color = "#FFCC99"; // Naranja claro para estado pendiente
                        }
                    }
                    <span style="background-color:@color; padding: 0 24px; width: 100px; display: inline-block; text-align: center;">@muestra.DuracionEnDias</span>
                </Template>
            </PropertyColumn>
             <PropertyColumn Title="Tipo" Property="c=>c.TipoLicencia" Sortable></PropertyColumn>
             <PropertyColumn Title="Estado" Property="c => c.EstadoLicencia" Sortable Filterable>
                <Template>
                    @{
                        if (muestra.EstadoLicencia == TipoEstadoLicencia.Rechazada)
                        {
                            <span style="text-align: center;">@TipoEstadoLicencia.Rechazada</span>

                        }
                        else if (muestra.EstadoLicencia == TipoEstadoLicencia.Aprobada)
                        {
                            <span style="text-align: center;">@TipoEstadoLicencia.Aprobada</span>

                        }
                        else
                        {
                            <span style="text-align: center;">@TipoEstadoLicencia.Pendiente</span>
                        }
                    }
                </Template>
            </PropertyColumn>
        </ColumnDefinitions>
    </Table>
</div>

<Modal Footer="null" Title="@("Agregar la licencia")"
       Visible="@_visibleAgregar"
       OnOk="@HandleOkAgregar"
       OnCancel="@HandleCancelAgregar">

    <LicenciasAlta />
    <Button Style="margin-right: 100px !important; border: 1px solid black !important" OnClick="@HandleCancelAgregar">
        Volver
    </Button>
</Modal>

@code {

    public class LicencasVm
    {
        [Required]
        public TipoLicencia TipoLicencia { get; set; }
        public string Descripcion { get; set; }
        public DateTime Desde { get; set; }
        public DateTime Hasta { get; set; }
        public TipoEstadoLicencia EstadoLicencia { get; set; }
        public int PersonaId { get; set; }
        public Bombero? PersonalAfectado { get; set; }
        public string? ApellidoYNombre { get; set; }

        public int DuracionEnDias
        {
            get
            {
                return (Hasta - Desde).Days + 1;
            }
        }
    }

    //variables Locales
    DateTime FechaBuscarI;
    DateTime FechaBuscarF;
    BomberosDbContext Context { get; set; }
    public LicencasVm LicencasVM = new();
    List<LicencasVm> LicenciasActivasVM = new();
    List<Licencia> LicenciasPendientes = new();
    public bool _visibleAgregar = false;
    string? Busqueda;

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
    private async Task Init()
    {
        LicencasVM = new();
        Context = DbFactory.CreateDbContext();
        await LicenciasActivas();
        await LicenciasPendiente();
    }


    private async Task LicenciasActivas()
    {
        LicenciasActivasVM.Clear();
        var Licencias = await Context.Licencias
        .Include(b => b.PersonalAfectado)
        .ToListAsync();

        foreach (var l in Licencias)
        {
            LicencasVm LicVm = new()
                {
                    TipoLicencia = l.TipoLicencia,
                    Descripcion = l.Descripcion,
                    Desde = l.Desde,
                    Hasta = l.Hasta,
                    EstadoLicencia = l.EstadoLicencia,
                    ApellidoYNombre = l.PersonalAfectado?.Apellido + ", " + l.PersonalAfectado?.Nombre,
                };

            LicenciasActivasVM.Add(LicVm);
        }

        StateHasChanged();
    }

    private async Task LicenciasBuscar()
    {
        LicenciasActivasVM.Clear();
        var licencias = await Context.Licencias
            .Where(l => l.Desde >= FechaBuscarI && l.Hasta <= FechaBuscarF)
            .Include(b => b.PersonalAfectado)
            .ToListAsync();

        foreach (var licencia in licencias)
        {
            LicencasVm LicVm = new()
                {
                    TipoLicencia = licencia.TipoLicencia,
                    Descripcion = licencia.Descripcion,
                    Desde = licencia.Desde,
                    Hasta = licencia.Hasta,
                    EstadoLicencia = licencia.EstadoLicencia,
                    ApellidoYNombre = licencia.PersonalAfectado?.Apellido + ", " + licencia.PersonalAfectado?.Nombre,
                };

            LicenciasActivasVM.Add(LicVm);
        }

        StateHasChanged();
    }

    private async Task LicenciasPendiente()
    {
        LicenciasPendientes = new();
        LicenciasPendientes = await Context.Licencias.Where(l => l.EstadoLicencia == TipoEstadoLicencia.Pendiente).ToListAsync();
    }


    // BuscarLicenciados
    private async Task BuscarLicenciado()
    {
        LicenciasActivasVM.Clear();
        var licencias = await Context.Licencias
        .Where(l => l.PersonalAfectado.Nombre.ToLower().Contains(Busqueda.ToLower()) || l.PersonalAfectado.Apellido.ToLower().Contains(Busqueda.ToLower()))
        .Include(b => b.PersonalAfectado).ToListAsync();
        foreach (var l in licencias)
        {
            LicencasVm LicVm = new()
                {
                    TipoLicencia = l.TipoLicencia,
                    Descripcion = l.Descripcion,
                    Desde = l.Desde,
                    Hasta = l.Hasta,
                    EstadoLicencia = l.EstadoLicencia,
                    ApellidoYNombre = l.PersonalAfectado?.Apellido + ", " + l.PersonalAfectado?.Nombre,
                };
            LicenciasActivasVM.Add(LicVm);
        }
    }

    private async void HandleOkAgregar(MouseEventArgs e)
    {
        _visibleAgregar = false;
    }
    public async void HandleCancelAgregar(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visibleAgregar = false;
        await Init();
    }
    private async void ShowModalAgregar()
    {
        _visibleAgregar = true;
        await Init();
    }
    
    public void Dispose()
    {
        Context?.Dispose();
    }
}