@inherits LayoutComponentBase
@inject IconService iconService
@inject NavigationManager navigationManager

<PageTitle>Bomberos Chivilcoy</PageTitle>

<link href="css/layout.css" rel="stylesheet" />

<Layout>
    <Header class="main-header">
        <div class="header-content">
            <Button class="menu-toggle" Type="ButtonType.Primary" OnClick="ToggleCollapsed">
                <Icon Type="@(collapsedMenu ? "menu-unfold" : "menu-fold")" Theme="IconThemeType.Outline" />
            </Button>
            <a class="brand-link" href="/">
                <img class="brand-logo" src="/Imagenes/Logo.svg" alt="Logo" />
                <span class="brand-text">Bomberos Voluntarios Chivilcoy</span>
            </a>
        </div>
    </Header>

    <Layout class="main-layout">
        <Sider class="main-sider" @bind-Collapsed="@collapsedMenu" NoTrigger OnCollapse="OnCollapse">
            <Menu Mode="MenuMode.Inline"
                  InlineCollapsed="collapsedMenu"
                  class="main-menu">

                <MenuItem Key="legajo">
                    <IconTemplate>
                        <i class="fa-solid fa-user menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/Bomberos/Legajo">Legajo</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="licencias">
                    <IconTemplate>
                        <i class="fa-solid fa-file-signature menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/licencias">Licencias</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="moviles">
                    <IconTemplate>
                        <i class="fa-solid fa-truck menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/unidades">Móviles</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="personal">
                    <IconTemplate>
                        <i class="fa-solid fa-people-group menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/bomberos">Personal</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="salidas">
                    <IconTemplate>
                        <i class="fa-solid fa-fire-extinguisher menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/salidas">Salidas</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="firmas">
                    <IconTemplate>
                        <i class="fa-solid fa-scroll menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/incidentes-vehiculos">Firmas</a>
                    </ChildContent>
                </MenuItem>

                <SubMenu Key="reportes" TitleTemplate="@reportesTitle">
                    <MenuItem Key="reportes-salidas">
                        <IconTemplate>
                            <i class="fa-solid fa-clock-rotate-left submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/HistorialSalidas">Historial Salidas</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-bomberos">
                        <IconTemplate>
                            <i class="fa-solid fa-users-gear submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/HistorialBomberos">Historial Bomberos</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-choferes">
                        <IconTemplate>
                            <i class="fa-solid fa-id-card submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/Reportes_Choferes">Choferes</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-moviles">
                        <IconTemplate>
                            <i class="fa-solid fa-truck-droplet submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/HistorialMoviles">Móviles</a>
                        </ChildContent>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="herramientas" TitleTemplate="@herramientasTitle">
                    <MenuItem Key="brigadas">
                        <IconTemplate>
                            <i class="fa-solid fa-users-gear submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Brigadas">Brigadas</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="comunicacion">
                        <IconTemplate>
                            <i class="fa-solid fa-walkie-talkie submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Dependencias/Comunicacion">Comunicación</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="deposito">
                        <IconTemplate>
                            <i class="fa-solid fa-warehouse submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Dependencias/Deposito">Depósito</a>
                        </ChildContent>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="etica" TitleTemplate="@eticaTitle">
                    <MenuItem Key="sanciones">
                        <IconTemplate>
                            <i class="fa-solid fa-user-xmark submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/bomberos/sancionados">Sanciones</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="ascensos">
                        <IconTemplate>
                            <i class="fa-solid fa-user-plus submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/bomberos/ascenso">Ascensos</a>
                        </ChildContent>
                    </MenuItem>
                </SubMenu>
            </Menu>
        </Sider>

        <Layout>
            <Content class="main-content">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>

@code {
    bool collapsedMenu = true;

    void ToggleCollapsed()
    {
        collapsedMenu = !collapsedMenu;
    }

    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }

    RenderFragment reportesTitle =
        @<span class="submenu-title">
        <Icon Type="history" Theme="IconThemeType.Outline" class="submenu-title-icon" />
        <span class="submenu-title-text">Reportes</span>
    </span>;

    RenderFragment herramientasTitle =
        @<span class="submenu-title">
        <Icon Type="tool" Theme="IconThemeType.Outline" class="submenu-title-icon" />
        <span class="submenu-title-text">Herramientas</span>
    </span>;

    RenderFragment eticaTitle =
        @<span class="submenu-title">
        <Icon Type="book" Theme="IconThemeType.Outline" class="submenu-title-icon" />
        <span class="submenu-title-text">Ética</span>
    </span>;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_2735473_hi62ezq5579.js");
        }
    }
}