@using Vista.Data.ViewModels.Incendios;
@using Vista.Data.ViewModels.Personal;

<div class="slick-contenedor @animationClass">
    <h6>Seguro del Vehiculo</h6>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Compañía aseguradora </label>
        <Input @bind-Value="@vehiculo.CompañiaAseguradora" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Número de póliza</label>
        <Input @bind-Value="@vehiculo.NumeroDePoliza" />
    </div>
    @*<div class="inpt-cont">
    <label class="inpt-cont--lbl">Fecha de Venc.</label>
    <DatePicker TValue="DateTime" ShowTime="@true" @bind-Value="@vehiculo.FechaDeVencimineto" />
    </div>*@
</div>
<h6>Datos vehículos</h6>
<div class="inpt-cont-inline">
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Patente</label>
        <Input @bind-Value="@vehiculo.Patente" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Marca</label>
        <Input @bind-Value="@vehiculo.Marca" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Modelo</label>
        <Input @bind-Value="@vehiculo.Modelo" />
    </div>
</div>

<div class="inpt-cont-inline">
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Tipo</label>
        <Input @bind-Value="@vehiculo.Tipo" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Año</label>
        <Input @bind-Value="@vehiculo.Año" />
    </div>
    <div class="inpt-cont">
        <label class="inpt-cont--lbl">Color</label>
        <Input @bind-Value="@vehiculo.Color" />
    </div>
</div>
<div class="inpt-cont-inline">
    <div class="inpt-cont">
        <Checkbox @bind-Checked="vehiculo.Airbag">Airbag</Checkbox>
    </div>
</div>
<div class="inpt-cont">
    <label class="inpt-cont--lbl">Elija el damnificado</label>
    <Select TItem="DamnificadoViewModels"
            TItemValue="string"
            DataSource="@DamnificadosSalida"
            Value="@damnificadoVehiculoId"
            ValueChanged="@UpdateDamnificadoVehiculo"
            LabelName="@nameof(DamnificadoViewModels.NombreYApellido)"
            ValueName="@nameof(DamnificadoViewModels.NombreYApellido)"
            Placeholder="Selecione a un damnificado"
            DefaultActiveFirstOption="false"
            AllowClear="true"
            EnableSearch>
    </Select>
</div>

@code {
    [Parameter] public IncendioViewModels Model { get; set; }
    [Parameter] public string animationClass { get; set; }
    
    [Parameter] public VehiculoDamnificadoViewModels vehiculo { get; set; }
    [Parameter] public List<DamnificadoViewModels> DamnificadosSalida { get; set; }
    [Parameter] public string damnificadoVehiculoId { get; set; }
    [Parameter] public EventCallback<string> damnificadoVehiculoCall { get; set; }

    private async Task UpdateDamnificadoVehiculo(string value)
    {
        damnificadoVehiculoId = value;
        await damnificadoVehiculoCall.InvokeAsync(value);
    }
}