@inject IMessageService message
@inject NavigationManager navigationManager
@page "/salidas/rescates-persona"

@using Vista.Data.ViewModels.Personal;
@using Vista.Data.ViewModels.Rescates;

@*Servicios Utilizados*@
@using Vista.Services;
@inject ISalidaService SalidaService
@inject IBomberoService BomberoService

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;

<Form Model="@PersonaViewModel"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%;overflow: hidden!important;">

    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>RESCATE PERSONA</h2>
        </div>

        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>

        <Flex Justify="center">
            <div class="steps-content" style="max-height: 530px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
                @if (current == 0)
                {
                    @*General*@
                    <DatosGenerales Model="@PersonaViewModel"
                                    animationClass="@animationClass" />
                }
                else if (current == 1)
                {
                    @*Solicitante | Receptor | Damnificado*@
                    <Participantes Model="@PersonaViewModel"
                                   animationClass="@animationClass" />
                }
                else if (current == 2)
                {
                    @*Chofer y Moviles*@
                    <Vehiculos Model="@PersonaViewModel"
                               animationClass="@animationClass" />
                }
                else if (current == 3)
                {
                    @*Bomberos*@
                    <Personal Model="@PersonaViewModel"
                              animationClass="@animationClass" />
                }
                else if (current == 4)
                {
                    @*Tipo servicio*@
                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Tipo Servicio Salida</label>
                        <EnumSelect TEnum="TipoServicioSalida" @bind-Value="@PersonaViewModel.TipoServicio" />
                    </div>

                    @*Propio de rescates*@
                    <div class="inpt-cont">
                        <label class="inpt-cont--lbl">Tipo Lugar de Rescate</label>
                        <EnumSelect TEnum="TipoLugarRescatePersona" @bind-Value="@PersonaViewModel.TipoRescatePersona" />
                    </div>
                }
            </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>
