@inject IMessageService message
@inject NavigationManager navigationManager
@page "/salidas/serviciosColocaciónDriza"

@using Vista.Data.ViewModels.Personal;
@using Vista.Data.Enums;

@*Servicios Utilizados*@
@using Vista.Data.ViewModels.Servicios
@using Vista.Services;
@inject ISalidaService SalidaService
@inject IBomberoService BomberoService

@*Componentes Generales*@
@using Vista.Components.Forms.Salidas.General;

<Form Model="@ColocaciónDrizaViewModel"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Style="width: 100%;height: 100%;overflow: hidden!important;">

    <div class="contenedor" style="max-width: 100%;margin-top: 2em;">

        <div style="text-align: center; margin-bottom: 20px;">
            <h2>SERVICIO DE COLOCACIÓN DE DRIZA</h2>
        </div>

        <Steps Current="current">
            @foreach (var item in steps)
            {
                <Step Title="@item.Title" Subtitle="@item.Content" />
            }
        </Steps>

        <Flex Justify="center">
            <div class="steps-content" style="max-height: 620px;max-width: 450px;padding: 10px;min-width: 320px!important;flex-wrap: wrap;">
                @if (current == 0)
                {
                    @*General*@
                    <DatosGenerales Model="@ColocaciónDrizaViewModel"
                                    animationClass="@animationClass" />
                }
                else if (current == 1)
                {
                    @*Solicitante | Receptor | Damnificado*@
                    <Participantes Model="@ColocaciónDrizaViewModel"
                                   animationClass="@animationClass" />
                }
                else if (current == 2)
                {
		    @*Seguro del Lugar*@
                    <Seguro Model="@ColocaciónDrizaViewModel"
                               animationClass="@animationClass" />
                }
                else if (current == 3)
                {
                    @*Chofer y Moviles*@
                    <Vehiculos Model="@ColocaciónDrizaViewModel"
                               animationClass="@animationClass" />
                }
                else if (current == 4)
                {
                    @*Bomberos*@
                    <Personal Model="@ColocaciónDrizaViewModel"
                              animationClass="@animationClass" />
                }
                else if (current == 5)
                {
                    <h6>Datos Especificos</h6>
		    <div class="inpt-cont-inline">
    			<div class="inpt-cont">
        		    <label class="inpt-cont--lbl">Tipo de Lugar</label>
        		    <input @bind="@ColocaciónDrizaViewModel.TipoLugar" />
    			</div>
    			<div class="inpt-cont">
    			    <label class="inpt-cont--lbl">Nombre Establecimiento</label>
    			    <input @bind="@ColocaciónDrizaViewModel.NombreEstablecimiento" />
		    	</div>
		    </div>
		    <div class="inpt-cont">
    			<label class="inpt-cont--lbl">Detalles</label>
                        <TextArea Placeholder="Detalles" @bind-Value="ColocaciónDrizaViewModel.Detalles" />
		    </div>
                }
            </div>
        </Flex>
        <div class="steps-action">
            @if (current > 0)
            {
                <Button Class="boton_p" OnClick="OnPreClick">Anterior</Button>
            }
            @if (current < steps.Length - 1)
            {
                <Button Class="boton_p" OnClick="OnNextClick">Siguiente</Button>
            }
            @if (current == steps.Length - 1)
            {
                <FormItem WrapperColSpan="16">
                    <Button Class="boton_p" HtmlType="submit">
                        Imprimir salida
                    </Button>
                </FormItem>
            }
            @if (_visible1 == true)
            {
                <ImprimirModal AnioNumeroParte="@ImprimirAnio" NumeroParte="@ImprimirNumeroParte" />
            }
        </div>
    </div>
</Form>

@code {
    private ServicioEspecialColocaciónDrizaViewModels ColocaciónDrizaViewModel = new();

    @*Steps*@

    public int current { get; set; } = 0;//Ubicacion del Step
    private string animationClass = "";

    public class StepItem
    {
        public string? Title { get; set; }
        public string? Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = " ", Content = ""}, /* Datos generales */
        new StepItem {Title = " ", Content = ""}, /* Solicitante / Receptor / Damnificado */
        new StepItem {Title = " ", Content = ""}, /* Seguro del Lugar */
        new StepItem {Title = " ", Content = ""}, /* Vehiculos */
        new StepItem {Title = " ", Content = ""}, /* Personal */
        new StepItem {Title = " ", Content = ""}  /* Salida */
    };

    private void ToggleAnimationD()
    {
        animationClass = "slick-contenedor-D";
    }

    private void ToggleAnimationI()
    {
        animationClass = "slick-contenedor-I";
    }

    void OnPreClick()
    {
        current--;
        ToggleAnimationI();
    }

    void OnNextClick()
    {
        current++;
        ToggleAnimationD();
    }

    @*Carga de Salida*@

    private async void OnFinish(EditContext editContext)
    {

        try
        {
            Bombero? bomberoEncargado = await BomberoService.ObtenerBomberoObjetoPorLegajoAsync(ColocaciónDrizaViewModel.LegajoEncargado);
            Bombero? BomberoLlenoPlanilla = await BomberoService.ObtenerBomberoObjetoPorLegajoAsync(ColocaciónDrizaViewModel.LegajoLLenoPlanilla);

            var numeroParteRescate = await SalidaService.ObtenerSalidaPorNumeroParteAsync<ServicioEspecialColocaciónDriza>(
                ColocaciónDrizaViewModel.NumeroParte,
                m => m.NumeroParte == ColocaciónDrizaViewModel.NumeroParte
            );

            if (numeroParteRescate != null)
            {
                await message.Warning("Numero parte ya existente.");
                return;
            }

            ServicioEspecialColocaciónDriza colocacióndriza = new()
                {
                    NumeroParte = ColocaciónDrizaViewModel.NumeroParte,
                    AnioNumeroParte = ColocaciónDrizaViewModel.AnioNumeroParte,
                    HoraSalida = ColocaciónDrizaViewModel.HoraSalida,
                    HoraLlegada = ColocaciónDrizaViewModel.HoraLLegada,
                    Descripcion = ColocaciónDrizaViewModel.Descripcion,
                    CalleORuta = ColocaciónDrizaViewModel.CalleORuta,
                    NumeroOKilometro = ColocaciónDrizaViewModel.NumeroOKilometro,
                    EntreCalles = ColocaciónDrizaViewModel.EntreCalles,
                    PisoNumero = ColocaciónDrizaViewModel.PisoNumero,
                    Depto = ColocaciónDrizaViewModel.Depto,
                    NombreYApellidoReceptor = ColocaciónDrizaViewModel.NombreYApellidoReceptor,
                    TipoZona = ColocaciónDrizaViewModel.TipoZona,
                    NombreSolicitante = ColocaciónDrizaViewModel.NombreSolicitante,
                    ApellidoSolicitante = ColocaciónDrizaViewModel.ApellidoSolicitante,
                    DniSolicitante = ColocaciónDrizaViewModel.DniSolicitante,
                    TelefonoSolicitante = ColocaciónDrizaViewModel.TelefonoSolicitante,
                    QuienLleno = BomberoLlenoPlanilla,
                    Encargado = bomberoEncargado,

                    //Carga propia de Colocación de Driza
                    TipoLugar = ColocaciónDrizaViewModel.TipoLugar,
                    NombreEstablecimiento = ColocaciónDrizaViewModel.NombreEstablecimiento,
                    Detalles = ColocaciónDrizaViewModel.Detalles,

                    //Seguro = new() <-- Consultar si es requerido
                    //{
                    //    CompañiaAseguradora = PersonaViewModel.CompaniaAseguradora,
                    //    NumeroDePoliza = PersonaViewModel.NumeroPoliza,
                    //    FechaDeVencimineto = PersonaViewModel.FechaVencimineto,
                    //},

                    //Iniciación de Listas
                    Damnificados = new(),
                    Moviles = new(),
                    CuerpoParticipante = new()

                };
           

            //Verifica si hay Bomberos en la Salida y los carga a el modelo de la salida.
            if (ColocaciónDrizaViewModel.CuerpoParticipante != null && ColocaciónDrizaViewModel.CuerpoParticipante.Any())
            {
                colocacióndriza.CuerpoParticipante = ColocaciónDrizaViewModel.CuerpoParticipante.ToList();
            }

            //Verifica si hay Moviles en la Salida y los carga a el modelo de la salida.
            if (ColocaciónDrizaViewModel.Moviles != null && ColocaciónDrizaViewModel.Moviles.Any())
            {
                colocacióndriza.Moviles = ColocaciónDrizaViewModel.Moviles.ToList();
            }

            //Verifica si hay Damnificados en la Salida y los carga a el modelo de la salida.
            if (ColocaciónDrizaViewModel.Damnificados != null && ColocaciónDrizaViewModel.Damnificados.Any())
            {
                colocacióndriza.Damnificados = ColocaciónDrizaViewModel.Damnificados.ToList();
            }

            await SalidaService.GuardarSalida(colocacióndriza);
            HandleOk1(colocacióndriza.AnioNumeroParte, colocacióndriza.NumeroParte);
            Init();
            StateHasChanged();
        }
        catch (Exception e)
        {
            // Notificar al usuario
            if (e.InnerException != null)
                await message.Error(e.InnerException.Message, 5);
            else
                await message.Error(e.Message, 5);
        }
    }

    @*Inicio*@
    protected override void OnInitialized()
    {
        Init();
    }

    private void Init()
    {
        ColocaciónDrizaViewModel = new();
    }

    @*Finish Failed*@
    private void OnFinishFailed(EditContext editContext)
    {
        message.Error("Error al cargar, posible información ausente");
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(ColocaciónDrizaViewModel)}");
    }

    @*Impresión*@
    bool _visible1;

    public int ImprimirAnio;
    public int ImprimirNumeroParte;
    void HandleOk1(int _anio, int _numeroParte)
    {
        ImprimirAnio = _anio;
        ImprimirNumeroParte = _numeroParte;
        _visible1 = true;
    }
}